#from Plugins.Extensions.OpenWebif.local import tstrings
<body> 
	<div data-role="page">
		<div id="header">
			<div class="button" onClick="history.back()">$tstrings['back']</div>
			<h1><a style="color:#FFF;text-decoration:none;" href='/mobile'>OpenWebif</a></h1>
		</div>
		<div id="contentContainer">
			<div id="mainContent" style="text-align: center;">
				<h3>$tstrings['openwebif_header']</h3>
				<h3>$tstrings['site_source']: <a href="https://github.com/E2OpenPlugins/e2openplugin-OpenWebif">Github</a></h3>
				<br>
				<h1>$tstrings['authors']</h1>
				<div style="margin:15 0;">
					meo aka bacicciosat<br>	
					skaman<br>
					Homey-GER<br>
					jbleyel<br>
				</div>
				<h1>$tstrings['javalib']</h1>
				<div style="margin:15 0;">
					<a href="http://jqueryui.com/">jQuery UI</a><br>
					<a href="http://jquerymobile.com/">jQuery Mobile</a>
				</div>
				<h1>$tstrings['template_engine']</h1>
				<div style="margin:15 0;">
					<a href="http://www.cheetahtemplate.org/">Cheetah</a>
				</div>
				<h1>Mobile Apps using OpenWebif</h1>
				<div style="margin:15 0;">
				Android
				<br>
				<a href="market://search?q=pname:net.reichholf.dreamdroid">dreamDroid</a>
				<br>
				<a href="market://search?q=pname:de.cyberdream.dreamepg.free">Dream EPG Free</a>
				<br>
				<a href="market://search?q=pname:de.cyberdream.dreamepg.player">Dream Player</a>
				<br>
				<a href="market://search?q=pname:de.dreizeh.enigmanoid">Enigmanoid</a>
				<br>
				<a href="market://search?q=pname:de.dreizeh.enigmanoid.free">Enigmanoid Free</a>
				<br>
				<br>
				Apple iOS<br>
				<a href="http://itunes.apple.com/en/app/e2remote-pro/id574507135?mt=8" target="_blank">e2Remote&nbsp;Pro&nbsp;(Universal)</a>
				<br>
				<a href="http://itunes.apple.com/en/app/e2remote-hd/id443753334?mt=8" target="_blank">e2Remote&nbsp;HD&nbsp;(iPad)</a>
				<br>
				<a href="http://itunes.apple.com/en/app/e2remote/id406014754?mt=8" target="_blank">e2Remote&nbsp;(iPhone)</a>
				<br>
				<a href="http://itunes.apple.com/en/app/e2remote-lite/id471715969?mt=8" target="_blank">e2Remote&nbsp;Lite&nbsp;(iPhone,&nbsp;free)</a>
				<br>
				<a href="http://itunes.apple.com/de/app/dreamote-pro/id420494500?mt=8">dreaMote Pro </a>
				<br>
				<a href="http://itunes.apple.com/de/app/dreamote-lite/id420498819?mt=8">dreaMote Lite</a>
				<br>
				<br>
				Windows Phone<br>
				<a href="https://www.microsoft.com/en-us/store/p/enigma2-companion-the-app-for-your-dreambox-xtrend-or-vu/9nblggh6cb2x">enigma2 companion</a>
				</div>
				<h1>$tstrings['license']</h1>
				<div style="margin:15 0;">
				$tstrings['license_text']
				</div>
			</div>
		</div>
		<div id="footer">
			<p>OpenWebif Mobile</p>
			<a onclick="document.location.href='/index?mode=fullpage';return false;" href="#">$tstrings['show_full_openwebif']</a>
		</div>
	</div>
 </body>
 <script>\$('head').append('<meta name="apple-itunes-app" content="app-id=574507135">');</script>
</html>
