#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
<body>
	<div data-role="page">
		<div id="header">
			<div class="button" onClick="history.back()">$tstrings['back']</div>
			<h1><a style="color:#FFF;text-decoration:none;" href='/mobile'>OpenWebif</a></h1>
		</div>
		<div id="contentContainer">
			<ul data-role="listview" data-inset="true" data-theme="d">
				<li data-role="list-divider" role="heading" data-theme="b">$tstrings['bouquets']</li>
				#from six.moves.urllib.parse import quote
				#for $bouquet in $bouquets
				<li><a href="/mobile/channels?id=$quote($bouquet[0])">$bouquet[1]</a></li>
				#end for
			</ul>
		</div>
		<div id="footer">
			<p>OpenWebif Mobile</p>
			<a onclick="document.location.href='/index?mode=fullpage';return false;" href="#">$tstrings['show_full_openwebif']</a>
		</div>
	</div>
</body>
</html>
