#from six.moves.urllib.parse import quote
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
<body>
	<div data-role="page">
		<div id="header">
			<h1>OpenWebif</h1>
		</div>
		<div id="contentContainer">
			<ul data-role="listview" data-inset="true" data-theme="d">
				<li data-role="list-divider" role="heading" data-theme="b">Index</li>
				<li><a href="/mobile/control">$tstrings['control']</a></li>
				<li><a href="/mobile/remote">$tstrings['remote']</a></li>
				<li><a href="/mobile/bouquets">$tstrings['bouquets'] ($tstrings['tv'])</a></li>
				<li><a href="/mobile/bouquets?stype=radio">$tstrings['bouquets'] ($tstrings['radio'])</a></li>
				<li><a href="/mobile/timerlist">$tstrings['timer_list']</a></li>
				<li><a href="/mobile/screenshot">$tstrings['screenshot']</a></li>
				<li><a href="/mobile/movies">$tstrings['movies']</a></a></li>
				<li><a href="/mobile/satfinder">$tstrings['satfinder']</a></a></li>
				<li><a href="/mobile/about">$tstrings['about']</a></li>
			</ul>
		</div>
		<div id="footer">
			<p>OpenWebif Mobile</p>
			<a onclick="document.location.href='/index?mode=fullpage';return false;" href="#">$tstrings['show_full_openwebif']</a>
		</div>
		
	</div>
</body>
</html>
