 #from Plugins.Extensions.OpenWebif.local import tstrings
 <div class="page-loader-wrapper">
 	<div class="loader">
 		<div class="preloader">
 			<div class="spinner-layer pl-red">
 				<div class="circle-clipper left">
 					<div class="circle"></div>
 				</div>
 				<div class="circle-clipper right">
 					<div class="circle"></div>
 				</div>
 			</div>
 		</div>
 		<p>$tstrings['loading']...</p>
 	</div>
 </div>
