[MESSAGES CONTROL]
disable=
    C0103,
    C0116,
    E0401,
    W0311,
    R0801,
    E0602,
    C0302,
    R0903,
    C0209,
    W1514,
    R0917,
    W0613,
    R1732,
    R1702,
    missing-docstring,
    too-many-arguments,
    line-too-long
	
