#from Plugins.Extensions.OpenWebif.local import tstrings
<!-- about -->
		<div id="content_main">
			<div id="info">
				<h3>OpenWebif</h3>
				<h2>$tstrings['openwebif_header']</h2>
				<h1>$tstrings['version']: $info.owiver</h1>
				<h2>$tstrings['site_source']: <a href='https://github.com/E2OpenPlugins/e2openplugin-OpenWebif'>Github</a></h2>
				<hr />			
				<img src="images/about.jpg" alt="about">
				<hr />
				<br/>
				<h1>$tstrings['authors']</h1>
				<div class="info">
					meo aka bacicciosat<br/>	
					skaman<br/>
					homey-GER<br/>
					nobody9<br/>
					rincewind<br/>
					jbleyel<br/>
					SpaceRat aka Schimmelreiter<br/>
					plnick
				</div>
				<br/>
				<h1>$tstrings['contributors']</h1>
				<div class="info">
					Army (Graphics)<br/>
					Milo, Cimarast<br/>
					HSA ($tstrings['translation_spanish'])<br/>
				</div>
				<br/>
				<hr />
				<br/>	
				<h1>$tstrings['javalib']</h1>
				<div class="info">
					<a href='http://jqueryui.com/'>Jquery UI</a>
				</div>
				<br/>
				<hr />
				<br/>	
				<h1>$tstrings['template_engine']</h1>
				<div class="info">
					<a href='http://www.cheetahtemplate.org/'>Cheetah</a>
				</div>
				<br/>
				<hr />
				<br/>			
				<h1>$tstrings['license']</h1>
				<pre class="info">
$tstrings['license_text_01']
$tstrings['license_text_02']
$tstrings['license_text_03']
$tstrings['license_text_04']
				</pre>

			</div>
		</div>	
<!-- /about -->
