#filter WebSafe
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#raw
<style>
optgroup{font-weight:bolder;}
fieldset > label{-webkit-margin-top-collapse: separate;margin-top: .5em;margin-bottom: 1em;display: inline-block;}
input#to,input#from,.text.number {width:60px;}
.text.date {width:80px;}
#timerdlgcont #timers {overflow:initial;}
</style>
#end raw
<div id="content_main" style="min-height: 500px;background-image:none;" class="ui-widget-content">
	<div id="info">
		<div style="display: table;width: 100%;">
			<div style="display:table-cell;width:200px;vertical-align:top;">
				<h3 class="ui-widget-header">$tstrings['at_list']</h3>
				<div style="overflow:auto;max-height:600px;">
				<ol class="sellist" id="atlist">
				</ol>
			</div>
			</div>
			<div class="ui-widget-header" style="display:table-cell;background: none;border-bottom:none;border-top:none;border-left:none;width:1px;"></div>
			<div style="display:table-cell;">
				<div style="width: 100%; zoom: 1;">
				<h3 class="ui-widget-header">$tstrings['at_at_edit'] <span id='at_name'></span></h3>
					<div id="ateditcontent">
						<form>
							<fieldset style="border:none">
								<label for="enabled">$tstrings['at_enabled']:</label>
								<input type="checkbox" id="enabled" value="">
								<br><label for="name">$tstrings['at_description']:</label>
								<input type="text" id="name">
								<br><label for="match">$tstrings['at_title_match']:</label>
								<input type="text" id="match">
								<!-- <label for="searchType">$tstrings['at_search_type']:</label> -->
								<select id="searchType">
								<option value="partial" selected="selected">$tstrings['at_partial_match']</option>
								<option value="exact">$tstrings['at_exact_match']</option>
								<option value="description">$tstrings['at_description_match']</option>
								#if $types.has_key('start')
									<option value="start">$tstrings['at_start_match']</option>
								#end if
								</select>
								<!-- <br><label for="searchCase">$tstrings['at_search_strictness']:</label> -->
								<select id="searchCase">
								<option value="sensitive" selected="selected">$tstrings['at_case_sensitive']</option>
								<option value="insensitive">$tstrings['at_case_insensitive']</option>
								</select>
								<br><label for="justplay">$tstrings['at_timer_type']:</label>
								<select id="justplay">
								<option value="0" selected="selected">$tstrings['at_record']</option>
								<option value="1">$tstrings['at_zap']</option>
								<option value="2">$tstrings['at_record']+$tstrings['at_zap']</option>
								</select>
								<label for="overrideAlternatives">$tstrings['at_override_alt']:</label>
								<input type="checkbox" id="overrideAlternatives" value="">
								<br><label for="timeSpan">$tstrings['at_timespan']:</label>
								<input type="checkbox" id="timeSpan" value="">
									<span id="timeSpanE">
									<label for="from">$tstrings['at_timespan_begin']:</label>
									<input type="text" id="from" value="">
									<label for="to">$tstrings['at_timespan_end']:</label>
									<input type="text" id="to" value="">
									</span>
								<br><label for="timeFrame">$tstrings['at_datespan']:</label>
								<input type="checkbox" id="timeFrame" value="">
									<span id="timeFrameE">
									<label for="after">$tstrings['at_datespan_before']:</label>
									<input type="text" id="after" value="" class="text date">
									<input type="checkbox" id="timeFrameAfter" value="">
									<label for="before">$tstrings['at_datespan_after']:</label>
									<span id="beforeE"><input type="text" id="before" value="" class="text date"></span>
									</span>
								<br><label for="timerOffset">$tstrings['at_timer_offset']:</label>
								<input type="checkbox" id="timerOffset" value="">
									<span id="timerOffsetE">
									<label for="tbefore">$tstrings['at_timer_offset_before']:</label>
									<input type="text" id="tbefore" value="" class="text number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
									<label for="tafter">$tstrings['at_timer_offset_after']:</label>
									<input type="text" id="tafter" value="" class="text number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
									</span>
								<br><label for="maxDuration">$tstrings['at_max_duration']:</label>
								<input type="checkbox" id="maxDuration" value="">
									<span id="maxDurationE">
									<label for="maxduration"></label>
									<select id="maxduration">
									</select>
									</span>
								<br><label for="afterevent">$tstrings['at_after_event']:</label>
								<select id="afterevent">
								<option value="" selected="selected">$tstrings['at_after_event_standard']</option>
								<option value="none">$tstrings['at_after_event_nothing']</option>
								<option value="standby">$tstrings['at_after_event_standby']</option>
								<option value="shutdown">$tstrings['at_after_event_deepstandby']</option>
								<option value="auto">$tstrings['at_after_event_auto']</option>
								</select>
								<br><br><span id="AftereventE">
								<label for="timeSpanAE">$tstrings['at_event_timespan']:</label>
								<input type="checkbox" id="timeSpanAE" value="">
									<span id="timeSpanAEE">
									<br><br><label for="from">$tstrings['at_event_timespan_begin']:</label>
									<input type="text" id="aefrom" value="">
									<br><br><label for="to">$tstrings['at_event_timespan_end']:</label>
									<input type="text" id="aeto" value="">
									</span>
								</span>
								<br><label for="counter">$tstrings['at_max_counter']:</label>
								<select id="counter">
								</select>
								<span id="CounterE">
								<label for="left">$tstrings['at_left']:</label>
								<select id="left">
								</select>
								<label for="counterFormat">$tstrings['at_reset_count']:</label>
								<select id="counterFormat" size="1">
								<option value="" selected>$tstrings['at_never']</option>
								<option value="%m">$tstrings['at_monthly']</option>
								<option value="%U">$tstrings['at_weekly_sun']</option>
								<option value="%W">$tstrings['at_weekly_mon']</option>
								</select>
								</span>
								<br><label for="avoidDuplicateDescription">$tstrings['at_avoid_dup']:</label>
								<select id="avoidDuplicateDescription">
								<option value="0" selected="selected">$tstrings['at_avoid_dup_no']</option>
								<option value="1">$tstrings['at_avoid_dup_same_service']</option>
								<option value="2">$tstrings['at_avoid_dup_any_service']</option>
								<option value="3">$tstrings['at_avoid_dup_any_service_rec']</option>
								</select>
								<br><label for="Location">$tstrings['at_location']:</label>
								<input type="checkbox" id="Location" value="">
									<span id="LocationE">
									<label for="location"></label>
									<select id="location">
										#for $location in $locations
											<option value="$location">$location</option>
										#end for
									</select>
									</span>
								<br><label for="Tags">$tstrings['at_tags']:</label>
									<span id="TagsE">
									<select data-placeholder="$tstrings['at_select_tags']" id="tags" class="tags_select_box" multiple tabindex="16">
									</select>
									</span>
								<br><label for="Bouquets">$tstrings['at_bouquets']:</label>
								<input type="checkbox" id="Bouquets" value="">
									<span id="BouquetsE">
									<select data-placeholder="$tstrings['at_select_bouquets']" id="bouquets" class="bq_select_box" multiple tabindex="16">
									</select>
									</span>
								<br><label for="Channels">$tstrings['at_channels']:</label>
								<input type="checkbox" id="Channels" value="">
									<span id="ChannelsE">
									<select data-placeholder="$tstrings['at_select_channels']" id="channels" class="ch_select_box" multiple tabindex="16">
									</select>
									</span>
								<br>
								<br>
								<div>
								<label for="Filter">$tstrings['at_filter']:</label>
								<input type="checkbox" id="Filter" value="" >
									<span id="FilterE" style="display:inline-table">
									<input type="button" id="AddFilter" value="$tstrings['at_add']"/>
									<table id="filterlist">
									<tr id="dummyfilter" style="display:none">
									<td class="nopadding">
									<select size="1" class="FT">
									<option value="include" selected="">$tstrings['at_filter_include']</option>
									<option value="exclude">$tstrings['at_filter_exclude']</option>
									</select>
									</td>
									<td class="nopadding">
									<select size="1" class="FM">
									<option value="title" selected="">$tstrings['at_filter_title']</option>
									<option value="shortdescription">$tstrings['at_filter_short_desc']</option>
									<option value="description">$tstrings['at_filter_desc']</option>
									<option value="dayofweek">$tstrings['at_filter_day']</option>
									</select>
									</td>
									<td class="nopadding">
									<input type="text" class="FI" size="20" value="" style="display: block;">
									<select size="1" class="FS" style="display: none;">
									<option value="0" selected="">$tstrings['monday']</option>
									<option value="1">$tstrings['tuesday']</option>
									<option value="2">$tstrings['wednesday']</option>
									<option value="3">$tstrings['thursday']</option>
									<option value="4">$tstrings['friday']</option>
									<option value="5">$tstrings['saturday']</option>
									<option value="6">$tstrings['sunday']</option>
									<option value="weekend">$tstrings['at_filter_weekend']</option>
									<option value="weekday">$tstrings['at_filter_weekday']</option>
									</select>
									</td>
									<td><input type="checkbox" id="RemoveFilterID" value="" class="FR checkbox"> $tstrings['at_del']</td>
									</tr>
									</table>
									</span>
								</div>
								#if $hasVPS == 1
								<br><label for="vps">$tstrings['vps']:</label>
								<input type="checkbox" id="vps" value="">
								<span id="vpsE">
								<label for="vpssm">$tstrings['safe_mode']:</label>
									<input type="checkbox" id="vpssm" value="">
								</span>
								#end if
								#if $hasSeriesPlugin == 1
								<br><label for="seriesplugin">$tstrings['at_label_series']:</label>
								<input type="checkbox" id="series_labeling" value="">
								#end if
							</fieldset>
						</form>
					<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
						<div id="actions">
						<button id="atbutton0">$tstrings['at_add']</button>
						<button id="atbutton1">$tstrings['at_del']</button>
						<button id="atbutton2">$tstrings['at_reload']</button>
						<button id="atbutton3">$tstrings['at_save']</button>
						<button id="atbutton4">$tstrings['at_parse']</button>
						<button id="atbutton5">$tstrings['at_simulate']</button>
						<button id="atbutton6">Test</button>
						<button id="atbutton7">$tstrings['at_timers']</button>
						<button id="atbutton8" data-title="$tstrings['ats_auto_timer_settings']">$tstrings['at_settings']</button>
						<button id="atbutton9">$tstrings['export']</button>
						<button id="atbutton10">$tstrings['import']</button>
						</div>
					</div>
					<div id="statuscont" style="display:none">
					<div id="statusbox" class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
						<p>
							<span id="statusicon" class="ui-icon ui-icon-alert" style="margin-right: .3em;"></span>
							<span id="statustext"></span>
						</p>
					</div>
					</div>
			</div>
	</div>
	</div>
	</div>
</div>
<div id="simdlg" style="display:none;">
<div style="font-size:smaller;">
<table id="simt" border="0" class="ui-widget" style="margin:3px;width:100%;">
<thead class="ui-widget-header">
<tr><th>State</th><th>$tstrings['name']</th><th>$tstrings['title']</th><th>$tstrings['channel']</th><th>$tstrings['start']</th><th>$tstrings['end']</th></tr>
</thead>
<tbody id='simtb' class="ui-widget-content">
</tbody>
</table>
</div>
</div>

<div id="timerdlg" style="display:none;">
<div id="timerdlgcont">
</div>
<div>

<div id="atsettingdlg" style="display:none;">
<div id="atsettingdlgcont">
<form>
<fieldset>
<label for="ats_autopoll">$tstrings['ats_autopoll']:</label>
<input type="checkbox" id="ats_autopoll" value="" >
<label for="ats_interval">$tstrings['ats_interval']:</label>
<input type="text" size="5" id="ats_interval">
<label for="ats_maxdaysinfuture">$tstrings['ats_maxdaysinfuture']:</label>
<input type="text" size="5" id="ats_maxdaysinfuture">
<br><label for="ats_try_guessing">$tstrings['ats_try_guessing']:</label>
<input type="checkbox" id="ats_try_guessing" value="" >
<label for="ats_fastscan">$tstrings['ats_fastscan']:</label>
<input type="checkbox" id="ats_fastscan" value="" >
<label for="ats_show_in_extensionsmenu">$tstrings['ats_show_in_extensionsmenu']:</label>
<input type="checkbox" id="ats_show_in_extensionsmenu" value="" >
<br><label for="ats_disabled_on_conflict">$tstrings['ats_disabled_on_conflict']:</label>
<input type="checkbox" id="ats_disabled_on_conflict" value="" >
<label for="ats_addsimilar_on_conflict">$tstrings['ats_addsimilar_on_conflict']:</label>
<input type="checkbox" id="ats_addsimilar_on_conflict" value="" >
<br><label for="ats_notifconflict">$tstrings['ats_notifconflict']:</label>
<input type="checkbox" id="ats_notifconflict" value="" >
<label for="ats_notifsimilar">$tstrings['ats_notifsimilar']:</label>
<input type="checkbox" id="ats_notifsimilar" value="" >
<br><label for="ats_add_autotimer_to_tags">$tstrings['ats_add_autotimer_to_tags']:</label>
<input type="checkbox" id="ats_add_autotimer_to_tags" value="" >
<label for="ats_add_name_to_tags">$tstrings['ats_add_name_to_tags']:</label>
<input type="checkbox" id="ats_add_name_to_tags" value="" >

<br><label for="ats_refresh">$tstrings['ats_refresh']:</label>
<select id="ats_refresh" size="1">
	<option value="none" selected="selected">$tstrings['ats_refresh_none']</option>
	<option value="auto" selected="selected">$tstrings['ats_refresh_auto']</option>
	<option value="all" selected="selected">$tstrings['ats_refresh_all']</option>
</select>

<label for="ats_editor">$tstrings['ats_editor']</label>
<select id="ats_editor" size="1">
	<option value="plain" selected="selected">$tstrings['ats_editor_plain']</option>
	<option value="wizzard" selected="selected">$tstrings['ats_editor_wizzard']</option>
</select>

</fieldset>
</form>
</div>
<div>
<form id="uploadrestore" style="display:none" action"uploadrestore"="" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
	<input type="file" name="rfile" id="rfile">
</form>
<script type="text/javascript" src="/js/at-2.8.min.js"></script>
<script type="text/javascript">
#raw
$(function() { InitPage();});
#end raw
</script>
<link rel="stylesheet" type="text/css" href="/css/chosen.min.css" />
#end filter
