#from urllib import quote
#for $bouquet in $bouquets
	<a href="#" onclick="load_tvcontent_spin('ajax/channels?id=$quote($bouquet[0])'); return false">
		<img border='0' src='images/folder.png' alt='' />&nbsp;&nbsp;$bouquet[1]
	</a>
	<br />
#end for