#from Plugins.Extensions.OpenWebif.local import tstrings
<!-- box_info -->
<div id="content_main" class="ui-widget-content">
	<div id="info">
		<h3 class="ui-widget-header">$tstrings['box_info']</h3>
		<hr />
		<img src="images/boxes/${boximage}" id="box_image" alt="box_info">
		<hr />
		<br/>
		<table width="100%">
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['box']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['brand']:</td>
							<td class="inforight">$brand</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['model']:</td>
							<td class="inforight">$model</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['chipset']:</td>
							<td class="inforight">$chipset</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['fp_version']:</td>
							<td class="inforight">$str($fp_version)</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['total_memory']:</td>
							<td class="inforight">$mem1</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['free_memory']:</td>
							<td class="inforight">$mem2</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['box_uptime']:</td>
							<td class="inforight">$uptime</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['software']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['oe_version']:</td>
							<td class="inforight">$oever</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['distro_version']:</td>
							<td class="inforight">$imagedistro</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['firmware_version']:</td>
							<td class="inforight">$imagever</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['driver_date']:</td>
							<td class="inforight">$driverdate</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['kernel_version']:</td>
							<td class="inforight">$kernelver</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['gui_version']:</td>
							<td class="inforight">$enigmaver</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['tuners']</th>
						</tr>
						<tr>
							<td colspan="2">
						#for $tuner in $tuners
							<div style="display:table;width:100%;">
								<div style="display:table-cell;width:10%;padding-left:10px;">
									$tuner.name
								</div>
								<div style="display:table-cell;width:40%;">
									$tuner.type
								</div>
								<div style="display:table-cell;">
									#if $tuner.live != ''
									<div style="display:table;width:100%;">
										<div class='tled-box'><div class='tled green'></div></div>$tuner.live
									</div>
									#end if
									#if $tuner.rec != ''
									<div style="display:table;width:100%;">
										<div class='tled-box'><div class='tled red'></div></div>$tuner.rec
									</div>
									#end if
								</div>
							</div>
						#end for
							</td>
						</tr>
						#if $EX != ''
						<tr><td colspan="2">$EX</td></tr>
						#end if
<!--					<tr><td colspan="2">
						<div class='tled-box'><div class='tled black'></div></div>free
						<div class='tled-box'><div class='tled green'></div></div>Live
						<div class='tled-box'><div class='tled red'></div></div>Record or Stream
						<div class='tled-box'><div class='tled orange'></div></div>Record or Stream and Live
						</td></tr>-->
					</table>
				</td>
			</tr>
			#for $hd in $hdd
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['hdd_model']: $hd.model</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['capacity']:</td>
							<td class="inforight">$hd.capacity ("$hd.labelled_capacity")</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['free']:</td>
							<td class="inforight">$hd.free</td>
						</tr>
					</table>
				</td>
			</tr>
			#end for
			#for $iface in $ifaces
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['network_interface']: $iface.name</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['mac_address']:</td>
							<td class="inforight">$iface.mac</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['ipv6_address']:</td>
							<td class="inforight">$iface.ipv6</td>
						</tr>
						#if $iface.ip != "0.0.0.0"
							<tr>
								<td class="infoleft">$tstrings['ipv4_address']:</td>
								<td class="inforight">$iface.ip/$iface.v4prefix $tstrings['via'] $iface.gw</td>
							</tr>
							<tr>
								<td class="infoleft">$tstrings['dhcp']:</td>
								<td class="inforight">$iface.dhcp</td>
							</tr>
						#end if
					</table>
				</td>
			</tr>
			#end for
		</table>
	</div>
</div>	
<!-- /box_info -->
