#from Plugins.Extensions.OpenWebif.local import tstrings
<!-- box_info -->
<div id="content_main">
	<div id="info">
		<h3>$tstrings['box_info']</h3>
		<hr />
		<img src="images/boxes/${boximage}" id="box_image" alt="box_info">
		<hr />
		<br/>
		<table width="100%">
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain" >
						<tr>
							<th colspan="2" class="infoHeader">$tstrings['box']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['brand']:</td>
							<td class="inforight">$brand</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['model']:</td>
							<td class="inforight">$model</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['chipset']:</td>
							<td class="inforight">$chipset</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['fp_version']:</td>
							<td class="inforight">$str($fp_version)</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['total_memory']:</td>
							<td class="inforight">$mem1</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['free_memory']:</td>
							<td class="inforight">$mem2</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['box_uptime']:</td>
							<td class="inforight">$uptime</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain" >
						<tr>
							<th colspan="2" class="infoHeader">$tstrings['software']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['oe_version']:</td>
							<td class="inforight">$oever</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['distro_version']:</td>
							<td class="inforight">$imagedistro</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['firmware_version']:</td>
							<td class="inforight">$imagever</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['driver_date']:</td>
							<td class="inforight">$driverdate</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['kernel_version']:</td>
							<td class="inforight">$kernelver</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['gui_version']:</td>
							<td class="inforight">$enigmaver</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain" >
						<tr>
							<th colspan="2" class="infoHeader">$tstrings['tuners']</th>
						</tr>
						#for $tuner in $tuners
						<tr>
							<td class="infoleft">$tuner.name:</td>
							<td class="inforight">$tuner.type</td>
						</tr>
						#end for
					</table>
				</td>
			</tr>
			#for $hd in $hdd
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain" >
						<tr>
							<th colspan="2" class="infoHeader">$tstrings['hdd_model']: $hd.model</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['capacity']:</td>
							<td class="inforight">$hd.capacity ("$hd.labelled_capacity")</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['free']:</td>
							<td class="inforight">$hd.free</td>
						</tr>
					</table>
				</td>
			</tr>
			#end for
			#for $iface in $ifaces
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain" >
						<tr>
							<th colspan="2" class="infoHeader">$tstrings['network_interface']: $iface.name</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['dhcp']:</td>
							<td class="inforight">$iface.dhcp</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['ip_address']:</td>
							<td class="inforight">$iface.ip/$iface.v4prefix</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['subnet_mask']:</td>
							<td class="inforight">$iface.mask</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['gateway']:</td>
							<td class="inforight">$iface.gw</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['mac_address']:</td>
							<td class="inforight">$iface.mac</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['ipv6_address']:</td>
							<td class="inforight">$iface.ipv6</td>
						</tr>
					</table>
				</td>
			</tr>
			#end for
		</table>
	</div>
</div>	
<!-- /box_info -->
