#filter WebSafe
#from Plugins.Extensions.OpenWebif.local import tstrings

<style>
	.select { width: 100%; }
	.sortable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
	.sortable li { margin: 0 1px 1px 2px; padding-left: 1.5em; font-size: .8em;  height:20px;}
	.sortable li span { margin: 0 0 0 -1.5em; display: inline-block; }

	 #bql li .handle { display: inline-block;width: 2em;}
	 #bqs li .handle { display: inline-block;width: 2em;}

	.selectable .ui-selecting { background: #FECA40; }
	.selectable .ui-selected { background: #F39814; color: white; }
	.selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	.selectable li { margin: 1px; padding: 0.1em; font-size: 1em; height: 20px; }
</style>
<div id="content_main" style="min-height: 500px;">
<div id="info">
<h3>$tstrings['Bouquet_Editor']</h3>
<div style="background-color: #EEE">
<div style="display: inline-block; width: 100%; zoom: 1;">

<div style="width:50%; height:50%; float:left">
<div style="padding:5px;">

<div id="toolbar-header">
<span id="toolbar"><span id="tb1">
<input type="radio" id="btn0" name="tb1" checked="checked" /><label for="btn0">$tstrings['tv']</label>
<input type="radio" id="btn1" name="tb1"/><label for="btn1">$tstrings['radio']</label>
</span></span>
</div>

<div id="toolbar-header">
<span id="toolbar"><span id="tb2">
<input type="radio" id="btn2" name="tb2" /><label for="btn2">$tstrings['satellites']</label>
<input type="radio" id="btn3" name="tb2" checked="checked" /><label for="btn3">$tstrings['providers']</label>
<input type="radio" id="btn4" name="tb2" /><label for="btn4">$tstrings['all_channels']</label>
</span></span>
</div>
	<div id="sel0" style="height: 200px;overflow-y:scroll;">
	<ol id="provider" class="selectable" >
	</ol>
	</div>
	<div style="margin:5px 0 5px 0;">
		<button id='btnaddp' onclick="addprovider(); return false;">$tstrings['bqe_add_provider_as_bouquet']</button>
	</div>
	<div>
	<div style="margin:5px 0 5px 0;">
	$tstrings['bqe_search'] :<input id="searchch" value="...">
	</div>
	</div>

	<div id="sel1" style="height: 300px;overflow-y:scroll;">
	<ol id="channels" class="selectable" >
	</ol>
	</div>
	
	<div style="margin:5px 0 5px 0;">
		<button id='btnaddc' onclick="addchannel(); return false;">$tstrings['bqe_add_channel']</button>
		<button id='btnadda' onclick="addalter(); return false;">$tstrings['bqe_add_alternative']</button>
	</div>

</div></div>

<div style="width:50%; height:50%; float:right">
<div style="padding:5px;">
<div id="toolbar-header">
<span id="toolbar"><span id="tb3">
<button id="btn5">$tstrings['bqe_reload']</button>
<button id="btn6">$tstrings['bqe_export']</button>
<button id="btn7">$tstrings['bqe_import']</button>
</span></span>
</div>
	<div style="padding:5px;">
	<div id="sel2" style="height: 280px;overflow-y:scroll;">
	<ol id="bql" class="selectable" >
	</ol>
	</div>
	<div style="margin:5px 0 5px 0;">
		<button id='btnbadd' onclick="addbq(); return false;">$tstrings['bqe_add_bq']</button>
		<button id='btnbren' onclick="renbq(); return false;">$tstrings['bqe_rename_bq']</button>
		<button id='btnbdel' onclick="delbq(); return false;">$tstrings['bqe_delete_bq']</button>
	</div>
	
	<div id="sel3" style="height: 300px;overflow-y:scroll;">
	<ol id="bqs" class="selectable" >
	</ol>
	</div>
	<div style="margin:5px 0 5px 0;">
		<button id='btncdel' onclick="delc(); return false;">$tstrings['bqe_delete_channel']</button>
		<button id='btnmadd' onclick="addm(); return false;">$tstrings['bqe_add_marker']</button>
		<button id='btnmgren' onclick="renmg(); return false;">$tstrings['bqe_rename']</button>
	</div>
	
	</div>
</div>

</div>
</div>
<div id="errorbox" class="timerlist_row" style="color: red;">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
	<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
		<span id="error"></span>
		<span id="success" style="color: green;"></span>
	</div>
</div>

</div></div></div>
<form id="uploadrestore" style="display:none" action"uploadrestore" method="post" enctype="multipart/form-data" encoding="multipart/form-data" >
<input type="file" name="rfile" id="rfile">
</form>
<script type="text/javascript" src="js/bqe.js"></script>
<script type="text/javascript">
#raw
$(function() { InitPage();});
#end raw
</script>
#end filter
