#for $channel in $channels
			<table width="100%">
				<tbody>
					<tr class="channel_tr">	
						<div style="padding-top: 3px">								
						<div style="border-top: 1px solid #4297d7;">					
						<div class="channel_left">
							<a href="#" onclick="zapChannel('$channel.ref', '$channel.name'); return false" title="Zap to $channel.name">$channel.name</a><br />
						</div>
						<div class="channel_right">
							<a href="#" onclick="open_epg_pop('$channel.ref')">
							<img src="../images/ico_epg.png" title="Show EPG for $channel.name" border="0">
							</a>
							<a target="_blank" href='/web/stream.m3u?ref=$channel.ref&name=$channel.name'>
							<img align="top" src="../images/ico_stream.png" title="Stream $channel.name" border="0">
							</a>
						</div>
					
#if $channel.has_key('now_title')
												
						<div class="channel_left">
						<div style="margin-bottom: 2px">						
							$channel.now_begin - $channel.now_end &nbsp;&nbsp;&nbsp;
						<a href='#' onClick="toggle_chan_des('$channel.now_ev_id', '$channel.ref', '$channel.now_idp'); return false" title="$channel.now_title description">$channel.now_title</a>
						</div>
						</div>
						<div class="channel_right">
							+$channel.now_left min
						</div>
						<div class="channel_desc" id="$channel.now_idp">no description available</div>
						<div class="channel_content">
							<div class="meter-wrap">
							<div class="meter-value" style="background-color: #F68014; width: ${channel.progress}px;"></div></div>
						</div>				
						<div class="channel_left">
							$channel.next_begin - $channel.next_end &nbsp;&nbsp;&nbsp;
						<a href='#' onClick="toggle_chan_des('$channel.next_ev_id', '$channel.ref', '$channel.next_idp'); return false" title="$channel.next_title description">$channel.next_title</a>
						</div>	
						<div class="channel_right">
							$channel.next_duration min
						</div>							
						<div class="channel_desc" id="$channel.next_idp">no description available</div>
						</div>
#end if		
					</tr>
				</tbody>
			</table>
#end for

