#from Plugins.Extensions.OpenWebif.local import tstrings

<form>
<div>
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['name']:</span>
		<span><input type="text" name="timername" id="timername" style="width: 450px;" class="text ui-widget-content ui-corner-all" /></span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['description']:</span>
		<span><textarea name="description" id="description" style="width: 450px; height: 50px;" class="text ui-widget-content ui-corner-all" /></span>
	</div>
	
	<div class="timerlist_row">
	<span class="timerlist_row_l">$tstrings['channel']:</span>
		<span>
		<select id="bouquet_select" name="bouquet_select">
			<option value="0">$tstrings['nothing']</option>
		</select>
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['start']:</span>
		<span>
		<input type="text" name="timerbegin" id="timerbegin" value="" class="text ui-widget-content ui-corner-all" />
		</span>
	</div>

	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['end']:</span>
		<span>
		<input type="text" name="timerend" id="timerend" value="" class="text ui-widget-content ui-corner-all" />
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l" style="block: inline;">$tstrings['enabled']:</span>
		<span style="margin: 5px;">
			<input type="checkbox" name="enabled" id="enabled" value="0" />
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['just_play']:</span>
		<span style="margin: 5px;">
			<input type="checkbox" name="justplay" id="justplay" value="0" />
		</span>
	</div>

	<div class="timerlist_row" id="always_zap1">
		<span class="timerlist_row_l">Record+ZAP:</span>
		<span style="margin: 5px;">
			<input type="checkbox" name="always_zap" id="always_zap" value="0" />
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['repeated']:</span>
		<span id="repeatdays" style="margin: 5px;">
		#set $i=0
		#for $day in [$tstrings['mo'], $tstrings['tu'], $tstrings['we'], $tstrings['th'], $tstrings['fr'], $tstrings['sa'], $tstrings['su']]
			#set $value = 2 ** $i
			<input type="checkbox" name="repeated" id="day$i" value="$value" /><label for="day$i">$day</label>
			#set $i=$i+1
		#end for
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['location']:</span>
		<span>
		<select id="dirname" name="dirname">
			<option value="None">$tstrings['default']</option>
		</select>
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['tags']:</span>
		<span id="tagsnew" style="margin:5px">
		</span>
	</div>
	
	<div class="timerlist_row">
		<span class="timerlist_row_l">$tstrings['after_event']:</span>
		<span>
		<select id="afterevent" name="afterevent">
			<option value="0">$tstrings['nothing']</option>
			<option value="1">$tstrings['standby']</option>
			<option value="2">$tstrings['shutdown']</option>
			<option value="3" selected="">$tstrings['auto']</option>
		</select>
		</span>
	</div>
	<div class="timerlist_row" id="has_vpsplugin1">
		<span class="timerlist_row_l">$tstrings['vps']:</span>
		<span style="margin: 5px;">
			<input type="checkbox" name="vpsplugin_enabled" id="vpsplugin_enabled" value="0" />
		</span>
		<span id="has_vpsplugin2" class="timerlist_row_r">$tstrings['safe_mode']:</span>
		<span style="margin: 5px;">
			<input type="checkbox" name="vpsplugin_safemode" id="vpsplugin_safemode" value="0" />
		</span>
	</div>
	<div id="errorbox" class="timerlist_row" style="color: red;">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
			<span id="error"></span>
		</div>
	</div>
</div>
</form>

<script src="/js/jquery-ui-timepicker-addon.min.js"></script>

<script type="text/javascript">

#raw

initTimerEditBegin();

$('#vpsplugin_enabled').click(function() { checkVPS();});

$('#always_zap').click(function() {
	$('#justplay').prop("disabled",$('#always_zap').is(':checked'));
});

$('#timerend').datetimepicker({
	
	timeText: tstr_time,
	hourText: tstr_hour,
	minuteText: tstr_minute,
	currentText: tstr_now,
	closeText: tstr_done,
	monthNames: [tstr_january, tstr_february, tstr_march, tstr_april, tstr_may, tstr_june, tstr_july, tstr_august, tstr_september, tstr_october, tstr_november, tstr_december],
	dayNames: [tstr_sunday, tstr_monday, tstr_tuesday, tstr_wednesday, tstr_thursday, tstr_friday, tstr_saturday, tstr_sunday],
	dayNamesMin: [tstr_su, tstr_mo, tstr_tu, tstr_we, tstr_th, tstr_fr, tstr_sa, tstr_su],
	
	dateFormat: 'dd.mm.yy',
	timeFormat: 'HH:mm',
	onClose: function(dateText, inst) {
		if (!timeredit_begindestroy && $('#timerbegin').val() != '' &&	
			$('#timerbegin').datetimepicker('getDate') > $(this).datetimepicker('getDate')) {
				$('#error').text(tstr_start_after_end);
				$('#errorbox').show();
		}
		else
			$('#errorbox').hide();
	}
});

$('#repeatdays').buttonset();

$('#editTimerForm').dialog({
	autoOpen: false,
	height: 480,
	width: 650,
	modal: true,
	buttons: [
			{text: tstr_save,
			click: function() {
				var enddate = new Date($('#timerend').datetimepicker('getDate'));
				var repeated = 0;
				$('[name="repeated"]:checked').each(function() {
					repeated += parseInt($(this).val());
				});
				var tags = "";
				$('[name="tagsnew"]:checked').each(function() {
					if(tags!="")
						tags+=" ";
					tags += $(this).val();
					
				});
				var urldata = { sRef: $('#bouquet_select').val(),
					end: Math.round(enddate.getTime() / 1000),
					name: $('#timername').val(),
					description: $('#description').val(),
					disabled: ($('#enabled').is(':checked')?"0":"1"),
					afterevent: $('#afterevent').val(),
					tags: tags,
					repeated: repeated };
				
				if($('#always_zap').is(':checked')) {
					urldata["always_zap"] = "1";
					urldata["justplay"] = "0";
				}
				else
					urldata["justplay"] = $('#justplay').is(':checked')?"1":"0";
				
				if ($('#dirname').val() != 'None')
					urldata["dirname"] = $('#dirname').val();
				if (!$('#has_vpsplugin1').is(':hidden'))
				{
					urldata["vpsplugin_enabled"] = ($('#vpsplugin_enabled').is(':checked')?"1":"0");
					urldata["vpsplugin_overwrite"] = ($('#vpsplugin_safemode').is(':checked')?"0":"1");
				}
				if (!timeredit_begindestroy) {
					var begindate = new Date($('#timerbegin').datetimepicker('getDate'));
					urldata["begin"] = Math.round(begindate.getTime() / 1000);
				}
				else
					urldata["begin"] = Math.round(current_begin);
				
				var canclose = false;
				if (current_serviceref == "") {
					$.ajax({
						async: false,
						url: "/api/timeradd?",
						data: urldata,
						success: function(data) {
							result = $.parseJSON(data);
							if (result.result) {
								canclose = true;
							}
							else {
								$("#error").text(result.message);
								$("#errorbox").show();
							}
						}
					});
				}
				else {
					urldata['channelOld'] = current_serviceref;
					urldata['beginOld'] = Math.round(current_begin);
					urldata['endOld'] = Math.round(current_end);
					$.ajax({
						async: false,
						url: "api/timerchange?",
						data: urldata,
						success: function(data) {
							result = $.parseJSON(data);
							if (result.result) {
								canclose = true;
							}
							else {
								$("#error").text(result.message);
								$("#errorbox").show();
							}
						}
					});
				}
				
				if (canclose) {
					if (reloadTimers) load_maincontent("ajax/timers");
					$(this).dialog("close");
				}
			}
		},
		{
			text: tstr_close,
			click: function() {
				$(this).dialog("close");
			}
		}
	],
	close: function() {
		return;
	}
});

checkVPS();

#end raw

</script>
