#filter WebSafe
#from Plugins.Extensions.OpenWebif.local import tstrings
<style>
optgroup {font-weight: bolder;}
label
{
	-webkit-margin-top-collapse: separate;
	margin-top: 1.5em;
	display: inline-block;
}
</style>
<div id="content_main" style="min-height: 500px;">
<div id="info">
<div style="background-color: #00000">
<div style="display: inline-block; width: 100%; zoom: 1;">
<h3>EPG Refresh</h3>
<div id="epgrefreshcontent">
	<form>
	<fieldset>
		<label for="enabled">$tstrings['er_enabled']:</label>
		<input type="checkbox" name="er_enabled" id="er_enabled" value="" class="checkbox ui-widget-content ui-corner-all">
		<br><label for="er_enablemessage">$tstrings['er_enable_messages']:</label>
		<input type="checkbox" name="er_enablemessage" id="er_enablemessage" value="" class="checkbox ui-widget-content ui-corner-all">
		<br><label for="er_begin">$tstrings['er_begin']:</label>
		<input type="text" name="er_begin" id="er_begin" value="" class="text date ui-widget-content ui-corner-all">
		<br><label for="er_end">$tstrings['er_end']:</label>
		<input type="text" name="er_end" id="er_end" value="" class="text date ui-widget-content ui-corner-all">
		<br><label for="er_delay_standby">$tstrings['er_delay_standby']:</label>
		<input type="text" name="er_delay_standby" id="er_delay_standby" class="text ui-widget-content ui-corner-all">
		<br><label id="lblm" for="er_interval">$tstrings['er_interval_min']:</label><label id="lbls" for="er_interval">$tstrings['er_interval_sec']:</label>
		<input type="text" name="er_interval" id="er_interval" class="text ui-widget-content ui-corner-all">
		<br><label for="er_afterevent">$tstrings['er_afterevent']:</label>
		<input type="checkbox" name="er_afterevent" id="er_afterevent" value="" class="checkbox ui-widget-content ui-corner-all">
		<br><label for="er_force">$tstrings['er_force']:</label>
		<input type="checkbox" name="er_force" id="er_force" value="" class="checkbox ui-widget-content ui-corner-all">
		<br><label for="er_wakeup">$tstrings['er_wakeup']:</label>
		<input type="checkbox" name="er_wakeup" id="er_wakeup" value="" class="checkbox ui-widget-content ui-corner-all">
		<span id="er_hasAT"><br><label for="er_inherit_autotimer">$tstrings['er_inherit_autotimer']:</label>
		<input type="checkbox" name="er_inherit_autotimer" id="er_inherit_autotimer" value="" class="checkbox ui-widget-content ui-corner-all">
		<br><label for="er_parse_autotimer">$tstrings['er_parse_autotimer']:</label>
		<select name="er_parse_autotimer" id="er_parse_autotimer">
		<option value="always">$tstrings['er_always']</option>
		<option value="never" selected="selected">$tstrings['er_never']</option>
		<option value="bg_only">$tstrings['er_bg_only']</option>
		<option value="ask_yes">$tstrings['er_ask_yes']</option>
		<option value="ask_no">$tstrings['er_ask_no']</option>
		</select>
		</span><br><label for="er_adapter">$tstrings['er_adapter']:</label>
		<select name="er_adapter" id="er_adapter">
		<option value="main" selected="selected">$tstrings['er_main']</option>
		<option value="pip">$tstrings['er_pip']</option>
		<option value="pip_hidden">$tstrings['er_pip_hidden']</option>
		<option value="record">$tstrings['er_fake_recording']</option>
		</select>
		<br><label for="bouquets">$tstrings['at_bouquets']:</label>
		<select data-placeholder="$tstrings['at_select_bouquets']" name="bouquets" id="bouquets" class="bq_select_box" multiple tabindex="16">
		</select>
		<br><label for="channels">$tstrings['at_channels']:</label>
		<select data-placeholder="$tstrings['at_select_channels']" name="channels" id="channels" class="ch_select_box" multiple tabindex="16">
		</select>
	</fieldset>
	</form>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
	<div id="actions">
	<button id="epgrbutton0">$tstrings['er_reload']</button>
	<button id="epgrbutton1">$tstrings['er_save']</button>
	<button id="epgrbutton2">$tstrings['er_refresh']</button>
	</div></div>
	<div id="errorbox" class="timerlist_row" style="color: red;">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
	<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
	<span id="error"></span>
	<span id="success" style="color: green;"></span>
	</div>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="js/epgr.js"></script>
<script type="text/javascript">
#raw
$(function() { InitPage();});
#end raw
</script>
<link rel="stylesheet" type="text/css" href="css/chosen.min.css" />
#end filter
