#from urllib import quote
#from json import dumps
#set $etime = time.localtime($event.begin)
#set $channel = $event.channel.replace("'", r"\'")
#set $title = $event.title.replace("'", r"\'")
#set $sref=quote($event.sref, safe=' ~@#$&()*!+=:;,.?/\'')
#from Plugins.Extensions.OpenWebif.local import tstrings

<style>
.tb { display:inline-block; margin-top:10px;width: 36px; height: 36px;}
.bb {width: 38px; height: 38px; margin-top:10px;}
#cl { font-size:32px;margin-top:7px; }
#pp { font-size:14px; margin-left:24px; margin-top:-38px; }
#tp {font-family: Arial;font-weight:bold; font-size:12px; margin-left:22px; margin-top:-38px; }
#tp2 {font-weight:bold; font-size:20px; margin-left:22px; margin-top:-44px; }
.fl { float:left;}
.fr { float:right;}
#station { cursor:pointer;}

.im { font-family:Impact,Arial;font-size:20px; margin-top:15px;}
.d_timer{display:none;}

</style>

<!-- Icons from: http://findicons.com/pack/1987/eico -->
<div id="leftmenu_main ui-widget-content">
	<div id="leftmenu_top" class="handle ui-widget-header" style="cursor:move">$channel
		<div id="leftmenu_expander_main" class="ui-selectmenu-icon ui-icon ui-icon-closethick" onclick="\$('#eventdescription').hide(200)"></div>
	</div>
	<div id="leftmenu_container_main" class="ui-widget-content" style="padding:6px">
		<div style="float:left; width:80px;">
			<div id="station" style="background-color: #1c478e; padding:2px; width:75px; text-align:center; overflow:hidden" onclick="zapChannel('$str($event['sref'])', '$channel')" title="$tstrings['zap']">$event['channel']</div>
		
			<div style="background-color: #1c478e; color:#fff; width:79px; font-size:23px; margin-top: 5px; text-align:center">
				$event.begin_str<br/>
				<span style="font-size:12px; color:#A9D1FA">$int($event.duration/60) min</span>
			</div>

			<div style="background-color: #1c478e; color:#fff; width:79px;margin:5px 0">
				<div style="font-size:23px; text-align:center">$tstrings[("day_" + ($time.strftime("%w", $etime)))]</div>
				<div style="color:#A9D1FA; text-align:center">$time.strftime("%d", $etime) $tstrings[("month_" + ($time.strftime("%m", $etime)))]</div>
			</div>

			<div style="margin-left:1px; margin-right:3px;">
				
			#if $transcoding
			<a class="fl" href="#" onclick="jumper8001('$sref', '$channel');" title="$tstrings['stream']: $channel"><i class="fa fa-desktop" style="font-size:22px;"></i></a>
			<a class="fr" href="#" onclick="jumper8002('$sref', '$channel');" title="$tstrings['stream'] ($tstrings['transcoded']): $channel"><i class="fa fa-mobile" style="font-size:26px;margin-top:-3px;"></i></a>
			#else
			<a class="fl" target="_blank" href='../web/stream.m3u?ref=$sref&name=$channel' title="$tstrings['stream'] $channel"><i class="fa fa-desktop" style="font-size:22px;"></i></a>
			#end if
			
			<br>
			
			<a class="tb fl" href="#" onclick="addTimerEvent('$sref',$event.id);return false;" title="$tstrings['add_timer']">
			<span class="bb">
			<i id="cl" class="fa fa-clock-o"></i>
			<i id="tp2" class="fa b">+</i>
			</span>
			</a>
			
			<a class="tb fr" href="#" onclick="addTimerEventPlay('$sref',$event.id);return false;" title="$tstrings['add_zaptimer']">
			<span class="bb">
			<i id="cl" class="fa fa-clock-o"></i>
			<i id="pp" class="fa fa-play"></i>
			</span>
			</a>
			
			<br>
			
			<a class="tb fl" href="#" onclick="addEditTimerEvent('$sref',$event.id);return false;" title="$tstrings['edit_timer']">
			<span class="bb">
			<i id="cl" class="fa fa-clock-o"></i>
			</span>
			</a>

			#if $at
			
			<a class="tb fr" href="#" onclick="addAutoTimerEvent('$sref','$channel','$title','$event.begin_str','$event.end');return false;" title="$tstrings['add_autotimer']">
			<span class="bb">
			<i id="cl" class="fa fa-clock-o"></i>
			<i id="tp" class="fa">AT</i>
			</span>
			</a>
			
			#end if
			
			<br>
			
			<a class="d_timer tb" href="#" onclick="delTimerEvent(this);return false;" title="$tstrings['delete_timer']">
			<span class="bb">
			<i id="cl" class="fa fa-clock-o"></i>
			<i id="pp" class="fa fa-trash"></i>
			</span>
			</a>
			
			<br>
			
				#if $kinopoisk
				<a class="tb fl" target="_blank" href="http://www.kinopoisk.ru/index.php?first=no&kp_query=$quote($event.title)"><img src="../images/kinopoisk.png" style="width:24px; height:24px; margin:0px 3px 0px 0px" title="$tstrings['search_kinopoisk']" border="0"></a>
				#else
				<a class="im tb fl" target="_blank" href="http://www.imdb.com/find?s=all&amp;q=$quote($event.title)" title="$tstrings['search_imdb']">IMDb</a>
				#end if

			</div>
		</div>
		<div style="float:left; width:250px; margin-left: 5px">
			<div style="font-size: 13px; font-weight: bold">$event.title</div>
#if $event.title != $event.shortdesc
			<div style="font-size: 12px; font-weight: bold">$event.shortdesc</div>
#end if
			<div style="max-height:400px; overflow:auto"><p>$(event.longdesc.replace("\n","<br/>").replace(u"\u008a","<br/>"))</p></div>
		</div>
		<div style="clear:left"></div>
	</div>
</div>
<script>
var theevent = $dumps($event);
if (picons[theevent['channel']])
	\$('#station').html('<img src="'+picons[theevent['channel']]+'" width="75" />');
</script>
