#from Plugins.Extensions.OpenWebif.local import tstrings
<div style="height: 300px; width:500px">
			<div class="sendMessageContainer">
				<table style="width: 90%;" align="center">
					<tbody>
					<tr>
						<td>$tstrings['text']</td>
						<td><textarea rows="3" cols="30" id="messageText"></textarea></td>
					</tr>
					<tr>
						<td>$tstrings['timeout']</td>
						<td><input type="text" value="30" id="messageTimeout"></td>
					</tr>
					<tr>
						<td>$tstrings['type']</td>
						<td>
							<select id="messageType">
								<option value="1">$tstrings['info']</option>
								<option value="2">$tstrings['warning']</option>
								<option value="3">$tstrings['error']</option>
								<option value="0">$tstrings['yes_no']</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<div id="messageSentResponse"></div>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
</div>
