#from urllib import quote
#from Plugins.Extensions.OpenWebif.local import tstrings
#from json import dumps
#from Plugins.Extensions.OpenWebif.controllers.views.ajax.renderevtblock import renderEvtBlock

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../images/favicon.png">
<link rel="stylesheet" type="text/css" href="../css/style.min.css" />
<link type="text/css" href="../css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="../js/openwebif-1.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.fixedheadertable.min.js"></script>
<script type="text/javascript">initJsTranslation($dumps($tstrings))</script>

<title>Open Webif $tstrings['multi_epg']</title>
</head>

<body>

<style>
body {background-image: none;background-color: #FFF; }
#tvcontent {padding:0px;}
table { font-family: Verdana; font-size: 11px; }
tr { vertical-align: top }
.service { font-weight: bold; font-size: 12px; color:#fff; background-color: #1c47ae; line-height:30px; padding: 3px; white-space: nowrap; overflow: hidden; width: 184px}
.service img { width:50px; height:30px; float:left; margin-right:10px; }
.title { font-weight: bold; color: #061c37; }
.desc { font-size: 10px; color: #176093; }
.even { background-color: #dfeffc; }
.border { border-right: 1px solid #4297d7; }
.event { cursor: pointer; width: 190px; overflow:hidden; }
.bq { background-color: #1c478e; font-size: 11px; font-weight: bold; color: #fff; padding: 2px 4px; line-height: 18px; cursor: pointer; white-space: nowrap; display: inline-block; margin: 1px 1px; }
.bq.selected { color: #A9D1FA; }
.plus { background-color: #dfeffc; font-size: 13px; font-weight: bold; color: #1c478e; padding: 2px 4px; line-height: 21px; cursor: pointer; white-space: nowrap; }
.plus.selected { color: #ea7409; }
.timer { color: #f00; font-weight: bold; font-size: 10px; }
.timer.disabled { color: #f80; }
#eventdescription { width: 375px; height: auto; position: fixed; top: 205px; left: 350px; z-index: 1000; display: none; overflow: auto; }
html, body, #tvcontent { width:100%; height:100%;}
.fht-table,.fht-table thead,.fht-table tfoot,.fht-table tbody,.fht-table tr,.fht-table th,.fht-table td{font-size:100%;font:inherit;vertical-align:top;margin:0;padding:0}
.fht-table{border-collapse:collapse;border-spacing:0}
.fht-table-wrapper,.fht-table-wrapper .fht-thead,.fht-table-wrapper .fht-tfoot,.fht-table-wrapper .fht-fixed-column .fht-tbody,.fht-table-wrapper .fht-fixed-body .fht-tbody,.fht-table-wrapper .fht-tbody{overflow:hidden;position:relative}
.fht-table-wrapper .fht-fixed-body .fht-tbody,.fht-table-wrapper .fht-tbody{overflow:auto}
.fht-table-wrapper .fht-table .fht-cell{overflow:hidden;height:1px}
.fht-table-wrapper .fht-fixed-column,.fht-table-wrapper .fht-fixed-body{top:0;left:0;position:absolute}
.fht-table-wrapper .fht-fixed-column{z-index:1}
#atdialog { width: 90%; height: auto; position: fixed; top: 10px; left: 10px; z-index: 1001; display: none; overflow: auto; }
}
</style>
<div id="tvcontent">
<table style="margin:0">
<tr>
#for $slot in range(0,7)
	<td class="plus #if $slot==$day then 'selected' else '' #" js:day="$(slot)">$tstrings[("day_" + (time.strftime("%w", time.localtime(time.time()+86400*slot))))]</td>
#end for
</tr>
</table>

<table>
<tr>
#for $bq in $bouquets
<td class="bq #if $bq[0]==$bref then 'selected' else '' #" js:ref="$quote($bq[0])">$bq[1]</td>
#end for
</tr>
</table>

#set $renderEventBlock = $renderEvtBlock()
<table cellpadding="0" cellspacing="0" id="TBL1">
#block channelsInBouquet
<thead>
<tr>
	#for $sname, $eventlist in $events.iteritems()
	<th class="border"><div class="service"><img src="$(picons[$sname])" /> $sname</div></th>
	#end for
</tr>
</thead>
#end block
<tbody>
	#set hasEvents = False
	#for $slot in range(0,12)
<tr class="$(slot%2 and 'odd' or 'even')">
	#for $sname, $eventlist in $events.iteritems()
<td class="border">
	#for $event in $eventlist[$slot]
		$renderEventBlock.render($event)
		#set hasEvents = True
	#end for
</td>
	#end for
</tr>
	#end for
</tbody>
</table>
</div>
<div id="eventdescription"></div>
<div id="atdialog">
<div id="toolbar-header" class="athandle" style="height:30px;cursor:move">
<div id="leftmenu_expander_main" class="leftmenu_icon leftmenu_icon_collapse" onclick="\$('#atdialog').hide(200)"></div>
</div>
<div id="content_container"></div></div>
#if $reloadtimer==1
<div id="editTimerForm" title="$tstrings['edit_timer']"></div>
#end if

<script>
var picons = $dumps($picons);
var reloadTimers = false;
\$(".bq").click(function() {
	var id = \$(this).attr("js:ref");
	\$("#tvcontent").html(loadspinner).load('../ajax/multiepg2?reloadtimer=0&bref='+id);
});
\$(".event").click(function() {
	var id = \$(this).attr("js:id");
	var ref = \$(this).attr("js:ref");
	\$("#eventdescription").load('../ajax/event?idev='+id+'&sref='+escape(ref), function() { 
		\$("#eventdescription").show(200).draggable( { handle: ".handle" } );
	});
});
\$(".plus").click(function() {
	var day = \$(this).attr("js:day");
	\$("#tvcontent").html(loadspinner).load('../ajax/multiepg2?reloadtimer=0&bref=${quote($bref)}&day='+day);
});
\$('#editTimerForm').load('../ajax/edittimer');

\$('#TBL1').fixedHeaderTable({ 
	footer: true,
	cloneHeadToFoot: true,
	altClass: 'odd',
	autoShow: true
});

</script>
</body>
</html>
