#from urllib import quote
#from Plugins.Extensions.OpenWebif.local import tstrings
#from json import dumps
#from Plugins.Extensions.OpenWebif.controllers.views.ajax.renderevtblock import renderEvtBlock
<style>
	table { font-family: Verdana; font-size: 11px; }
	tr { vertical-align: top }
	.float { float:left }
	.service { font-weight: bold; font-size: 12px; line-height:30px; padding: 3px; white-space: nowrap; overflow: hidden; width: 184px}
	.service img { width:50px; height:30px; float:left; margin-right:10px; }
	.title { font-weight: bold;}
	.desc { font-size: 10px;}
	.event { cursor: pointer; width: 190px; overflow:hidden; }
	.bq { font-size: 11px; font-weight: bold; padding: 2px 4px; line-height: 18px; cursor: pointer; white-space: nowrap; display: inline-block; margin: 1px 1px 0px 0px;}
	.plus { font-size: 13px; font-weight: bold; padding: 2px 4px; line-height: 21px; cursor: pointer; white-space: nowrap; }
	.timer { font-weight: bold; font-size: 10px; }
	#eventdescription { width: 375px; height: auto; position: fixed; top: 205px; left: 350px; z-index: 100; display: none; overflow: auto; }
	#navepg { margin-bottom: 1px; }
	#tbl1 thead tr, #tbl1 tfoot tr { display: block; width: 100%; }
	#tbl1 tbody { width: 100%; height: 100%; overflow-y: auto; display: block; }
	.wrapper { overflow-x: auto; width: 100%; }
	td.border { width: 190px; }
</style>

<div id="navepg">
#for $slot in range(0,7)
	<div class="float plus #if $slot==$day then 'selected' else '' #" js:day="$(slot)">$tstrings[("day_" + (time.strftime("%w", time.localtime(time.time()+86400*slot))))]</div>
#end for
<div id="compressmepg" onclick="CompressMEPG();"><i id="compressmepgi" class="fa fa-compress" aria-hidden="true"></i></div>
<div id="refreshmepg" onclick="RefreshMEPG();"><i id="refreshmepgi" class="fa fa-refresh" aria-hidden="true"></i></div>
	<br clear="all">

#for $bq in $bouquets
	<div class="float bq #if $bq[0]==$bref then 'selected' else '' #" js:ref="$quote($bq[0])">$bq[1]</div>
#end for
<br clear="all">
</div>

#set $renderEventBlock = $renderEvtBlock()
<div class="wrapper">
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="tbl1">
<thead>
<tr>
	#for $sname, $eventlist in $events.iteritems()
	<td class="border"><div class="service"><img src="$(picons[$sname])" /> $sname</div></td>
	#end for
</tr>
</thead>
<tbody id="tbl1body">
	#set hasEvents = False
	#for $slot in range(0,12)
<tr class="$(slot%2 and 'odd' or 'even')">
	#for $sname, $eventlist in $events.iteritems()
<td class="border">
	#for $event in $eventlist[$slot]
		$renderEventBlock.render($event)
		#set hasEvents = True
	#end for
</td>
	#end for
</tr>
	#end for
</tbody>
<tfoot>
<tr>
	#for $sname, $eventlist in $events.iteritems()
	<td class="border"><div class="service"><img src="$(picons[$sname])" /> $sname</div></td>
	#end for
</tr>
</tfoot>
</table>
</div>
<div id="eventdescription"></div>

<script>
var picons = $dumps($picons);
var reloadTimers = false;
function getScrollBarWidth () {
	var \$outer = \$('<div>').css({visibility: 'hidden', width: 100, overflow: 'scroll'}).appendTo('body'),
		widthWithScroll = \$('<div>').css({width: '100%'}).appendTo(\$outer).outerWidth();
	\$outer.remove();
	return 100 - widthWithScroll;
}
var scrollBarWidth=getScrollBarWidth();
function fixTableHeight() {
	var addScrollBarWidth = scrollBarWidth;
	if (\$('#tbl1').width() <= \$("#tvcontent").width()){
		addScrollBarWidth = 0;
	}
	
	\$("#tbl1body").height( (\$("#tvcontent").height() - \$("#navepg").height() - 2*\$("#tbl1 thead").height() - addScrollBarWidth - 2) + "px");
	
	if (!\$('#toolbar-header').is(':visible')) { 
		var dh = \$(document).height();
		\$("#tvcontentmain").height(dh-80);
		\$("#tbl1body").height(dh-210);
	}
}
fixTableHeight();
\$(window).resize(function(){ fixTableHeight(); });
\$(".bq").click(function() {
	var id = \$(this).attr("js:ref");
	\$("#tvcontent").html(loadspinner).load('ajax/multiepg?bref='+id);
	if(typeof(Storage) !== "undefined") { localStorage.lastmbq = id; }
});
\$(".event").click(function() {
	var id = \$(this).attr("js:id");
	var ref = \$(this).attr("js:ref");
	\$("#eventdescription").load('ajax/event?idev='+id+'&sref='+escape(ref), function() { 
		\$("#eventdescription").show(200).draggable( { handle: ".handle" } );
	});
});
\$(".plus").click(function() {
	var day = \$(this).attr("js:day");
	\$("#tvcontent").html(loadspinner).load('ajax/multiepg?bref=${quote($bref)}&day='+day);
});
if(!timeredit_initialized)
	\$('#editTimerForm').load('/ajax/edittimer');
if(\$("#header").is(':hidden')) { 
	\$('#compressmepg').show();
	\$('#refreshmepg').show();
}
</script>

