#from Plugins.Extensions.OpenWebif.local import tstrings
<div style="height: 300px; width:500px">
	<div class="powerStateButtons">
		<ul>
			<li onclick="handle_power_state_dialog(new_power_state = 0); return false">$tstrings['standby_toggle']</li>
			<li onclick="handle_power_state_dialog(new_power_state = 1); return false">$tstrings['deep_standby']</li>
			<li onclick="handle_power_state_dialog(new_power_state = 2); return false">$tstrings['reboot_box']</li> 
			<li onclick="handle_power_state_dialog(new_power_state = 3); return false">$tstrings['restart_gui']</li>
		</ul>
	</div>
</div>
<!-- cache the spinner for the restart gui or reboot stb dialog -->
<div id="screenshotspinnerl">
	<img id="screenshotspinner" src="images/spinner.gif" width="64" height="64" border="0" alt="$tstrings['loading'] ..." style="display: none;">
</div>
