#from urllib import quote
#from Plugins.Extensions.OpenWebif.local import tstrings
<script>
\$(function() { InitAccordeon("#accordionP");});
</script>
<div id="accordionP">
#for $provider in $providers
	<h1><a href="#" id="ajax/channels?id=$quote($provider[0])&stype=$stype">$provider[1]</a></h1>
	<div>
$tstrings['loading'] ...
	</div>
#end for
</div>