<p>
	<a href="#" id="prov-tab-link"><img border='0' src='images/go-up.png' alt='' />  ... Back to Providers</a>
</p>
<hr />
#import urllib
#for $channel in $channels
<a href='#' onClick=\"alert('Sorry, Zap function not yet implemented.');return false\">$channel[1]</a><br />
#end for
