#from Plugins.Extensions.OpenWebif.local import tstrings
<div style="height: 30px; width:250px">
	<div>
		<img src="images/spinner.gif" width="64" height="64" border="0" alt="$tstrings['loading'] ..." style=" position:absolute; top:50%; left:50%; margin-top:-25px; margin-left:-25px;">
	</div>
</div>
