#from Plugins.Extensions.OpenWebif.local import tstrings
<div style="height: 100px; width:100px;position:absolute; top:50%; left:50%;">
	<div id="screenshotspinner" class='fa fa-spinner fa-spin' style="display: none;"></div>
</div>
