#from urllib import quote
#from Plugins.Extensions.OpenWebif.local import tstrings
<script>
\$(function() { InitAccordeon("#accordionS");});
</script>
<div id="accordionS">
#for $satellite in $satellites
	<h1><a href="#" id="ajax/channels?id=$quote($satellite.service)&stype=$stype">$satellite.name</a></h1>
<div>
$tstrings['loading'] ...
	</div>
#end for
</div>