#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.controllers.models.info import getInfo, getPipStatus
<div id="content_main" style="min-height: 533px;">
	<div id="info">
		<h3 class="ui-widget-header">$tstrings['screenshot']</h3>
		<div id="toolbar-header" class="ui-widget-header">
			<span id="toolbar">
				<span id="screenshotbutton">
					<input type="radio" id="screenshotbutton0" name="screenshotbutton" checked="checked" /><label for="screenshotbutton0">$tstrings['screenshot'] ($tstrings['all'])</label>
					<input type="radio" id="screenshotbutton1" name="screenshotbutton" /><label for="screenshotbutton1">$tstrings['screenshot'] ($tstrings['video'])</label>
					<input type="radio" id="screenshotbutton2" name="screenshotbutton" /><label for="screenshotbutton2">$tstrings['screenshot'] ($tstrings['osd'])</label>
					<input type="radio" id="screenshotbutton3" name="screenshotbutton" style="display: none;"/><label for="screenshotbutton3" style="display: none;">$tstrings['pip']</label>
					<input type="radio" id="screenshotbutton4" name="screenshotbutton" style="display: none;"/><label for="screenshotbutton4" style="display: none;">$tstrings['lcd']</label>
				</span>
			</span>
		</div>
		<div class="screenshotContainer">
			<div id="screenshotImageContainer" style="resize: both;overflow: auto;min-height:480px;min-width:720px">
				<img id="screenshotimage" src="" alt="$tstrings['loading'] ..." width="100%">
				<div id="screenshotspinnerl" style="top: 50%;left: 50%;margin-left: 50px;margin-top: 50px;;position:absolute;font-size:50px">
					<div id="screenshotspinner" class='fa fa-spin' style="display: none;"></div>
				</div>
			</div>
		</div>
		<div id="screenShotRefresh" style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 720px; text-align: center;">
			#if $high_resolution
			<input type="checkbox" id="ssr_hd" value="0" checked="checked">$tstrings['high_resolution']
			#else
			<input type="checkbox" id="ssr_hd" value="0">$tstrings['high_resolution']
			#end if
			#if $refresh_auto
			<input type="checkbox" id="ssr_s" value="0" checked="checked">$tstrings['refresh_auto']
			#else
			<input type="checkbox" id="ssr_s" value="0">$tstrings['refresh_auto']
			#end if
			<input type="text" size="2" id="ssr_i" value="$refresh_time">$tstrings['seconds']
			<br>
			<span id="screenshotrefreshbutton">
				<button onclick="grabScreenshot('auto'); return false">$tstrings['refresh']</button>
			</span>
		</div>
	</div>
</div>

<script type="text/javascript">
var lcd = "$getInfo['lcd']";
var pip = "$getPipStatus()";
#raw
$(function() {SSHelper.setup()});

function buttonsSwitcher(pipval){
	if(parseInt(pipval)){
		if(parseInt(lcd)){
			$("label[for=screenshotbutton2]").css("border-radius", "0 0 0 0");
			$("label[for=screenshotbutton3]").css("border-radius", "0 0 0 0");
			$("label[for=screenshotbutton4]").css("border-radius", "0 5px 5px 0");
			$("#screenshotbutton4, label[for=screenshotbutton4]").show();
		}
		else{
			$("label[for=screenshotbutton2]").css("border-radius", "0 0 0 0");
			$("label[for=screenshotbutton3]").css("border-radius", "0 5px 5px 0");
			$("#screenshotbutton4, label[for=screenshotbutton4]").hide();
		}
		$("#screenshotbutton3, label[for=screenshotbutton3]").show(250);
	}else{
		if(parseInt(lcd)){
			$("label[for=screenshotbutton2]").css("border-radius", "0 0 0 0");
			$("label[for=screenshotbutton4]").css("border-radius", "0 5px 5px 0");
			$("#screenshotbutton4, label[for=screenshotbutton4]").show();
		}else{
			$("label[for=screenshotbutton2]").css("border-radius", "0 5px 5px 0");
			$("#screenshotbutton4, label[for=screenshotbutton4]").hide();
		}
		$("#screenshotbutton3, label[for=screenshotbutton3]").hide(250);
	}
}

var start = true;
$(document).ready(function(){
	buttonsSwitcher(pip);
	if(start)
	{
		start=false;
		var w = $(".screenshotContainer").width();
		if(w>1940) {
			w = 1920;
		}
		if(w>1044) {
			w = 1024;
		}
		else {
			w = 720;
		}
		$('#screenshotImageContainer').css('width', w);
	}
});

#end raw
</script>
