#from Plugins.Extensions.OpenWebif.local import tstrings
<div id="content_main" style="min-height: 533px;">
	<div id="info">
		<h3 class="ui-widget-header">$tstrings['screenshot']</h3>
		<div id="toolbar-header" class="ui-widget-header">
			<span id="toolbar">
				<span id="screenshotbutton">
					<input type="radio" id="screenshotbutton0" name="screenshotbutton" onclick="grabScreenshot('all'); return false" checked="checked" /><label for="screenshotbutton0">$tstrings['screenshot'] ($tstrings['all'])</label>
					<input type="radio" id="screenshotbutton1" name="screenshotbutton" onclick="grabScreenshot('video'); return false" /><label for="screenshotbutton1">$tstrings['screenshot'] ($tstrings['video'])</label>
					<input type="radio" id="screenshotbutton2" name="screenshotbutton" onclick="grabScreenshot('osd'); return false" /><label for="screenshotbutton2">$tstrings['screenshot'] ($tstrings['osd'])</label>
				</span>
			</span>
		</div>
		<div class="screenshotContainer">
			<img id="screenshotimage" src="" alt="$tstrings['loading'] ..." width="350px">
			<div id="screenshotspinnerl" style="top: 50%;left: 50%;margin-left: 50px;margin-top: 50px;;position:absolute;font-size:50px">
				<div id="screenshotspinner" class='fa fa-spin' style="display: none;"></div>
			</div>
		</div>

		<div id="screenShotRefresh" style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 720px; text-align: center;">
			<input type="checkbox" id="ssr_hd" value="0">$tstrings['high_resolution']
			<input type="checkbox" id="ssr_s" value="0">$tstrings['refresh_auto']
			<input type="text" size="2" id="ssr_i" value="30">$tstrings['seconds']
			<br>
			<span id="screenshotrefreshbutton">
				<button onclick="grabScreenshot('auto'); return false">$tstrings['refresh']</button>
			</span>
		</div>
	</div>
</div>

<script type="text/javascript">
#raw
$(function() { var SSHelper=new SSHelperObj(); SSHelper.setup()});
#end raw
</script>
