#from Plugins.Extensions.OpenWebif.local import tstrings
<div id="content_main" style="min-height: 533px;">
	<div id="info">
		<h3>$tstrings['screenshot']</h3>

		<div id="toolbar-header">
			<span id="toolbar">
				<span id="screenshotbutton">
					<input type="radio" id="screenshotbutton0" name="screenshotbutton" onclick="grabScreenshot('all'); return false" checked="checked" /><label for="screenshotbutton0">$tstrings['screenshot'] ($tstrings['all'])</label>
					<input type="radio" id="screenshotbutton1" name="screenshotbutton" onclick="grabScreenshot('video'); return false" /><label for="screenshotbutton1">$tstrings['screenshot'] ($tstrings['video'])</label>
					<input type="radio" id="screenshotbutton2" name="screenshotbutton" onclick="grabScreenshot('osd'); return false" /><label for="screenshotbutton2">$tstrings['screenshot'] ($tstrings['osd'])</label>
				</span>
			</span>
		</div>
	

	
		<div class="screenshotContainer">
			<img id="screenshotimage" src="" alt="$tstrings['loading'] ..." width="300px">
		</div>
		
		<div id="screenShotRefresh" style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 700px; text-align: center;">
			<input type="checkbox" id="screenshotRefreshHD" value="0">
			$tstrings['high_resolution']
			<input type="checkbox" id="screenshotRefreshStatus" value="0">
			$tstrings['refresh_auto']
			<input type="text" size="1" id="screenshotRefreshInterval" value="30">
			$tstrings['seconds']
			<br>
			<span id="screenshotrefreshbutton">
				<button onclick="grabScreenshot('auto'); return false">$tstrings['refresh']</button>
			</span>
		</div>
		<div id="screenshotspinnerl">
			<img id="screenshotspinner" src="/images/spinner.gif" width="64" height="64" border="0" alt="$tstrings['loading'] ..." style="display: none;">
		</div>
	</div>
</div>

#raw
<script type="text/javascript">
	$('#screenshotbutton').buttonset();
	$('#screenshotrefreshbutton').buttonset();
	$('#screenshotRefreshStatus').attr('checked', false);
	$('#screenshotRefreshInterval').val(30);
	
	var screenshotInterval = false;
	
	$('#screenshotRefreshInterval').change(function() {
		if ($('#screenshotRefreshStatus').is(':checked')) {
			clearInterval(screenshotInterval); 
			screenshotInterval = 
				setInterval("grabScreenshot('auto')", 
					(parseInt(jQuery('#screenshotRefreshInterval').val())+1)*1000);
		}
	});
	
	$('#screenshotRefreshStatus').change(function() {
		if ($('#screenshotRefreshStatus').is(':checked')) {
			screenshotInterval = 
				setInterval("grabScreenshot('auto')", 
					(parseInt(jQuery('#screenshotRefreshInterval').val())+1)*1000);
		} else {
			clearInterval(screenshotInterval); 
		}
	});

	$('#screenshotRefreshHD').change(function() {
		grabScreenshot('auto');
	});

	$(document).ready(function() {
		screenshotMode = 'all'; // reset on page reload
		grabScreenshot(screenshotMode);
	});
</script>
#end raw
