#from Plugins.Extensions.OpenWebif.local import tstrings
<div id="content_main" style="min-height: 500px;">
	<div id="info">
		<h3>$tstrings['settings']</h3>

		<div id="toolbar-header">
			<span id="toolbar">
				<span id="settingsbuttons">
				#for $sec in $configsections
					<button id='$sec["key"]' onclick="load_scontent('ajax/config?section=$sec["key"]'); return false;">$sec["description"]</button>
				#end for
				</span>
			</span>
		</div>

		<div id="scontent"></div>
		</div>

	</div>
</div>
#raw
<script type="text/javascript">
	function load_scontent(url) {
		$("#scontent").load(url , function () {
			$("#scontent").find("#content_main").attr("id","content_main1");
		});
		return false;
	}
</script>
#end raw
