#filter WebSafe
#from urllib import quote
<div id="content_main" style="min-height: 500px;">
	<div id="info">
		<h3>Timerlist</h3>
		<div style="text-align: right; margin: 5px;">
			<a href="#" onclick="addTimer(); return false;">Add timer</a>
		</div>

		<div style="height: 640px; overflow: auto;">
		#for $timer in $timers
			<div class="moviecontainer_main" id="$timer.begin-$timer.end">
				<div class="moviecontainer_left">
					<div style="padding: 3px;">
						<div style="color: #176093; font-weight: bold;">
							$timer.name
						</div>
						$timer.realbegin - $timer.realend
						#if $timer.repeated != 0
							<div>
								Every
							#set $flags=$timer.repeated
							#set $timerDays=[]
							#for $day in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
								#if $flags&1
									$timerDays.append($day)
								#end if
								#set $flags = $flags >> 1
							#end for
							#echo ', '.join($timerDays)
							</div>
						#end if
						<div style="font-weight: bold;">
							$timer.servicename
						</div>
					</div>
					<div style="padding: 3px;">
						$timer.description
					</div>
					<div style="padding: 3px;">
						<span style="color: #7F8181; font-weight: bold;">
							#if $timer.state == 0
								waiting
							#elif $timer.state == 2
								running
							#elif $timer.state == 3
								finished
							#end if
						</span>
					</div>
				</div>
				<div class="moviecontainer_right">
					<div style="padding: 3px; text-align: right;">
						<a href='#' onClick="editTimer('$timer.serviceref', '$timer.begin', '$timer.end');"><img src="../images/ico_edit.png" title="Edit Timer" border="0"></a>
						<a href='#' onClick="deleteTimer('$timer.serviceref', '$timer.begin', '$timer.end');"><img src="../images/ico_delete.png" title="Delete Timer" border="0"></a>
						<a href='#' onClick="toggleTimerStatus('$timer.serviceref', '$timer.begin', '$timer.end');">
						#if $timer.disabled
						<img id="img-$timer.begin-$timer.end" src="../images/ico_disabled.png" title="Enable Timer" border="0">
						#else
						<img id="img-$timer.begin-$timer.end" src="../images/ico_enabled.png" title="Disable Timer" border="0">
						#end if
						</a>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		#end for
		</div>
	</div>
</div>

<div id="editTimerForm" title="Edit Timer" style="display: none;">
	<form>
	<div>
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Name:</div>
			<div><input type="text" name="timername" id="timername" style="width: 450px;" class="text ui-widget-content ui-corner-all" /></div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Description:</div>
			<div><textarea name="description" id="description" style="width: 450px; height: 50px;" class="text ui-widget-content ui-corner-all" /></div>
		</div>
		
		<div class="timerlist_row">
		<div style="width: 100px; float: left;">Channel:</div>
			<div>
			<select id="bouquet_select" name="bouquet_select">
				<option value="0">Nothing</option>
			</select>
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Start:</div>
			<div>
			<select id="timerbeginday" name="timerbeginday">
			</select>
			<select id="timerbeginmonth" name="timerbeginmonth">
			</select>
			<select id="timerbeginyear" name="timerbeginyear">
			</select>
			<select id="timerbeginhours" name="timerbeginhours">
			</select>
			<select id="timerbeginminutes" name="timerbeginminutes">
			</select>
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">End:</div>
			<select id="timerendday" name="timerendday">
			</select>
			<select id="timerendmonth" name="timerendmonth">
			</select>
			<select id="timerendyear" name="timerendyear">
			</select>
			<select id="timerendhours" name="timerendhours">
			</select>
			<select id="timerendminutes" name="timerendminutes">
			</select>
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left; block: inline;">Enabled:</div>
			<div style="margin: 5px;">
				<input type="checkbox" name="enabled" id="enabled" value="0" class="text ui-widget-content ui-corner-all" />
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Just play:</div>
			<div style="margin: 5px;">
				<input type="checkbox" name="justplay" id="justplay" value="0" class="text ui-widget-content ui-corner-all" />
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Repeated:</div>
			<div id="repeatdays" style="margin: 5px;">
			#set $i=0
			#for $day in ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
				#set $value = 2 ** $i
				<input type="checkbox" name="repeated" id="day$i" value="$value" /><label for="day$i">$day</label>
				#set $i=$i+1
			#end for
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Location:</div>
			<div>
			<select id="dirname" name="dirname">
				<option value="None">Default</option>
			</select>
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">Tags:</div>
			<div>
			<select id="tags" name="tags">
				<option value="">Nothing</option>
			</select>
			</div>
		</div>
		
		<div class="timerlist_row">
			<div style="width: 100px; float: left;">After Event:</div>
			<div>
			<select id="afterevent" name="afterevent">
				<option value="1">Standby</option>
				<option value="2">Shutdown</option>
				<option value="3" selected="">Auto</option>
			</select>
			</div>
		</div>
		<div class="timerlist_row" style="color: red;">
			<div id="error" name="error" />
		</div>
	</div>
	</form>
</div>

<script type="text/javascript">

#raw

jQuery("#editTimerForm").dialog({
	autoOpen: false,
	height: 430,
	width: 600,
	modal: true,
	buttons: {
		"Save": function() {
			begindate = new Date(
				$("#timerbeginyear").val(),
				$("#timerbeginmonth").val(),
				$("#timerbeginday").val(),
				$("#timerbeginhours").val(),
				$("#timerbeginminutes").val(),
				0);
				
			enddate = new Date(
				$("#timerendyear").val(),
				$("#timerendmonth").val(),
				$("#timerendday").val(),
				$("#timerendhours").val(),
				$("#timerendminutes").val(),
				0);
			var repeated = 0;
			$('[name="repeated"]:checked').each(function() {
				repeated += parseInt($(this).val());
			});
			var urldata = { sRef: $("#bouquet_select").val(),
				begin: Math.round(begindate.getTime() / 1000),
				end: Math.round(enddate.getTime() / 1000),
				name: $("#timername").val(),
				description: $("#description").val(),
				disabled: ($('#enabled').is(':checked')?"0":"1"),
				justplay: ($('#justplay').is(':checked')?"1":"0"),
				afterevent: $("#afterevent").val(),
				dirname: $("#dirname").val(),
				tags: $("#tags").val(),
				repeated: repeated };
			
			var canclose = false;
			if (current_serviceref == "") {
				$.ajax({
					async: false,
					url: "/api/timeradd?",
					data: urldata,
					success: function(data) {
						result = $.parseJSON(data);
						if (result.result) {
							canclose = true;
						}
						else {
							$("#error").text(result.message);
						}
					}
				});
			}
			else {
				urldata['channelOld'] = current_serviceref;
				urldata['beginOld'] = Math.round(current_begin);
				urldata['endOld'] = Math.round(current_end);
				$.ajax({
					async: false,
					url: "/api/timerchange?",
					data: urldata,
					success: function(data) {
						result = $.parseJSON(data);
						if (result.result) {
							canclose = true;
						}
						else {
							$("#error").text(result.message);
						}
					}
				});
			}
			
			if (canclose) {
				$("#content_container").load("/ajax/timers");
				$(this).dialog("close");
			}
		},
		Cancel: function() {
			$(this).dialog("close");
		}
	},
	close: function() {
		return;
	}
});

var current_serviceref;
var current_begin;
var current_end;
var timeredit_initialized = false;

function initTimerEdit() {
	$.ajax({
		async: false,
		url: "/api/getallservices",
		success: function(data) {
			services = $.parseJSON(data);
			if (services.result) {
				$("#bouquet_select")
					.find('option')
					.remove()
					.end()
					
				for (var id in services.services) {
					service = services.services[id];
					for (var id2 in service.subservices) {
						subservice = service.subservices[id2];
						$("#bouquet_select")
							.append($("<option></option>")
								.attr("value", subservice.servicereference)
								.text(subservice.servicename));
					}
				}
			}
		}
	});
	
	$.ajax({
		async: false,
		url: "/api/getlocations",
		success: function(data) {
			locs = $.parseJSON(data);
			if (locs.result) {
				$("#dirname")
					.find('option')
					.remove()
					.end()
					
				$("#dirname")
					.append($("<option></option>")
						.attr("value", "None")
						.text("Default"));
						
				for (var id in locs.locations) {
					loc = locs.locations[id];
					$("#dirname")
						.append($("<option></option>")
							.attr("value", loc)
							.text(loc));
				}
			}
		}
	});
	
	$.ajax({
		async: false,
		url: "/api/gettags",
		success: function(data) {
			tags = $.parseJSON(data);
			if (tags.result) {
				$("#tags")
					.find('option')
					.remove()
					.end()
					
				$("#tags")
					.append($("<option></option>")
						.attr("value", "")
						.text("Nothing"));
						
				for (var id in tags.tags) {
					tag = tags.tags[id];
					$("#tags")
						.append($("<option></option>")
							.attr("value", tag)
							.text(tag));
				}
			}
		}
	});
	
	$("#timerbeginday").find('option').remove().end()
	$("#timerbeginmonth").find('option').remove().end()
	$("#timerbeginyear").find('option').remove().end()
	$("#timerbeginhours").find('option').remove().end()
	$("#timerbeginminutes").find('option').remove().end()
	
	$("#timerendday").find('option').remove().end()
	$("#timerendmonth").find('option').remove().end()
	$("#timerendyear").find('option').remove().end()
	$("#timerendhours").find('option').remove().end()
	$("#timerendminutes").find('option').remove().end()
	
	for (var i=1; i<=31; i++) {
		$("#timerbeginday")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
				
		$("#timerendday")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
	}
	
	months = new Array( "January","February","March","April","May","June","July","August", "September","October","November","December");
	for (var i=0; i<months.length; i++) {
		$("#timerbeginmonth")
			.append($("<option></option>")
				.attr("value", i)
				.text(months[i]));
				
		$("#timerendmonth")
			.append($("<option></option>")
				.attr("value", i)
				.text(months[i]));
		
	}
	
	for (var i=0; i<2; i++) {
		year = (new Date()).getFullYear() + i;
		$("#timerbeginyear")
			.append($("<option></option>")
				.attr("value", year)
				.text(year));
				
		$("#timerendyear")
			.append($("<option></option>")
				.attr("value", year)
				.text(year));
	}
	
	for (var i=0; i<24; i++) {
		$("#timerbeginhours")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
		$("#timerendhours")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
	}
	
	for (var i=0; i<60; i++) {
		$("#timerbeginminutes")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
				
		$("#timerendminutes")
			.append($("<option></option>")
				.attr("value", i)
				.text(i));
	}
	
	timeredit_initialized = true;
}

function editTimer(serviceref, begin, end) {
	current_serviceref = serviceref;
	current_begin = begin;
	current_end = end;
	
	if (!timeredit_initialized)
		initTimerEdit();
		
	$.ajax({
		async: false,
		url: "/api/timerlist",
		success: function(data) {
			timers = $.parseJSON(data);
			if (timers.result) {
				for (var id in timers.timers) {
					timer = timers.timers[id];
					if (timer.serviceref == serviceref &&
						Math.round(timer.begin) == Math.round(begin) &&
						Math.round(timer.end) == Math.round(end)) {
							$("#timername").val(timer.name);
							$("#description").val(timer.description);
							$('#bouquet_select').val(timer.serviceref);
							$('#dirname').val(timer.dirname);
							$('#tags').val(timer.tags);
							$('#enabled').prop("checked", timer.disabled == 0);
							$('#justplay').prop("checked", timer.justplay);
							$('#afterevent').val(timer.afterevent);
							$("#error").text("");

							var flags=timer.repeated;
							for (var i=0; i<7; i++) {
								$('#day'+i).attr('checked', ((flags & 1)==1));
								flags >>= 1;
							}
							$('#repeatdays').buttonset('refresh');
							
							var begindate = new Date(Math.round(timer.begin) * 1000);
							$('#timerbeginday').val(begindate.getDate());
							$('#timerbeginmonth').val(begindate.getMonth());
							$('#timerbeginyear').val(begindate.getFullYear());
							$('#timerbeginhours').val(begindate.getHours());
							$('#timerbeginminutes').val(begindate.getMinutes());
							
							var enddate = new Date(Math.round(timer.end) * 1000);
							$('#timerendday').val(enddate.getDate());
							$('#timerendmonth').val(enddate.getMonth());
							$('#timerendyear').val(enddate.getFullYear());
							$('#timerendhours').val(enddate.getHours());
							$('#timerendminutes').val(enddate.getMinutes());
							
							$("#editTimerForm").dialog("open");
							$("#editTimerForm").dialog("option", "title", "Edit Timer - " + timer.name)
							break;
						}
				}
			}
		}
	});
}

function addTimer() {
	current_serviceref = "";
	current_begin = -1;
	current_end = -1;
	
	if (!timeredit_initialized)
		initTimerEdit();
		
	$("#timername").val("");
	$("#description").val("");
	$('#dirname').val("None");
	$('#tags').val("");
	$('#enabled').prop("checked", true);
	$('#justplay').prop("checked", false);
	$('#afterevent').val(3);
	$("#error").text("");

	for (var i=0; i<7; i++) $('#day'+i).attr('checked', false);
	$('#repeatdays').buttonset('refresh');
	
	var begindate = new Date();
	$('#timerbeginday').val(begindate.getDate());
	$('#timerbeginmonth').val(begindate.getMonth());
	$('#timerbeginyear').val(begindate.getFullYear());
	$('#timerbeginhours').val(begindate.getHours());
	$('#timerbeginminutes').val(begindate.getMinutes());
	
	var enddate = new Date(begindate.getTime() + (60*60*1000));
	$('#timerendday').val(enddate.getDate());
	$('#timerendmonth').val(enddate.getMonth());
	$('#timerendyear').val(enddate.getFullYear());
	$('#timerendhours').val(enddate.getHours());
	$('#timerendminutes').val(enddate.getMinutes());
	
	$("#editTimerForm").dialog("open");
	$("#editTimerForm").dialog("option", "title", "Add Timer")
}

#end raw

</script>
#end filter