#from Plugins.Extensions.OpenWebif.local import tstrings
<div id="content_main"><div id="tvcontentmain"><div id="toolbar-header">
<span id="toolbar"><span id="tvbutton">
<input type="radio" id="btn0" name="tvbutton" /><label for="btn0">$tstrings['current']</label>
<input type="radio" id="btn1" name="tvbutton" checked="checked" /><label for="btn1">$tstrings['bouquets']</label>
<input type="radio" id="btn2" name="tvbutton" /><label for="btn2">$tstrings['providers']</label>
<input type="radio" id="btn3" name="tvbutton" /><label for="btn3">$tstrings['satellites']</label>
<input type="radio" id="btn4" name="tvbutton" /><label for="btn4">$tstrings['all_channels']</label>
<input type="radio" id="btn5" name="tvbutton" /><label for="btn5">$tstrings['epg']</label>
</span></span>
</div><div id="tvcontent"></div></div></div>
<script type="text/javascript">
\$(function() { InitBouquets(true);});
</script>
