#from Plugins.Extensions.OpenWebif.local import tstrings
<!-- work_in_progress -->
		<div id="content_main">
			<div id="info">
				<h3>$tstrings['not_implemented']</h3>
				
				<hr />			
				<img src="images/work_in_progress.png" alt="Work in progress">
			</div>
		</div>	
<!-- /work_in_progress -->
