#filter WebSafe
/* 
	All Themes:
	base
	black-tie
	blitzer
	cupertino
	dark-hive
	dot-luv
	eggplant
	excite-bike
	flick
	hot-sneaks
	humanity
	le-frog
	mint-choc
	overcast
	pepper-grinder
	redmond -> original
	smoothness
	south-street
	start
	sunny
	swanky-purse
	trontastic (not used)
	ui-darkness
	ui-lightness (not used)
	vader
	redmond -> original
*/

#if not $theme
	#set $theme="original"
#end if

#if $theme == "hot-sneaks"
.ui-widget-header #menucontainer a { color: initial; }
#end if

#if $theme == "excite-bike"
#header { background : #eeeeee;}
#end if

#if $theme == "pepper-grinder"
#header { background : #eceadf;}
#end if

#if $theme == "vader"
#content_main { background-color: #000;border: 2px solid #888; background-image:none !important; }
.cht .fr { background-color: #404040; }
.marker { color: #888; }

.sellist li.ui-selected {
	border: 1px solid #dddddd;
	color: #FFF;
}

#end if

#if $theme == "sunny"
.ui-widget-header a { color : #000;}
body {background-image:none !important;}
#configuration { color : #000;}
.ui-widget-content { background-image:none !important;}
#end if

#if $theme == "start"
.ui-widget-header a { color : #000;}

.station { color:#fff; background-color: #2191c0;}
#tbl1 .border { border-right: 1px solid #4297d7;}
#tbl1 .timer { color: #f00; }
#tbl1 .timer.disabled { color: #f80; }

#end if

#if $theme == "le-frog"

body {background-image:none !important;}
.marker { color: #ccc; }

#end if

#if $theme == "dark-hive"
body {background-image:none !important;}
.marker { color: #ccc; }
.cht .fr { 
	background-color:rgba(38, 179, 247, 0.3);
}

#tbl1 .border { border-right: 1px solid #4297d7;}
#tbl1 .timer { color: #f00; }
#tbl1 .timer.disabled { color: #f80; }

#end if

#if $theme == "ui-darkness" or $theme == "vader"
body {background-image:none !important;}

#tbl1 .timer { color: #f00; }
#tbl1 .timer.disabled { color: #f80; }

#end if

#if $theme == "ui-darkness" 
.marker { color: #f39814; }
#end if

#if $theme == "blitzer"
.ui-widget-header a { color:#000;}

#end if


#if $theme == "black-tie"
.ui-widget-header a { color:#000;}
#end if

#if $theme == "cupertino"
body {background-image:none !important;}
#end if

#if $theme == "base"
#header { background : #007fff;}
.station { color:#fff; background-color: #007fff;}
#end if

#if $theme == "overcast"
.ui-widget-content { background-image:none !important;}
#end if

#if $theme == "mint-choc"
body { background-image:none !important;}
#end if

#if $theme == "humanity"
.ui-widget-header a { color:#000;}
#configuration { color : #000;}
#end if

#if $theme == "original"

body {
	background: #1C478E;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
	color: #061C37;
}

#header h2
{
	color:#A9D1FA;
}

#osd_bottom
{
	color: #A9D1FA;
}

#content a
{
	color: #176093;
}

#info h3
{
	border: 1px solid #4297d7; 
	background: #1c478e url(../images/ui-bg_highlight-soft_55_1c478e_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
}


#leftmenu_main
{
	border: 1px solid #a6c9e2; 
	background: #fcfdfd url(../images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; color: #061C37;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

#leftmenu_main a
{
	color: #176093;
}

#leftmenu_main h3
{
	color: #6cb2e4;
	border-bottom: 1px solid #d7edfc;
}

#leftmenu_main ul li
{
	color: #176093;
}

#leftmenu_main ul li a:hover
{
	color:#87BCF8;
}

#leftmenu
{
	border: 2px solid #176093;
	background-color: #f0f7fc;
	outline: 0 none;
	-moz-outline-style: 0 none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

#leftmenu_top
{
	color: #ffffff; 
	font-weight: bold;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

#toolbar-header {
	border: 1px solid #4297d7; 
	background: #1c478e url(../images/ui-bg_highlight-soft_55_1c478e_1x100.png) 50% 50% repeat-x; 
	color: #ffffff; 
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

table .tcurrent
{
	background: #1C478E;
}

.tcurrent tr {background-color:#f0f7fc;}

#dcurrent {background-image:url(../images/osd/osd_back.png);color: #FFF;}
#dcurrent a {color: #FFF;}

#info h3
{
	border: 1px solid #4297d7; 
	background: #1c478e url(../images/ui-bg_highlight-soft_55_1c478e_1x100.png) 50% 50% repeat-x;
	color: #ffffff; 
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
}

#header { background : none;}

#content_main
{
	background-color:#FFF;
	border: 2px solid #176093;
}

.cht .fr { 
	background-color: #F0F7FC;
}

#currenttuners span
{
	color:#f90;
}

#spinner,#spinner1
{
	color:#1c478e;
}

#footer h3 a,#footer h3 a:visited
{
	color:#7198E1;
}

.osdch { color:#EA7409;}

.station { color:#fff; background-color: #1c47ae;}
#tbl1 .title { color:#061c37;}
#tbl1 .desc { color:#176093;}
#tbl1 .border { border-right: 1px solid #4297d7;}
#tbl1 .timer { color: #f00; }
#tbl1 .timer.disabled { color: #f80; }

#header span.ui-state-active 
{
	color:#67A0F5;
}

.tm_row { background-color: #F0F7FC;border: 1px solid #F0F7FC;}
.tm_title {color: #176093;}
.tm_desc {color: #7F8181; }

.tm_row { background-image:none !important; }

#else

#tbl1 .border { border-right: 1px solid;}

#end if

#end filter