#filter WebSafe
/* 
	All Themes:
	base
	black-tie
	blitzer
	cupertino
	dark-hive
	dot-luv
	eggplant
	excite-bike
	flick
	hot-sneaks
	humanity
	le-frog
	mint-choc
	overcast
	pepper-grinder
	redmond
	smoothness
	south-street
	start
	sunny
	swanky-purse
	trontastic
	ui-darkness
	ui-lightness
	vader
*/

#set $t="redmond"
#if $theme
	#set $t=$theme
#end if

#if $theme == "excite-bike"
#header { background : #eeeeee;}
#end if

#if $theme == "pepper-grinder"
#header { background : #eceadf;}
#end if

#end filter