#filter WebSafe
#from datetime import datetime
<?xml version="1.0" encoding="UTF-8"?>
<tv source-info-url="https://github.com/E2OpenPlugins/e2openplugin-OpenWebif" source-info-name="OpenWebif">
	#for $service in $services
	<channel id="$service.servicereference">
		<display-name>$service.servicename</display-name>
	</channel>
	#end for
	#for $event in $events
	<programme start="$datetime.utcfromtimestamp($event.begin_timestamp).strftime('%Y%m%d%H%M%S') $offset.utcoffset" stop="$datetime.utcfromtimestamp($event.begin_timestamp + $event.duration_sec).strftime('%Y%m%d%H%M%S') $offset.utcoffset" channel="$event.sref">
		<title lang="$lang">$str($event.title)</title>
		<sub-title lang="$lang">$str($event.shortdesc)</sub-title>
		<desc lang="$lang">$str($event.longdesc)</desc>
	</programme>
	#end for
</tv>
#end filter
