#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2mediaplayercurrent>
	<e2currenttrack>
		<e2artist>$artist</e2artist>
		<e2title>$title</e2title>
		<e2album>$album</e2album>
		<e2year>$year</e2year>
		<e2genre>$genre</e2genre>
		<e2coverfile>$coverArt</e2coverfile>
	</e2currenttrack>
</e2mediaplayercurrent>
#end filter