#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2servicelistplayable>
	#for $service in $services
	<e2serviceplayable>
		<e2servicereference>$service.servicereference</e2servicereference>
		<e2isplayable>$str($service.isplayable)</e2isplayable>
	</e2serviceplayable>
	#end for
</e2servicelistplayable>
#end filter