#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2settings>
	#for $setting in $settings
	<e2setting>
		<e2settingname>$setting[0]</e2settingname>
		<e2settingvalue>$setting[1]</e2settingvalue>
	</e2setting>
	#end for
</e2settings>
#end filter