#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2frontendstatus>
	<e2snrdb>$snr_db dB</e2snrdb>
	<e2snr>$snr %</e2snr>
	<e2ber>$ber</e2ber>
	<e2acg>$agc %</e2acg>
</e2frontendstatus>
#end filter