#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2sleeptimer>
	<e2enabled>$enabled</e2enabled>
	<e2minutes>$minutes</e2minutes>
	<e2action>$action</e2action>
	<e2text>$message</e2text>
</e2sleeptimer>
#end filter