#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2timerlist>
	#for $timer in $timers
	<e2timer>
		<e2servicereference>$timer.serviceref</e2servicereference>
		<e2servicename>$timer.servicename</e2servicename>
		<e2eit>$timer.eit</e2eit>
		<e2name>$timer.name</e2name>
		<e2description>$timer.description</e2description>
		<e2descriptionextended>$timer.descriptionextended</e2descriptionextended>
		<e2disabled>$timer.disabled</e2disabled>
		<e2timebegin>$timer.begin</e2timebegin>
		<e2timeend>$timer.end</e2timeend>
		<e2duration>$timer.duration</e2duration>
		<e2startprepare>$timer.startprepare</e2startprepare>
		<e2justplay>$timer.justplay</e2justplay>
		<e2afterevent>$timer.afterevent</e2afterevent>
		<e2location>$timer.dirname</e2location>
		<e2tags>$timer.tags</e2tags>
		<e2logentries>$timer.logentries</e2logentries>
		<e2filename>$timer.filename</e2filename>
		<e2backoff>$timer.backoff</e2backoff>
		<e2nextactivation>$timer.nextactivation</e2nextactivation>
		<e2firsttryprepare>$timer.firsttryprepare</e2firsttryprepare>
		<e2state>$timer.state</e2state>
		<e2repeated>$timer.repeated</e2repeated>
		<e2dontsave>$timer.dontsave</e2dontsave>
		<e2cancled>$timer.cancelled</e2cancled>
		<e2toggledisabled>$timer.toggledisabled</e2toggledisabled>
		<e2toggledisabledimg>$timer.toggledisabledimg</e2toggledisabledimg>
		<e2alwayszap>$timer.always_zap</e2alwayszap>
	</e2timer>
	#end for
</e2timerlist>
#end filter