#filter WebSafe
<?xml version="1.0" encoding="utf-8"?>
<e2volume>
	<e2result>$result</e2result>
	<e2resulttext>$message</e2resulttext>
	<e2current>$current</e2current>
	<e2ismuted>$ismute</e2ismuted>	
</e2volume>
#end filter