<div id="content_main">
<div id="tabs">
	<ul>
		<li><a href="ajax/current">Current</a></li>
		<li><a href="ajax/bouquets">Bouquets</a></li>
		<li><a href="ajax/providers">Providers</a></li>
		<li><a href="ajax/satellites">Satellites</a></li>
		<li><a href="ajax/all">All</a></li>
	</ul>
</div>
</div>