<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link type="text/css" href="/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/openwebif.js"></script>

<title>Open Webif</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1><a href="/">Open<span class="off">Webif</span></a></h1>
			<h2>Open Source Web Interface for Linux set-top box</h2>
		</div>
		
		<div id="osd">
			Nothing playing.
		</div>
		<div id="osd_bottom">
			
		</div>
		
		<div id="dialog" title="Work in progress">
			<p>Sorry, this function is not yet implemented.</p>
		</div>
		
		<div id="leftmenu">
			#def menu($title, $name, $content)
			<div id="leftmenu_main">
				<div id="leftmenu_top">
					$title
					#if $name in $collapsed
					<div id="leftmenu_expander_$name" class="leftmenu_icon leftmenu_icon_collapse" onclick="toggleMenu('$name');"></div>
					#else
					<div id="leftmenu_expander_$name" class="leftmenu_icon" onclick="toggleMenu('$name');"></div>
					#end if
				</div>
				#if $name in $collapsed
				<div id="leftmenu_container_$name" style="display: none;">
				#else
				<div id="leftmenu_container_$name">
				#end if
				$content
				</div>
			</div>
			#end def
		
			#def mainMenu
			<ul>
				<li><a href='#' onclick="load_maincontent('ajax/tv'); return false;">Television</a></li>
				<li><a href='#' onclick="load_maincontent('ajax/radio'); return false;">Radio</a></li>
			</ul>
			#end def
		
			#def volumeMenu
			<div class="volslider">
					<p style="text-align:center; padding-bottom:8px;"> 
						<label for="amount">Volume:</label>
						<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; width:40px;" />
					</p>
				<div id="slider" style="width:130px;"></div>
			</div>
			<div style="width:100%; text-align:center; padding-top:5px; padding-bottom:10px;"><img id="volimage" src="images/volume.png" title="" border="0"></div>
			#end def

			#def controlMenu
			<ul>
				<li><a href='#' onclick="load_maincontent('ajax/powerstate'); return false;">Power Control</a></li>
				<li><a href='#' onclick="load_maincontent('ajax/screenshot'); return false;">Grab Screenshot</a></li>
				<li><a href='#' onclick="load_maincontent('ajax/message'); return false;">Send a Message</a></li>
				<li><a href='#' onclick="load_maincontent('ajax/timers'); return false;">Timers</a></li>
			</ul>
			#end def
		
			#def infoMenu
			<ul>
				<li><a href="#" onclick="load_maincontent('ajax/boxinfo'); return false">Box Info</a></li>
				<li><a href="#" onclick="load_maincontent('ajax/about'); return false">About</a></li>
			</ul>
			#end def
		
			#def streamMenu
			<ul>
				<li><a href='#' onclick="load_maincontent('ajax/movies'); return false;">Movies</a></li>
				<li><a href='#' onclick="load_maincontent('ajax/workinprogress'); return false;">Web Tv</a></li>
			</ul>
			#end def
		
			#def searchMenu
			<form action="" onSubmit="open_epg_search_pop(); return false;">
				<div style="width:100%; text-align:center; padding-top:5px;"><input type="text" id="epgSearch" size="14" /></div>
				<div style="width:100%; text-align:center;padding-top:5px; padding-bottom:7px;" class="epgsearch"><button>Search</button></div>
			</form>
			#end def
			
			#def remoteMenu
			<div style="width:100%; text-align:center;">
				<img src="images/remotes/ow_remote.png" width="135" height="183" usemap="#menuremote" border="0">
				<map name="menuremote" >
					<area shape="circle" coords="67,148,13" alt="ok" onclick="pressMenuRemote('352');">
					<area shape="circle" coords="68,173,9" alt="down" onclick="pressMenuRemote('108');">
					<area shape="circle" coords="44,148,9" alt="left" onclick="pressMenuRemote('105');">
					<area shape="circle" coords="92,147,9" alt="right" onclick="pressMenuRemote('106');">
					<area shape="circle" coords="68,126,8" alt="up" onclick="pressMenuRemote('103');">
					<area shape="circle" coords="117,163,10" alt="blue" onclick="pressMenuRemote('401');">
					<area shape="circle" coords="118,132,11" alt="yellow" onclick="pressMenuRemote('400');">
					<area shape="circle" coords="18,163,11" alt="green" onclick="pressMenuRemote('399');">
					<area shape="circle" coords="19,133,10" alt="red" onclick="pressMenuRemote('398');">
					<area shape="rect" coords="5,89,44,117" alt="menu" onclick="pressMenuRemote('139');">
					<area shape="rect" coords="90,89,128,117" alt="exit" onclick="pressMenuRemote('174');">
					<area shape="rect" coords="47,89,87,117" alt="0" onclick="pressMenuRemote('11');">
					<area shape="rect" coords="90,60,128,86" alt="9" onclick="pressMenuRemote('10');">
					<area shape="rect" coords="47,60,87,86" alt="8" onclick="pressMenuRemote('9');">
					<area shape="rect" coords="4,60,44,86" alt="7" onclick="pressMenuRemote('8');">
					<area shape="rect" coords="4,30,44,57" alt="6" onclick="pressMenuRemote('7');">
					<area shape="rect" coords="47,30,87,57" alt="5" onclick="pressMenuRemote('6');">
					<area shape="rect" coords="90,30,129,57" alt="4" onclick="pressMenuRemote('5');">
					<area shape="rect" coords="90,0,129,27" alt="3" onclick="pressMenuRemote('4');">
					<area shape="rect" coords="46,0,88,28" alt="2" onclick="pressMenuRemote('3');">
					<area shape="rect" coords="5,0,45,28" alt="1" onclick="pressMenuRemote('2');">
				</map>
				<div id="help">
					(shift + click for long pressure)
				</div>
				<ul>
					#if $remotegrabscreenshot
					<li><input type="checkbox" name="remotegrabscreen" checked="checked" />Grab screenshot</li>
					#else
					<li><input type="checkbox" name="remotegrabscreen" />Grab screenshot</li>
					#end if
					<li><a href="#" onclick="toggleFullRemote(); return false;">Show full remote</a></li>
				</ul>
			</div>
			#end def
		
			<div id="menucontainer">
				$menu("Main", "main", $mainMenu)
				$menu("Volume Control", "volume", $volumeMenu)
				$menu("Box Control", "control", $controlMenu)
				$menu("Remote", "remote", $remoteMenu)
				$menu("Info", "info", $infoMenu)
				$menu("Stream", "stream", $streamMenu)
				$menu("Epg Search", "search", $searchMenu)
			</div>
			<div id="remotecontainer" style="display: none;">
				<div id="leftmenu_main">
					<div id="leftmenu_top">Remote Control</div>
					<div style="width:100%; text-align:center;">
						#if $box == "duo" or $box == "solo" or $box == "uno":
						<img border='0' src='/images/remotes/vu_normal.png' usemap='#map' >
						<map name="map">
							<area shape="circle" coords="33,28,15" id="113" alt="mute" onclick="pressMenuRemote('113');">
							<area shape="circle" coords="105,28,15" id ="116" alt="Power" onclick="pressMenuRemote('116');">
							<area shape="circle" coords="33,53,15" id ="388" alt="text" onclick="pressMenuRemote('388');">
							<area shape="circle" coords="58,53,15" id ="370" alt="subtitle" onclick="pressMenuRemote('370');">
							<area shape="circle" coords="82,53,15" id ="102" alt="home" onclick="pressMenuRemote('102');">
							<area shape="circle" coords="105,53,15" id ="107" alt="end" onclick="pressMenuRemote('107');">
							<area shape="circle" coords="38,79,15" id ="2" alt="1" onclick="pressMenuRemote('2');">
							<area shape="circle" coords="70,79,15" id ="3" alt="2" onclick="pressMenuRemote('3');">
							<area shape="circle" coords="102,79,15" id ="4" alt="3" onclick="pressMenuRemote('4');">
							<area shape="circle" coords="38,106,15" id ="5" alt="4" onclick="pressMenuRemote('5');">
							<area shape="circle" coords="70,106,15" id ="6" alt="5" onclick="pressMenuRemote('6');">
							<area shape="circle" coords="102,106,15" id ="7" alt="6" onclick="pressMenuRemote('7');">
							<area shape="circle" coords="38,133,15" id ="8" alt="7" onclick="pressMenuRemote('8');">
							<area shape="circle" coords="70,133,15" id ="9" alt="8" onclick="pressMenuRemote('9');">
							<area shape="circle" coords="102,133,15" id ="10" alt="9" onclick="pressMenuRemote('10');">
							<area shape="circle" coords="38,161,15" id ="412" alt="previous" onclick="pressMenuRemote('412');">
							<area shape="circle" coords="70,161,15" id ="11" alt="0" onclick="pressMenuRemote('11');">
							<area shape="circle" coords="102,161,15" id ="407" alt="next" onclick="pressMenuRemote('407');">
							<area shape="circle" coords="33,186,15" id ="398" alt="red" onclick="pressMenuRemote('398');">
							<area shape="circle" coords="58,186,15" id ="399" alt="green" onclick="pressMenuRemote('399');">
							<area shape="circle" coords="82,186,15" id ="400" alt="yellow" onclick="pressMenuRemote('400');">
							<area shape="circle" coords="105,186,15" id ="401" alt="blue" onclick="pressMenuRemote('401');">
							<area shape="circle" coords="70,213,15" id ="103" alt="up" onclick="pressMenuRemote('103');">
							<area shape="circle" coords="70,283,15" id ="108" alt="down" onclick="pressMenuRemote('108');">
							<area shape="circle" coords="35,248,15" id ="105" alt="left" onclick="pressMenuRemote('105');">
							<area shape="circle" coords="105,248,15" id ="106" alt="right" onclick="pressMenuRemote('106');">
							<area shape="circle" coords="70,248,20" id ="352" alt="OK" onclick="pressMenuRemote('352');">
							<area shape="circle" coords="40,307,15" id ="115" alt="volume up" onclick="pressMenuRemote('115');">
							<area shape="circle" coords="40,338,13" id ="114" alt="volume down" onclick="pressMenuRemote('114');">
							<area shape="circle" coords="70,310,15" id ="174" alt="exit" onclick="pressMenuRemote('174');">
							<area shape="circle" coords="70,334,15" id ="358" alt="epg" onclick="pressMenuRemote('358');">
							<area shape="circle" coords="99,307,15" id ="402" alt="channelup" onclick="pressMenuRemote('402');">
							<area shape="circle" coords="99,338,15" id ="403" alt="channeldown" onclick="pressMenuRemote('403');">
							<area shape="circle" coords="36,362,15" id ="139" alt="menu" onclick="pressMenuRemote('139');">
							<area shape="circle" coords="59,362,15" id ="393" alt="videoaltlast" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="81,362,15" id ="392" alt="audio" onclick="pressMenuRemote('392');">
							<area shape="circle" coords="104,362,15" id ="138" alt="help" onclick="pressMenuRemote('138');">
							<area shape="circle" coords="36,383,15" id ="168" alt="rewind" onclick="pressMenuRemote('168');">
							<area shape="circle" coords="59,383,15" id ="207" alt="play" onclick="pressMenuRemote('207');">
							<area shape="circle" coords="81,383,15" id ="119" alt="pause" onclick="pressMenuRemote('119');">
							<area shape="circle" coords="104,383,15" id ="208" alt="forward" onclick="pressMenuRemote('208');">
							<area shape="circle" coords="36,405,15" id ="377" alt="tv" onclick="pressMenuRemote('377');">
							<area shape="circle" coords="59,405,15" id ="167" alt="record" onclick="pressMenuRemote('167');">
							<area shape="circle" coords="81,405,15" id ="128" alt="stop" onclick="pressMenuRemote('128');">
							<area shape="circle" coords="104,405,15" id ="385" alt="radio" onclick="pressMenuRemote('385');">
						</map>
						#else if $box == "ultimo":
						<img border='0' src='/images/remotes/vu_ultimo.png' usemap='#map' >
						<map name="map">
							<area shape="rect" coords="108,18,123,31" alt="Power" onclick="pressMenuRemote('116');">
							<area shape="rect" coords="18,270,49,283" alt="1" onclick="pressMenuRemote('2');">
							<area shape="rect" coords="54,270,90,283" alt="2" onclick="pressMenuRemote('3');">
							<area shape="rect" coords="95,270,126,283" alt="3" onclick="pressMenuRemote('4');">
							<area shape="rect" coords="18,292,49,304" alt="4" onclick="pressMenuRemote('5');">
							<area shape="rect" coords="54,292,90,304" alt="5" onclick="pressMenuRemote('6');">
							<area shape="rect" coords="95,292,126,304" alt="6" onclick="pressMenuRemote('7');">
							<area shape="rect" coords="18,313,49,326" alt="7" onclick="pressMenuRemote('8');">
							<area shape="rect" coords="54,313,90,326" alt="8" onclick="pressMenuRemote('9');">
							<area shape="rect" coords="95,313,126,326" alt="9" onclick="pressMenuRemote('10');">
							<area shape="rect" coords="18,335,49,347" alt="previous" onclick="pressMenuRemote('412');">
							<area shape="rect" coords="54,335,90,347" alt="0" onclick="pressMenuRemote('11');">
							<area shape="rect" coords="95,335,126,347" alt="next" onclick="pressMenuRemote('407');">
							<area shape="rect" coords="22,198,45,218" alt="volume up" onclick="pressMenuRemote('115');">
							<area shape="rect" coords="102,47,125,53" alt="mute" onclick="pressMenuRemote('113');">
							<area shape="rect" coords="102,198,122,218" alt="bouquet up" onclick="pressMenuRemote('402');">
							<area shape="rect" coords="22,234,45,252" alt="volume down" onclick="pressMenuRemote('114');">
							<area shape="rect" coords="65,208,81,225" alt="exit" onclick="pressMenuRemote('174');">
							<area shape="rect" coords="102,234,122,252" alt="bouquet down" onclick="pressMenuRemote('403');">
							<area shape="rect" coords="66,236,81,252" alt="epg" onclick="pressMenuRemote('358');">
							<area shape="rect" coords="58,102,81,117" alt="up" onclick="pressMenuRemote('103');">
							<area shape="rect" coords="18,63,42,70" alt="menu" onclick="pressMenuRemote('139');">
							<area shape="rect" coords="29,129,48,170" alt="left" onclick="pressMenuRemote('105');">
							<area shape="rect" coords="58,128,90,162" alt="OK" onclick="pressMenuRemote('352');">
							<area shape="rect" coords="96,128,114,170" alt="right" onclick="pressMenuRemote('106');">
							<area shape="rect" coords="103,63,126,69" alt="help" onclick="pressMenuRemote('138');">
							<area shape="rect" coords="58,171,90,187" alt="down" onclick="pressMenuRemote('108');">
							<area shape="rect" coords="45,63,70,70" alt="video" onclick="pressMenuRemote('393');">
							<area shape="rect" coords="18,81,42,87" alt="red" onclick="pressMenuRemote('398');">
							<area shape="rect" coords="47,81,70,87" alt="green" onclick="pressMenuRemote('399');">
							<area shape="rect" coords="75,81,99,87" alt="yellow" onclick="pressMenuRemote('400');">
							<area shape="rect" coords="103,81,126,87" alt="blue" onclick="pressMenuRemote('401');">
							<area shape="rect" coords="18,358,42,365" alt="rewind" onclick="pressMenuRemote('168');">
							<area shape="rect" coords="47,358,70,365" alt="play" onclick="pressMenuRemote('207');">
							<area shape="rect" coords="75,373,99,380" alt="stop" onclick="pressMenuRemote('128');">
							<area shape="rect" coords="103,358,126,365" alt="forward" onclick="pressMenuRemote('208');">
							<area shape="rect" coords="18,373,42,380" alt="tv" onclick="pressMenuRemote('377');">
							<area shape="rect" coords="103,373,126,380" alt="radio" onclick="pressMenuRemote('385');">
							<area shape="rect" coords="18,47,42,53" alt="text" onclick="pressMenuRemote('388');">
							<area shape="rect" coords="47,373,70,380" alt="record" onclick="pressMenuRemote('167');">
							<area shape="rect" coords="75,63,99,69" alt="audio" onclick="pressMenuRemote('392');">
							<area shape="rect" coords="75,358,99,364" alt="pause" onclick="pressMenuRemote('119');">
							<area shape="rect" coords="47,47,69,81" alt="subtitle" onclick="pressMenuRemote('370');"
						</map>
						#else if $box == "et9x00" or $box == "et9000" or $box == "et9100" or $box == "et9200":
						<img border='0' src='/images/remotes/et_rc7_normal.png' usemap='#map' >
						<map name="map">
							<area shape="circle" coords="89,47,12" alt="Power" onclick="pressMenuRemote('116');">
							<area shape="circle" coords="30,86,12" alt="1" onclick="pressMenuRemote('2');">
							<area shape="circle" coords="59,86,12" alt="2" onclick="pressMenuRemote('3');">
							<area shape="circle" coords="88,86,12" alt="3" onclick="pressMenuRemote('4');">
							<area shape="circle" coords="30,104,12" alt="4" onclick="pressMenuRemote('5');">
							<area shape="circle" coords="59,104,12" alt="5" onclick="pressMenuRemote('6');">
							<area shape="circle" coords="88,104,12" alt="6" onclick="pressMenuRemote('7');">
							<area shape="circle" coords="30,122,12" alt="7" onclick="pressMenuRemote('8');">
							<area shape="circle" coords="59,122,12" alt="8" onclick="pressMenuRemote('9');">
							<area shape="circle" coords="88,122,12" alt="9" onclick="pressMenuRemote('10');">
							<area shape="circle" coords="30,139,12" alt="previous" onclick="pressMenuRemote('412');">
							<area shape="circle" coords="59,139,12" alt="0" onclick="pressMenuRemote('11');">
							<area shape="circle" coords="88,139,12" alt="next" onclick="pressMenuRemote('407');">
							<area shape="circle" coords="24,161,10" alt="red" onclick="pressMenuRemote('398');">
							<area shape="circle" coords="47,161,10" alt="green" onclick="pressMenuRemote('399');">
							<area shape="circle" coords="70,161,10" alt="yellow" onclick="pressMenuRemote('400');">
							<area shape="circle" coords="93,161,10" alt="blue" onclick="pressMenuRemote('401');">
							<area shape="circle" coords="26,195,10" alt="menu" onclick="pressMenuRemote('139');">
							<area shape="circle" coords="46,181,10" alt="epg" onclick="pressMenuRemote('365');">
							<area shape="circle" coords="72,181,10" alt="info" onclick="pressMenuRemote('358');">
							<area shape="circle" coords="93,194,10" alt="exit" onclick="pressMenuRemote('174');">
							<area shape="circle" coords="59,202,12" alt="up" onclick="pressMenuRemote('103');">
							<area shape="circle" coords="59,244,12" alt="down" onclick="pressMenuRemote('108');">
							<area shape="circle" coords="38,223,12" alt="left" onclick="pressMenuRemote('105');">
							<area shape="circle" coords="80,223,12" alt="right" onclick="pressMenuRemote('106');">
							<area shape="circle" coords="59,222,15" alt="OK" onclick="pressMenuRemote('352');">
							<area shape="circle" coords="29,268,15" alt="volume up" onclick="pressMenuRemote('115');">
							<area shape="circle" coords="29,291,15" alt="volume down" onclick="pressMenuRemote('114');">
							<area shape="circle" coords="59,267,10" alt="mute" onclick="pressMenuRemote('113');">
							<area shape="circle" coords="59,283,12" alt="filelist" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="59,299,12" alt="playlist" onclick="pressMenuRemote('395');">
							<area shape="circle" coords="88,268,10" alt="channel up" onclick="pressMenuRemote('402');">
							<area shape="circle" coords="88,291,10" alt="channel down" onclick="pressMenuRemote('403');">
							<area shape="circle" coords="30,319,12" alt="rewind" onclick="pressMenuRemote('168');">
							<area shape="circle" coords="59,319,12" alt="play" onclick="pressMenuRemote('207');">
							<area shape="circle" coords="59,319,12" alt="pause" onclick="pressMenuRemote('119');">
							<area shape="circle" coords="88,319,12" alt="forward" onclick="pressMenuRemote('208');">
							<area shape="circle" coords="30,335,12" alt="record" onclick="pressMenuRemote('167');">
							<area shape="circle" coords="59,335,12" alt="stop" onclick="pressMenuRemote('128');">
							<area shape="circle" coords="88,335,12" alt="jump" onclick="pressMenuRemote('519');">
							<area shape="circle" coords="30,352,12" alt="timeshift" onclick="pressMenuRemote('359');">
							<area shape="circle" coords="59,352,12" alt="mark" onclick="pressMenuRemote('834');">
							<area shape="circle" coords="88,352,12" alt="search" onclick="pressMenuRemote('535');">
							<area shape="circle" coords="30,370,12" alt="timer" onclick="pressMenuRemote('362');">
							<area shape="circle" coords="59,370,12" alt="pip" onclick="pressMenuRemote('375');">
							<area shape="circle" coords="88,370,12" alt="vkey" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="30,388,12" alt="text" onclick="pressMenuRemote('388');">
							<area shape="circle" coords="88,388,12" alt="subtitle" onclick="pressMenuRemote('370');">
							<area shape="circle" coords="59,388,12" alt="audio" onclick="pressMenuRemote('392');">
							<area shape="circle" coords="30,406,12" alt="tv" onclick="pressMenuRemote('377');">
							<area shape="circle" coords="59,406,12" alt="radio" onclick="pressMenuRemote('385');">
							<area shape="circle" coords="88,406,12" alt="help" onclick="pressMenuRemote('138');">
						</map>
						#else if $box == "et5x00" or $box == "et5000" or $box == "et6x00" or $box == "et6000":
						<img border='0' src='/images/remotes/et_rc5_normal.png' usemap='#map' >
						<map name="map">
							<area shape="circle" coords="89,47,12" alt="Power" onclick="pressMenuRemote('116');">
							<area shape="circle" coords="30,86,12" alt="1" onclick="pressMenuRemote('2');">
							<area shape="circle" coords="59,86,12" alt="2" onclick="pressMenuRemote('3');">
							<area shape="circle" coords="88,86,12" alt="3" onclick="pressMenuRemote('4');">
							<area shape="circle" coords="30,104,12" alt="4" onclick="pressMenuRemote('5');">
							<area shape="circle" coords="59,104,12" alt="5" onclick="pressMenuRemote('6');">
							<area shape="circle" coords="88,104,12" alt="6" onclick="pressMenuRemote('7');">
							<area shape="circle" coords="30,122,12" alt="7" onclick="pressMenuRemote('8');">
							<area shape="circle" coords="59,122,12" alt="8" onclick="pressMenuRemote('9');">
							<area shape="circle" coords="88,122,12" alt="9" onclick="pressMenuRemote('10');">
							<area shape="circle" coords="30,139,12" alt="previous" onclick="pressMenuRemote('412');">
							<area shape="circle" coords="59,139,12" alt="0" onclick="pressMenuRemote('11');">
							<area shape="circle" coords="88,139,12" alt="next" onclick="pressMenuRemote('407');">
							<area shape="circle" coords="24,161,10" alt="red" onclick="pressMenuRemote('398');">
							<area shape="circle" coords="47,161,10" alt="green" onclick="pressMenuRemote('399');">
							<area shape="circle" coords="70,161,10" alt="yellow" onclick="pressMenuRemote('400');">
							<area shape="circle" coords="93,161,10" alt="blue" onclick="pressMenuRemote('401');">
							<area shape="circle" coords="26,195,10" alt="menu" onclick="pressMenuRemote('139');">
							<area shape="circle" coords="46,181,10" alt="epg" onclick="pressMenuRemote('365');">
							<area shape="circle" coords="72,181,10" alt="info" onclick="pressMenuRemote('358');">
							<area shape="circle" coords="93,194,10" alt="exit" onclick="pressMenuRemote('174');">
							<area shape="circle" coords="59,202,12" alt="up" onclick="pressMenuRemote('103');">
							<area shape="circle" coords="59,244,12" alt="down" onclick="pressMenuRemote('108');">
							<area shape="circle" coords="38,223,12" alt="left" onclick="pressMenuRemote('105');">
							<area shape="circle" coords="80,223,12" alt="right" onclick="pressMenuRemote('106');">
							<area shape="circle" coords="59,222,15" alt="OK" onclick="pressMenuRemote('352');">
							<area shape="circle" coords="29,268,15" alt="volume up" onclick="pressMenuRemote('115');">
							<area shape="circle" coords="29,291,15" alt="volume down" onclick="pressMenuRemote('114');">
							<area shape="circle" coords="59,267,10" alt="mute" onclick="pressMenuRemote('113');">
							<area shape="circle" coords="59,283,12" alt="filelist" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="59,299,12" alt="playlist" onclick="pressMenuRemote('395');">
							<area shape="circle" coords="88,268,10" alt="channel up" onclick="pressMenuRemote('402');">
							<area shape="circle" coords="88,291,10" alt="channel down" onclick="pressMenuRemote('403');">
							<area shape="circle" coords="30,319,12" alt="rewind" onclick="pressMenuRemote('168');">
							<area shape="circle" coords="59,319,12" alt="play" onclick="pressMenuRemote('207');">
							<area shape="circle" coords="59,319,12" alt="pause" onclick="pressMenuRemote('119');">
							<area shape="circle" coords="88,319,12" alt="forward" onclick="pressMenuRemote('208');">
							<area shape="circle" coords="30,335,12" alt="record" onclick="pressMenuRemote('167');">
							<area shape="circle" coords="59,335,12" alt="stop" onclick="pressMenuRemote('128');">
							<area shape="circle" coords="88,335,12" alt="jump" onclick="pressMenuRemote('519');">
							<area shape="circle" coords="30,352,12" alt="timeshift" onclick="pressMenuRemote('359');">
							<area shape="circle" coords="59,352,12" alt="mark" onclick="pressMenuRemote('834');">
							<area shape="circle" coords="88,352,12" alt="search" onclick="pressMenuRemote('535');">
							<area shape="circle" coords="30,370,12" alt="timer" onclick="pressMenuRemote('362');">
							<area shape="circle" coords="59,370,12" alt="pip" onclick="pressMenuRemote('375');">
							<area shape="circle" coords="88,370,12" alt="vkey" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="30,388,12" alt="text" onclick="pressMenuRemote('388');">
							<area shape="circle" coords="88,388,12" alt="subtitle" onclick="pressMenuRemote('370');">
							<area shape="circle" coords="28,46,12" alt="audio" onclick="pressMenuRemote('392');">
							<area shape="circle" coords="29,67,12" alt="tv" onclick="pressMenuRemote('377');">
							<area shape="circle" coords="59,67,12" alt="radio" onclick="pressMenuRemote('385');">
							<area shape="circle" coords="90,68,12" alt="help" onclick="pressMenuRemote('138');">
						</map>
						#else
						<img border='0' src='/images/remotes/dm_normal.png' usemap='#map' >
						<map name="map">
							<area shape="circle" coords="38,336,9" alt="tv" onclick="pressMenuRemote('377');">
							<area shape="circle" coords="62,337,9" alt="radio" onclick="pressMenuRemote('385');">
							<area shape="circle" coords="85,337,9" alt="text" onclick="pressMenuRemote('388');">
							<area shape="circle" coords="108,336,9" alt="help" onclick="pressMenuRemote('138');">
							<area shape="circle" coords="112,306,9" alt="blue" onclick="pressMenuRemote('401');">
							<area shape="circle" coords="86,307,9" alt="yellow" onclick="pressMenuRemote('400');">
							<area shape="circle" coords="61,307,9" alt="green" onclick="pressMenuRemote('399');">
							<area shape="circle" coords="35,307,9" alt="red" onclick="pressMenuRemote('398');">
							<area shape="circle" coords="116,275,9" alt="video" onclick="pressMenuRemote('393');">
							<area shape="circle" coords="32,276,9" alt="audio" onclick="pressMenuRemote('392');">
							<area shape="circle" coords="119,218,9" alt="menu" onclick="pressMenuRemote('139');">
							<area shape="circle" coords="28,217,9" alt="info" onclick="pressMenuRemote('358');">
							<area shape="rect" coords="52,210,94,228" alt="up" onclick="pressMenuRemote('103');">
							<area shape="rect" coords="52,259,94,277" alt="down" onclick="pressMenuRemote('108');">
							<area shape="rect" coords="91,231,114,257" alt="right" onclick="pressMenuRemote('106');">
							<area shape="rect" coords="33,231,56,257" alt="left" onclick="pressMenuRemote('105');">
							<area shape="rect" coords="62,234,85,253" alt="ok" onclick="pressMenuRemote('352');">
							<area shape="rect" coords="95,183,118,202" alt="bouquet down" onclick="pressMenuRemote('403');">
							<area shape="rect" coords="103,159,126,178" alt="bouquet up" onclick="pressMenuRemote('402');">
							<area shape="rect" coords="29,183,52,202" alt="volume down" onclick="pressMenuRemote('115');">
							<area shape="rect" coords="22,159,45,178" alt="volume up" onclick="pressMenuRemote('114');">
							<area shape="rect" coords="59,154,86,169" alt="mute" onclick="pressMenuRemote('113');">
							<area shape="rect" coords="59,174,86,189" alt="exit" onclick="pressMenuRemote('174');">
							<area shape="rect" coords="94,126,121,141" alt="next" onclick="pressMenuRemote('407');">
							<area shape="rect" coords="60,127,87,142" alt="0" onclick="pressMenuRemote('11');">
							<area shape="rect" coords="25,127,52,142" alt="previous" onclick="pressMenuRemote('412');">
							<area shape="rect" coords="94,107,121,122" alt="9" onclick="pressMenuRemote('10');">
							<area shape="rect" coords="60,107,87,122" alt="8" onclick="pressMenuRemote('9');">
							<area shape="rect" coords="26,108,53,123" alt="7" onclick="pressMenuRemote('8');">
							<area shape="rect" coords="94,88,121,103" alt="6" onclick="pressMenuRemote('7');">
							<area shape="rect" coords="60,88,87,103" alt="5" onclick="pressMenuRemote('6');">
							<area shape="rect" coords="26,88,53,103" alt="4" onclick="pressMenuRemote('5');">
							<area shape="rect" coords="94,69,121,84" alt="3" onclick="pressMenuRemote('4');">
							<area shape="rect" coords="61,69,88,84" alt="2" onclick="pressMenuRemote('3');">
							<area shape="rect" coords="26,69,53,84" alt="1" onclick="pressMenuRemote('2');">
							<area shape="rect" coords="76,15,103,30" alt="power" onclick="pressMenuRemote('116');">
						</map>
						#end if
						<div id="help">
							(shift + click for long pressure)
						</div>
						<ul>
							#if $remotegrabscreenshot
							<li><input type="checkbox" name="remotegrabscreen" checked="checked" />Grab screenshot</li>
							#else
							<li><input type="checkbox" name="remotegrabscreen" />Grab screenshot</li>
							#end if
							<li><a href="#" onclick="toggleFullRemote(); return false;" class="leftmenu_remotelink">Hide full remote</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="content">
			$content
			<div id="footer"><h3>&nbsp;&nbsp;<a href="https://github.com/E2OpenPlugins">E2OpenPlugins</a> | <a href="http://www.vuplus-community.net">Black Hole</a> | <a href="http://openpli.org">OpenPli</a> | <a href="http://forum.sifteam.eu">Sif</a> | <a href="http://www.vuplus-support.org">Vti</a></h3></div>
		</div>
	</div>
</body>
</html>
