<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link type="text/css" href="css/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/openwebif.js"></script>


<title>Open Webif</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>Open<span class="off">Webif</span></h1>
			<h2>Open Source Web Interface for Linux set-top box</h2>
		</div>
		
		<div id="menu">
			<ul>
				<!-- 
				<li class="menuitem"><a href="work_in_progress.html">Movies</a></li>
				<li class="menuitem"><a href="work_in_progress.html">Timers</a></li>
				<li class="menuitem"><a href="work_in_progress.html">Web Tv</a></li>
				-->
			</ul>
		</div>
		
		<div id="osd">
			n/a
		</div>
		
		<div id="dialog" title="Work in progress">
			<p>Sorry, this function is not yet implemented.</p>
		</div>
		
		<div id="leftmenu">
			<div id="leftmenu_main">
				<div id="leftmenu_top">Main</div>
				<ul>
					<li><a href="/index">Television</a></li>
					<li><a href='#' onClick="dialog_notyet();return false">Radio</a></li>
				</ul>
			</div>
			<div id="leftmenu_main">
				<div id="leftmenu_top">Volume Control</div>
				<div class="volslider">
						<p style="text-align:center; padding-bottom:8px;"> 
							<label for="amount">Volume:</label>
							<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; width:40px;" />
						</p>
					<div id="slider" style="width:130px;"></div>
				</div>
				<div style="width:100%; text-align:center; padding-top:5px; padding-bottom:10px;"><img id="volimage" src="images/volume.png" title="" border="0"></div>
			</div>

			<div id="leftmenu_main">    
				<div id="leftmenu_top">Box Control</div>
				<ul>
					<li><a href='#' onclick="load_maincontent('ajax/powerstate'); return false">Power Control</a></li>
					<li><a href="/workinprogress">Remote Control</a></li>
					<li><a href="/workinprogress">Screen shot (All)</a></li>
					<li><a href="/workinprogress">Screen shot (Video)</a></li>
					<li><a href="/workinprogress">Screen shot (Osd)</a></li>
					<li><a href="/workinprogress">Send a Message</a></li>
					<li><a href="/workinprogress">Timers</a></li>
				</ul>
			</div>
			
			<div id="leftmenu_main">
				<div id="leftmenu_top">Info</div>
				<ul>
					<li><a href="#" onclick="load_maincontent('ajax/boxinfo'); return false">Box Info</a></li>
					<li><a href="#" onclick="load_maincontent('ajax/about'); return false">About</a></li>
				</ul>
			</div>
			<div id="leftmenu_main">
				<div id="leftmenu_top">Stream</div>
				<ul>
					<li><a href="javascript:void(0);" onclick="load_maincontent('ajax/movies'); return false">Movies</a></li>
					<li><a href="/workinprogress">Web Tv</a></li>
				</ul>
			</div>
			<div id="leftmenu_main">
				<div id="leftmenu_top">Epg Search</div>
				<div style="width:100%; text-align:center; padding-top:5px;"><input type="text" id="epgSearch" size="14" /></div>
				<div style="width:100%; text-align:center;padding-top:5px; padding-bottom:7px;" class="epgsearch"><button onclick="open_epg_search_pop();">Search</button></div>
			</div>
		</div>
		
		<div id="content">
			$content
			<div id="footer"><h3>&nbsp;&nbsp;<a href="https://github.com/E2OpenPlugins">E2OpenPlugins</a> | <a href="http://www.vuplus-community.net">Black Hole</a> | <a href="http://openpli.org">OpenPli</a> | <a href="http://forum.sifteam.eu">Sif</a> | <a href="http://www.vuplus-support.org">Vti</a></h3></div>
		</div>
	</div>
</body>
</html>
