<div id="content_main" style="min-height: 500px;">
	<div id="info">
		<h3>Power Control</h3>
		<hr />
			<div class="powerStateButtons">
				<ul>
				<li onclick="webapi_execute('api/powerstate?newstate=0'); return false">StandBy Toggle</li>
				<li onclick="webapi_execute('api/powerstate?newstate=1'); return false">Deep-StandBy</li>
				<li onclick="webapi_execute('api/powerstate?newstate=2'); return false">Reboot Box</li> 
				<li onclick="webapi_execute('api/powerstate?newstate=3'); return false">Restart Enigma2</li>
				</ul>
			</div>
	</div>
</div>
