<div id="content_main" style="min-height: 533px;">
	<div id="info">
		<h3>Screenshot</h3>

		<div id="toolbar-header">
			<span id="toolbar">
				<span id="screenshotbutton">
					<input type="radio" id="screenshotbutton0" name="screenshotbutton" onclick="grabScreenshot('all'); return false" checked="checked" /><label for="screenshotbutton0">Screenshot (All)</label>
					<input type="radio" id="screenshotbutton1" name="screenshotbutton" onclick="grabScreenshot('video'); return false" /><label for="screenshotbutton1">Screenshot (Video)</label>
					<input type="radio" id="screenshotbutton2" name="screenshotbutton" onclick="grabScreenshot('osd'); return false" /><label for="screenshotbutton2">Screenshot (OSD)</label>
				</span>
			</span>
		</div>
	
		<div id="remoteControl" title="Remote Control" style="display: none;">
#if $box.brand == "vuplus"
			<img border='0' src='/images/remotes/vu_normal.png' usemap='#map' >
			<map name="map">
				<area shape="circle" coords="33,28,15" id="113" alt="mute">
				<area shape="circle" coords="105,28,15" id ="116" alt="Power">
				<area shape="circle" coords="33,53,15" id ="388" alt="text">
				<area shape="circle" coords="58,53,15" id ="370" alt="subtitle">
				<area shape="circle" coords="82,53,15" id ="102" alt="home">
				<area shape="circle" coords="105,53,15" id ="107" alt="end">
				<area shape="circle" coords="38,79,15" id ="2" alt="1">
				<area shape="circle" coords="70,79,15" id ="3" alt="2">
				<area shape="circle" coords="102,79,15" id ="4" alt="3">
				<area shape="circle" coords="38,106,15" id ="5" alt="4">
				<area shape="circle" coords="70,106,15" id ="6" alt="5">
				<area shape="circle" coords="102,106,15" id ="7" alt="6">
				<area shape="circle" coords="38,133,15" id ="8" alt="7">
				<area shape="circle" coords="70,133,15" id ="9" alt="8">
				<area shape="circle" coords="102,133,15" id ="10" alt="9">
				<area shape="circle" coords="38,161,15" id ="412" alt="previous">
				<area shape="circle" coords="70,161,15" id ="11" alt="0">
				<area shape="circle" coords="102,161,15" id ="407" alt="next">
				<area shape="circle" coords="33,186,15" id ="398" alt="red">
				<area shape="circle" coords="58,186,15" id ="399" alt="green">
				<area shape="circle" coords="82,186,15" id ="400" alt="yellow">
				<area shape="circle" coords="105,186,15" id ="401" alt="blue">
				<area shape="circle" coords="70,213,15" id ="103" alt="up">
				<area shape="circle" coords="70,283,15" id ="108" alt="down">
				<area shape="circle" coords="35,248,15" id ="105" alt="left">
				<area shape="circle" coords="105,248,15" id ="106" alt="right">
				<area shape="circle" coords="70,248,20" id ="352" alt="OK">
				<area shape="circle" coords="40,307,15" id ="115" alt="volume up">
				<area shape="circle" coords="40,338,13" id ="114" alt="volume down">
				<area shape="circle" coords="70,310,15" id ="174" alt="exit">
				<area shape="circle" coords="70,334,15" id ="358" alt="epg">
				<area shape="circle" coords="99,307,15" id ="402" alt="channelup">
				<area shape="circle" coords="99,338,15" id ="403" alt="channeldown">
				<area shape="circle" coords="36,362,15" id ="139" alt="menu">
				<area shape="circle" coords="59,362,15" id ="393" alt="videoaltlast">
				<area shape="circle" coords="81,362,15" id ="392" alt="audio">
				<area shape="circle" coords="104,362,15" id ="138" alt="help">
				<area shape="circle" coords="36,383,15" id ="168" alt="rewind">
				<area shape="circle" coords="59,383,15" id ="207" alt="play">
				<area shape="circle" coords="81,383,15" id ="119" alt="pause">
				<area shape="circle" coords="104,383,15" id ="208" alt="forward">
				<area shape="circle" coords="36,405,15" id ="377" alt="tv">
				<area shape="circle" coords="59,405,15" id ="167" alt="record">
				<area shape="circle" coords="81,405,15" id ="128" alt="stop">
				<area shape="circle" coords="104,405,15" id ="385" alt="radio">
			</map>
#else
			<img border='0' src='/images/remotes/dm_normal.png' usemap='#map' >
			<map name='map'>
				<area alt="1" id="2" shape='rect' coords='26,75,60,96' />
				<area alt="2" id="3" shape='rect' coords='65,75,99,96' />
				<area alt="3" id="4" shape='rect' coords='104,75,138,96' />
				<area alt="4" id="5" shape='rect' coords='27,98,60,117' />
				<area alt="5" id="6" shape='rect' coords='65,98,99,117' />
				<area alt="6" id="7" shape='rect' coords='104,98,138,117' />
				<area alt="7" id="8" shape='rect' coords='27,119,60,139' />
				<area alt="8" id="9" shape='rect' coords='65,119,99,139' />
				<area alt="9" id="10" shape='rect' coords='104,119,138,139' />
				<area alt="0" id="11" shape='rect' coords='65,142,99,160' />
				<area alt="Previous" id="412" shape='rect' coords='27,142,60,160' />
				<area alt="Next" id="407" shape='rect' coords='104,141,138,160' />
				<area alt="OK" id="352" shape='rect' coords='62,261,105,292' />
				<area alt="Exit" id="174" shape='circle' coords='81,208,14' />
				<area alt="Volume up" id="115" shape='circle' coords='37,190,13' />
				<area alt="Volume down" id="114" shape='circle' coords='47,218,14' />
				<area alt="Bouquet up" id="402" shape='circle' coords='129,189,14' />
				<area alt="Bouquet down" id="403" shape='circle' coords='119,219,14' />
				<area alt="Up" id="103" shape='rect' coords='48,234,118,259' />
				<area alt="Down" id="108" shape='rect' coords='54,294,109,319' />
				<area alt="Left" id="105" shape='rect' coords='34,261,64,294' />
				<area alt="Right" id="106" shape='rect' coords='103,261,129,294' />
				<area alt="Power" id="116" shape='circle' coords='101,25,16' />
				<area alt="Menu" id="139" shape='circle' coords='134,245,13' />
				<area alt="Info" id="358" shape='circle' coords='32,245,14' />
				<area alt="Video" id="393" shape='circle' coords='130,312,12' />
				<area alt="Audio" id="392" shape='circle' coords='35,312,12' />
				<area alt="Mute" id="113" shape='circle' coords='82,180,14' />
				<area alt="Red" id="398" shape='circle' coords='39,347,12' />
				<area alt="Green" id="399" shape='circle' coords='67,347,11' />
				<area alt="Yellow" id="400" shape='circle' coords='97,349,12' />
				<area alt="Blue" id="401" shape='circle' coords='126,346,12' />
				<area alt="TV" id="377" shape='circle' coords='43,381,12' />
				<area alt="Radio" id="385" shape='circle' coords='69,382,12' />
				<area alt="Text" id="388" shape='circle' coords='97,382,13' />
				<area alt="Help" id="138" shape='circle' coords='123,382,11' />
			</map>
#end if
		</div>
	
		<div class="screenshotContainer">
			<img id="screenshotspinner" src="/images/spinner.gif" border="0" alt="Loading ..." style="display: none;">
			<img id="screenshotimage" src="/images/spinner.gif" alt="">
		</div>
		
		<div id="screenShotRefresh" style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 300px;"><input type="checkbox" id="screenshotRefreshStatus" value="0"> Refresh automaticly every <input type="text" size="1" id="screenshotRefreshInterval" value="30"> seconds</div>
	</div>
</div>

<script type="text/javascript">
	jQuery.urlParam = function(name){
		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
		if (results)
			return results[1];
		return 0;
	}

	jQuery('#screenshotbutton').buttonset();
	jQuery('#screenshotRefreshStatus').attr('checked', false);
	jQuery('#screenshotRefreshInterval').val(30);
	var screenshotInterval = false;
	var screenshotMode = 'all';
	
	jQuery('#screenshotRefreshInterval').change(function() {
		if (jQuery('#screenshotRefreshStatus').is(':checked')) {
			clearInterval(screenshotInterval); 
			screenshotInterval = setInterval("grabScreenshot('auto')", (parseInt(jQuery('#screenshotRefreshInterval').val())+1)*1000);
		}
	});
	
	jQuery('#screenshotRefreshStatus').change(function() {
		if (jQuery('#screenshotRefreshStatus').is(':checked')) {
			screenshotInterval = setInterval("grabScreenshot('auto')", (parseInt(jQuery('#screenshotRefreshInterval').val())+1)*1000);
		} else {
			clearInterval(screenshotInterval); 
		}
	});
	
	jQuery('area').click(function() { 
		var code = jQuery(this).attr('id');
		var button = jQuery(this).attr('alt');
		webapi_execute("/api/remotecontrol?command=" + parseInt(code));

		grabScreenshot(screenshotMode);
	  return false; 
	});

	jQuery(document).ready(function() {
		if (jQuery.urlParam('showrc') == 1) {
			var position = jQuery("#content_main").position();
			var width = jQuery("#content_main").css('width');

			jQuery("#remoteControl").dialog({width: 190, position: [parseInt(position.left)+parseInt(width)+195, parseInt(position.top)+1], "resizable": false});
			jQuery('area').css({"cursor": "pointer"});
		}
		grabScreenshot(screenshotMode);
	});
</script>