@import "../theme_original";
/*
  simplified 'original' theme  optimised for smaller screens
*/
body.original-small-screen {
  background-image: none;

  #container {
    margin: 0;
  }

  #header {
    height: 6em;
    padding-right: 0.5em;

    h1, h2, h3 {
      display: none;
    }
  }

  #statusheader {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
  }

  #content_container {
    max-width: 95%;
  }

  #leftmenu,
  #content_main {
    margin: 0.5em;
  }

  #leftmenu {
    margin-right: 0.25em;
  }

  #content_main {
    margin-left: 0;
  }

  #footer {
    display: none;
  }

  span.channel-name {
    min-width: 30em;
    display: inline-block;
  }

  span.channel-tag {
    vertical-align: middle;
    font-size: 70%;
    text-align: center;
    display: inline-block;
    min-width: 4em;
    color: #666666;
    border: 1px solid #888888;
    border-radius: 8px;
    padding: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  span.NS-DVB-C {
    background-color: rgba(0, 0, 170, 0.2);
  }

  span.NS-DVB-S {
    background-color: rgba(0, 170, 0, 0.2);
  }

  span.ST-HDTV {
    background-color: rgba(0, 0, 170, 0.3);
  }

  span.ST-TV {
    background-color: rgba(170, 170, 170, 0.5);
  }

  span.ST-RADIO {
    background-color: rgba(20, 110, 120, 0.5);
  }

}
