#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings

<div class="col-xs-12">
  <div class="card">
    <div class="header">
      <div class="row clearfix">
        <div class="col-xs-12">
          <h2><i class="material-icons material-icons-centered">announcement</i>$tstrings['about']</h2>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="row clearfix" style="text-align: center; margin-bottom: 20px;">
        <i class="material-icons material-icons-centered" style="font-size: 200px;">groups</i>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12">
          <div class="card">
            <div class="header bg--skinned">
              <h2><i class="material-icons material-icons-centered">people_alt</i>$tstrings['authors']</h2>
            </div>
            <div class="body">
              <div class="row clearfix">
                <ul style="padding: 0; list-style: none; text-align: center;">
                  <li style="padding: 10px">meo aka bacicciosat</li>
                  <li style="padding: 10px">skaman</li>
                  <li style="padding: 10px">homey-GER</li>
                  <li style="padding: 10px">nobody9</li>
                  <li style="padding: 10px">rincewind</li>
                  <li style="padding: 10px">jbleyel</li>
                  <li style="padding: 10px">SpaceRat aka Schimmelreiter</li>
                  <li style="padding: 10px">plnick</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12">
            <div class="card">
              <div class="header bg--skinned">
                <h2><i class="material-icons material-icons-centered">supervisor_account</i>$tstrings['contributors']</h2>
              </div>
              <div class="body">
                <div class="row clearfix">
                  <ul style="padding: 0; list-style: none; text-align: center;">
                    <li style="padding: 10px">Army (Graphics)</li>
                    <li style="padding: 10px">Milo, Cimarast</li>
                    <li style="padding: 10px">HSA ($tstrings['translation_spanish'])</li>
                    <li style="padding: 10px">wedebe aka Web Dev Ben (Modern interface)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12">
            <div class="card">
              <div class="header bg--skinned">
                <h2><i class="material-icons material-icons-centered">save_as</i>Software</h2>
              </div>
              <div class="body">
                <div class="row clearfix">
                  <ul style="padding: 0; list-style: none; text-align: center;">
                    <li style="padding: 10px">
  $tstrings['template_engine'] - <a href="https://www.cheetahtemplate.org/" target="_blank" class="link--skinned" rel="noreferrer noopener">Cheetah</a>
                    </li>
                    <li style="padding: 10px">
  Responsive Design based on
  <a href="https://github.com/gurayyarar/AdminBSBMaterialDesign" target="_blank" class="link--skinned" rel="noreferrer noopener">AdminBSB - Material Design</a>
  | <a href="https://www.vuplus-support.org" target="_blank" class="link--skinned" rel="noreferrer noopener">plnick - VTi</a>
                    </li>
                    <li style="padding: 10px">
  $tstrings['javalib'] -
  <a href="https://jquery.com" target="_blank" class="link--skinned" rel="noreferrer noopener">jQuery JavaScript Library - v2.2.4</a>
  | <a href="https://jqueryui.com" target="_blank" class="link--skinned" rel="noreferrer noopener">jQuery UI - v1.12.1</a>
  | <a href="https://getbootstrap.com" target="_blank" class="link--skinned" rel="noreferrer noopener">Bootstrap - v3.3.6</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12">
            <div class="card">
              <div class="header bg--skinned">
                <h2><i class="material-icons material-icons-centered">supervisor_account</i>License</h2><!-- TODO: i10n -->
              </div>
              <div class="body">
                <div class="row clearfix" style="text-align: center;">
                  <p>
$tstrings['license_text']
                  </p>
                  <p>
<a href="https://github.com/E2OpenPlugins/e2openplugin-OpenWebif" target="_blank" class="link--skinned" rel="noreferrer noopener">OpenWebif source code</a>
| <a href="https://github.com/E2OpenPlugins/e2openplugin-OpenWebif/blob/master/LICENSE.txt" target="_blank" class="link--skinned" rel="noreferrer noopener">GNU General Public License v3.0</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
