#from urllib import quote
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.vtiaddon import skinColor
<div class="form-group hidden-md hidden-lg hidden-xl">
	<select class="form-control show-tick" id="bqselector">
	#for $bouquet in $bouquets
		<option value='ajax/channels?id=$quote($bouquet[0])&stype=$stype'>$bouquet[1]</option>
	#end for
	</select>
</div>
<div class="hidden-sm hidden-xs">
	<ul class="nav nav-tabs tab-col-$skinColor">
	#set $f="id='firstBq'"
	#for $bouquet in $bouquets
		<li><a data-toggle="tab" href='#tab' $f onclick="load_subcontent('ajax/channels?id=$quote($bouquet[0])&stype=$stype'); return false;" >
		<i onclick="pl('$quote($bouquet[0])','$quote($bouquet[1])');return false;" class="material-icons material-icons-bouquets">tv</i>$bouquet[1]</a></li>
		#set $f="class='align-middle'"
	#end for
	</ul>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="tab">
		<div id='sub_content_container'></div>
	</div>
</div>
<script type="text/javascript">
var firstBq = document.getElementById("firstBq");
firstBq.click();
#raw
$.AdminBSB.select.activate();
$(function () {
	$('#bqselector').change(function() {
		load_subcontent($(this).val())
	});
});
function pl(bq,bn) {
var plf = GetLSValue('pl','m3u');
window.open('web/services.'+ plf +'?bRef=' + bq + '&bName='+ bn,'_blank');
}
#end raw

</script>
