#filter WebSafe
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.vtiaddon import skinColor, showPicons, showPiconBackground
<style>
.select { width: 100%; }
.sortable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
.sortable li { margin: 0 1px 1px 2px; padding-left: 1.5em; font-size: .8em;  height:20px;}
.sortable li span { margin: 0 0 0 -1.5em; display: inline-block; }
	#bqemain ::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	#bqemain ::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
	.bqe__list { height: 250px; overflow-y: scroll; margin-bottom: 5px; box-shadow: 0 7px 9px -7px rgba(0,0,0,.12) }
	.bqe__picon { display: inline-block; width: 42px; text-align: center; margin-right: 1rem; }
	.bqe__picon.picon--with-background { background-color: #bababa; box-shadow: inset -8px 16px 26px #fff; }
	.bqe__picon img { max-width: 100%; }
	.bqe__button { margin: 0 0.5em; }
	img[src*="default_picon"] { filter: grayscale(1) opacity(0.2); }
</style>

#set $piconCssClass = ''

<style>
#if $showPicons
	#if $showPiconBackground
		#set $piconCssClass = 'picon--with-background'
		/* dirty workaround for jQuery-populated lists */
		.bqe__picon { background-color: #bababa; box-shadow: inset -8px 16px 26px #fff; }
	#end if
#else
		.bqe__picon { display:none; }
#end if
</style>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
		<div class="header">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-6">
					<h2><i class="material-icons material-icons-centered">view_list</i>$tstrings['Bouquet_Editor']</h2>
				</div>
			</div>
			<ul class="header-dropdown m-r--5">
				<li>
				<li class="dropdown"><a href="javascript:void(0);" id="toolbar-bouquets-reload" title="$tstrings['bqe_reload']"><i class="material-icons">autorenew</i></a>
				<li><a href="javascript:void(0);" onClick="toggleLeftSideBar(); return false;" class="m-l-5"><i class="material-icons" id="togglefullscreen">fullscreen</i></a></li>
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:void(0);" id="toolbar-bouquets-export"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['export']</a></li>
						<li><a href="javascript:void(0);" id="toolbar-bouquets-import"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['import']</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body" id="bqemain">
			<div class="row clearfix">
				<div class="col-xs-12 align-center">
					<input type="radio" name="tb2" class="radio-vti radio-col-$skinColor" id="toolbar-choose-satellites"><label for="toolbar-choose-satellites">$tstrings['satellites']</label>
					<input type="radio" name="tb2" class="radio-vti radio-col-$skinColor" id="toolbar-choose-providers" checked="checked"><label for="toolbar-choose-providers">$tstrings['providers']</label>
					<input type="radio" name="tb2" class="radio-vti radio-col-$skinColor" id="toolbar-choose-channels"><label for="toolbar-choose-channels">$tstrings['all_channels']</label>
					<span class="p-r-40"></span>
					<input type="radio" name="tb1" class="radio-vti radio-col-$skinColor" id="toolbar-choose-tv" checked="checked"><label for="toolbar-choose-tv">$tstrings['television']</label>
					<input type="radio" name="tb1" class="radio-vti radio-col-$skinColor" id="toolbar-choose-radio"><label for="toolbar-choose-radio">$tstrings['radio']</label>
				</div>
			</div>
			<div class="row clearfix">
				<section class="col-xs-12 col-md-6">
					<header>$tstrings['satellites']/$tstrings['providers']</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="provider" class="selectable"></ol>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-xs-12 col-sm-6 m-t-10">
							<div class="form-group">
								<div class="form-line">
									<input type="text" class="form-control" id="searchch" placeholder="$tstrings['bqe_search'] $tstrings['channels']">
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 m-t-10 align-right">
							<button class="bqe__button waves-effect" id="btn-provider-add">$tstrings['bqe_add_provider_as_bouquet']</button>
						</div>
					</div>
				</section>
				<section class="col-xs-12 col-md-6">
					<header>$tstrings['channels']</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="channels" class="selectable"></ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 m-t-10 align-right">
							<div class="btn-group" role="group">
								<button class="bqe__button waves-effect" id="btn-channel-add">$tstrings['bqe_add_channel']</button>
								<!-- button class="bqe__button waves-effect" id="btn-alternative-add">$tstrings['bqe_add_alternative']</button -->
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="row clearfix">
				<section class="col-xs-12 col-md-6">
					<header>$tstrings['bouquets']</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="bql" class="selectable"></ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 m-t-10">
							<div class="btn-group" role="group">
								<button class="bqe__button waves-effect" id="btn-bouquet-add">$tstrings['bqe_add_bq']</button>
								<button class="bqe__button waves-effect" id="btn-bouquet-rename">$tstrings['bqe_rename_bq']</button>
								<button class="bqe__button waves-effect" id="btn-bouquet-delete">$tstrings['bqe_delete_bq']</button>
							</div>
						</div>
					</div>
				</section>
				<section class="col-xs-12 col-md-6">
					<header>$tstrings['channels']</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="bqs" class="selectable"></ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 m-t-10">
							<div class="btn-group" role="group">
								<button class="bqe__button waves-effect" id="btn-channel-delete">$tstrings['delete']</button>
								<button class="bqe__button waves-effect" id="btn-marker-add">$tstrings['bqe_add_marker']</button>
								<!-- <button class="bqe__button waves-effect" id="btn-spacer-add">$tstrings['bqe_add_spacer']</button> -->
								<button class="bqe__button waves-effect" id="btn-marker-group-rename">$tstrings['bqe_rename']</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

		<!-- <div id="statuscont" style="display:none">
			<div id="statusbox" class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
				<p>
					<span id="statusicon" class="ui-icon ui-icon-alert" style="margin-right: .3em;"></span> 
					<span id="statustext"></span>
				</p>
			</div>
		</div> -->
		<form id="uploadrestore" style="display:none" action"uploadrestore"="" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
			<input type="file" name="rfile" id="rfile">
		</form>

<script src="/themes/absb/js/vti-responsive-bqe.js"></script>
<script type="text/javascript">

\$.AdminBSB.input.activate();
\$.AdminBSB.select.activate();
</script>
#end filter
