#filter WebSafe
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.vtiaddon import showPicons, showPiconBackground

#set $piconCssClass = ''

<!-- TODO: move styles to css file -->
<style>
#if $showPiconBackground
	#set $piconCssClass = 'picon--with-background'
	/* dirty workaround for jQuery-populated lists */
	.bqe__picon { background-color: #bababa; box-shadow: inset -8px 16px 26px #fff; }
#end if

	button.link--not-skinned.pull-right {
		margin: 0 0 0 2px;
		padding: 0px 2px;
		background: transparent;
		border: none;
		color: inherit;
	}

	#channels .material-icons,
	#bqs .material-icons {
		font-size: 20px;
	}

	.item--is-marker {
		filter: brightness(0.7);
	}

	.item--is-marker .bqe__picon {
		display: none;
	}

	[data-satprov="satellite"] .icon--satellite,
	[data-satprov="provider"] .icon--provider {
		display: inherit !important;
	}
</style>

<template id="provider-item-template">
	<li>
		<span class="icon">
			<i class="hidden icon icon--satellite material-icons material-icons-centered">satellite_alt</i>
			<i class="hidden icon icon--provider material-icons material-icons-centered">bubble_chart</i>
		</span>
		<slot name="provider-name"></slot>
	</li>
</template>

<template id="channels-item-template">
	<li>
#if $showPicons
		<span class="bqe__picon">
			<img loading="lazy">
		</span>
#end if
		<slot name="channel-name"></slot>
		<!-- css floating reverses the following elements' order -->
		<button type="button" name="zap" class="link--not-skinned pull-right" title="$tstrings['zap']">
			<i class="icon material-icons material-icons-centered">settings_remote</i>
		</button>
		<span class="pull-right">
			<span class="item__metadata m-r-5"></span>
			<span class="dd-icon-selected pull-left">
				<i class="material-icons material-icons-centered">done</i>
			</span>
		</span>
	</li>
</template>

<template id="bql-item-template">
	<li>
		<span class="handle dd-icon" title="Hold to drag"><!-- TODO: i10n -->
			<i class="material-icons material-icons-centered">drag_indicator</i>
		</span>
		<slot name="bouquet-name"></slot>
		<a href="#playlistUrl" class="pull-right link__playlist" style="color: inherit" target="playlist">
			<i class="material-icons material-icons-centered">playlist_play</i>
		</a>
	</li>
</template>

<template id="bqs-item-template">
	<li class="bqe__item">
		<span class="handle dd-icon" title="Hold to drag"><!-- TODO: i10n -->
			<i class="material-icons material-icons-centered">drag_indicator</i>
		</span>
#if $showPicons
		<span class="bqe__picon">
			<img loading="lazy">
		</span>
#end if
		<slot name="channel-name"></slot>
		<!-- css floating reverses the following elements' order -->
		<span class="item__marker hidden m-l-40 m-r-10 pull-right"></span>
		<button type="button" name="stream" class="hidden link--not-skinned pull-right" title="$tstrings['stream']">
			<i class="icon material-icons material-icons-centered">ondemand_video</i>
		</button>
		<a href="#iptvUrl" class="hidden link__iptv-url link--not-skinned pull-right" target="extlink">
			<i class="material-icons material-icons-centered">phonelink</i>
		</a>
		<button type="button" name="zap" class="hidden link--not-skinned pull-right" title="$tstrings['zap']">
			<i class="icon material-icons material-icons-centered">settings_remote</i>
		</button>
		<span class="hidden item__protection pull-right" title="$tstrings['channel_is_protected']">
			<i class="material-icons material-icons-centered">lock_outline</i>
		</span>
		<span class="dd-icon-selected pull-right">
			<i class="material-icons material-icons-centered">done</i>
		</span>
	</li>
</template>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
		<div class="header">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-6">
					<h2><i class="material-icons material-icons-centered">view_list</i>$tstrings['Bouquet_Editor']</h2>
				</div>
			</div>
			<ul class="header-dropdown">
				<li>
				<li class="dropdown"><a href="javascript:void(0);" id="toolbar-bouquets-reload" title="$tstrings['reload']"><i class="material-icons">autorenew</i></a>
				<li><a href="javascript:void(0);" onclick="toggleLeftSideBar(); return false;" class="m-l-5"><i class="material-icons" id="togglefullscreen">fullscreen</i></a></li>
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:void(0);" id="toolbar-bouquets-import"><i class="material-icons material-icons-centered">publish</i>$tstrings['import']</a></li>
						<li><a href="javascript:void(0);" id="toolbar-bouquets-export"><i class="material-icons material-icons-centered">get_app</i>$tstrings['export']</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body m-r-15 m-l-15" id="bqemain">
			<div class="row clearfix">
			 <form name="listTypeSelector">
				<div class="col-xs-6 align-center">
					<span class="bqe__option">
						<input type="radio" name="cType" value="2" id="toolbar-choose-satellites" class="radio-vti radio--skinned" checked>
						<label for="toolbar-choose-satellites">$tstrings['satellites']</label>
					</span>
					<span class="bqe__option">
						<input type="radio" name="cType" value="1" id="toolbar-choose-providers" class="radio-vti radio--skinned">
						<label for="toolbar-choose-providers">$tstrings['providers']</label>
					</span>
					<span class="bqe__option">
						<input type="radio" name="cType" value="3" id="toolbar-choose-channels" class="radio-vti radio--skinned">
						<label for="toolbar-choose-channels">$tstrings['all_channels']</label>
					</span>
				</div>
				<div class="col-xs-6 align-center">
					<span class="bqe__option">
						<input type="radio" name="tvRadioMode" value="0" id="toolbar-choose-tv" class="radio-vti radio--skinned" checked>
						<label for="toolbar-choose-tv">$tstrings['television']</label>
					</span>
					<span class="bqe__option">
						<input type="radio" name="tvRadioMode" value="1" id="toolbar-choose-radio" class="radio-vti radio--skinned">
						<label for="toolbar-choose-radio">$tstrings['radio']</label>
					</span>
					<span class="bqe__option">
						<input type="radio" name="tvRadioMode" value="-1" id="toolbar-choose-any" class="radio-vti radio--skinned">
						<label for="toolbar-choose-any">Any</label><!-- TODO: i10n -->
					</span>
				</div>
			 </form>
			</div>
			<div class="row clearfix">
				<section class="col-xs-12 col-md-6">
					<header>
						$tstrings['satellites']/$tstrings['providers']
						<span id="provider__count"></span>
					</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="provider" class="selectable">
								<li>
									<span class="bqe__picon">
										<img src="/images/default_picon.png">
									</span>
									$tstrings['bqe_loading']
								</li>
							</ol>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-xs-12 m-t-10 align-right">
							<button type="button" name="createBqFromProvider" class="bqe__button btn btn--skinned waves-effect" disabled>$tstrings['bqe_add_provider_as_bouquet']</button>
						</div>
					</div>
				</section>
				<section class="col-xs-12 col-md-6">
					<header>
						$tstrings['channels']
						<span id="channels__count"></span>
					</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="channels" class="selectable">
								<li>
									<span class="bqe__picon">
										<img src="/images/default_picon.png">
									</span>
									$tstrings['bqe_loading']
								</li>
							</ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 col-sm-6 m-t-10">
							<div class="form-group">
								<div class="form-line m-l-10">
									<input type="search" name="searchChannelsQuery" class="form-control" placeholder="$tstrings['bqe_search_enhanced']">
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 m-t-10 align-right">
							<button type="button" name="addChannelToBq" class="bqe__button btn btn--skinned waves-effect" disabled>$tstrings['bqe_add_channel']</button>
							<!-- button type="button" name="addAlternative" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_add_alternative']</button -->
						</div>
					</div>
				</section>
			</div>
			<div class="row clearfix">
				<section class="col-xs-12 col-md-6">
					<header>
						$tstrings['bouquets']
						<span id="bql__count"></span>
					</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="bql" class="selectable">
								<li>
									<span class="bqe__picon">
										<img src="/images/default_picon.png">
									</span>
									$tstrings['bqe_loading']
								</li>
							</ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 m-t-10">
							<button type="button" name="newBq" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_add_bq']</button>
							<button type="button" name="renameBq" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_rename_bq']</button>
							<button type="button" name="deleteBq" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_delete_bq']</button>
						</div>
					</div>
				</section>
				<section class="col-xs-12 col-md-6">
					<header>
						$tstrings['channels']
						<span id="bqs__count"></span>
					</header>
					<div class="bqe__list row clearfix">
						<div class="col-xs-12 p-r-5">
							<ol id="bqs" class="selectable">
								<li>
									<span class="bqe__picon">
										<img src="/images/default_picon.png">
									</span>
									$tstrings['bqe_loading']
								</li>
							</ol>
						</div>
					</div>
					<div class="row clearfix align-center">
						<div class="col-xs-12 m-t-10">
							<button type="button" name="addUrl" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_add_url']</button>
							<button type="button" name="addMarker" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_add_marker']</button>
							<button type="button" name="addSpacer" class="bqe__button btn btn--skinned waves-effect">$tstrings['bqe_add_spacer']</button>
							<button type="button" name="renameService" class="bqe__button btn btn--skinned waves-effect" disabled>$tstrings['bqe_rename']</button>
							<button type="button" name="removeService" class="bqe__button btn btn--skinned waves-effect" disabled>$tstrings['delete']</button>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- div id="statuscont" style="display:none">
	<div id="statusbox" class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
		<p>
			<span id="statusicon" class="ui-icon ui-icon-alert" style="margin-right: .3em;"></span> 
			<span id="statustext"></span>
		</p>
	</div>
</div -->

<form name="uploadrestore" action="/bouqueteditor/uploadrestore" method="post" class="hidden" enctype="multipart/form-data" encoding="multipart/form-data">
	<input type="file" name="rfile" id="rfile">
</form>

## for future use (asset versioning)
## <!-- htmlWebpackPlugin renders the following js includes -->
## <%= htmlWebpackPlugin
##   .tags
##   .bodyTags
##   .filter((tag) => tag.tagName === 'script')
##   .join('') 
## %>
<script src="/modern/js/bouqueteditor-app.js"></script>

<script>
	jQuery.AdminBSB.input.activate();
</script>

#end filter
