#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.vtiaddon import showPicons, showPiconBackground

#set $piconCssClass = ''
#if $showPiconBackground
	#set $piconCssClass = 'picon--with-background'
#end if

<!-- TODO: move styles to css file -->
<style>
	.now-next__header {
		width: 100%;
	}
#if $shownownextcolumns
	.now-next__details--now {
		border-bottom: none;
	}
#else
	.now-next__details {
		flex: 1 0 100%;
	}
#end if
</style>

<div class="table-responsive block-header">
	<table class="now-next__grid table table-striped table-hover">

#for $channel in $channels
	#set $channelName = $channel.name.replace("'", r"\'")
	#set $isProtected = 'protection' in $channel and $channel.protection != "0"

		<tr id="sref-$channel.ref.replace(':', '_')" class="channel-list__channel">
	#if '1:64:' in $channel.ref
			<th colspan="3" class="now-next__header header bg--skinned">
				<h2 class="bg--skinned">$channelName</h2>
			</th>
	#else
#if $showPicons and 'picon' in $channel
	#set $piconHTML = '<img class="img-fluid" src="%s" alt="Channel logo" loading="lazy">' % $channel.picon
			<td class="now-next__picon $piconCssClass">
				<div>
			#if $isProtected
					$piconHTML
			#else
					<a href="javascript:zapChannel('$channel.ref', '$channelName');" title="$tstrings['zap_to'] $channel.name">$piconHTML</a>
			#end if
				</div>
#else
			<td style="width:0px;">
#end if
			</td>
			<td class="now-next__channel">
				<h2 class="now-next__channel-name">
			#if $isProtected
					<span class="link--skinned" title="$tstrings['locked']">$channel.name</span>
			#else
					<a href="javascript:zapChannel('$channel.ref', '$channelName');" class="link--skinned" title="$tstrings['zap_to'] $channel.name">$channel.name</a>
			#end if
				</h2>
				<div class="now-next__channel__actions">
	#if $isProtected
					<span class="link--not-skinned" target="_blank" title="$tstrings['locked']"><i class="material-icons material-icons-centered">lock_outline</i></span>
	#else
		#if $type == "radio"
					<!-- button type="button" onclick="addTimer('','$channel.ref','$channel.name','');" class="link--not-skinned" title="$tstrings['add_timer']"><i class="icon material-icons material-icons-centered">alarm_add</i></button -->
		#end if

					<button type="button" onclick="zapChannel('$channel.ref', '$channelName');" class="link--not-skinned" title="$tstrings['zap_to'] $channel.name"><i class="icon material-icons material-icons-centered">settings_remote</i></button>

		#if $channel.link != ""
					<a href="$channel.link" class="now-next__external-link link--not-skinned" target="extlink" title="$tstrings['open_in_new_window']"><i class="material-icons material-icons-centered">phonelink</i></a>
		#else
			#set $epgDisabledState = ''
			#if not 'now_title' in $channel
				#set $epgDisabledState = 'disabled'
			#end if
					<button type="button" onclick="open_epg_dialog('$channel.ref','$channelName');" $epgDisabledState class="link--not-skinned" title="$tstrings['show_epg_for'] $channel.name" data-toggle="modal" data-target="#EPGModal"><i class="icon material-icons material-icons-centered">view_list</i></button>
					<button type="button" onclick="jumper8001('$channel.ref', '$channelName');" class="link--not-skinned" title="$tstrings['stream'] $channel.name"><i class="icon material-icons material-icons-centered">ondemand_video</i></button>
			#if $transcoding
					<button type="button" onclick="jumper8002('$channel.ref', '$channelName');" class="link--not-skinned" title="$tstrings['stream'] ($tstrings['transcoded']) $channel.name"><i class="icon material-icons material-icons-centered">smartphone</i></button>
			#end if
		#end if
	#end if
				</div>
			</td>
			<td class="now-next__info">
#if (not $isProtected) and 'now_title' in $channel
				<div class="now-next__details now-next__details--now">
					<div class="now-next__metainfo">
						<h2 class="now-next__title">
							<a href="javascript:void(0);" onclick="loadeventepg('$channel.now_ev_id', '$channel.ref', '$channel.picon');" class="link--skinned" data-ref="$channel.ref" data-id="$channel.now_ev_id" data-toggle="modal" data-target="#EventModal" title="$tstrings['more_details']">$channel.now_title</a>
							<span class="now-next__elapsed">(+$channel.now_left $tstrings['mins'])</span>
						</h2>
						<div class="now-next__time">
							<time>$channel.now_begin</time> &mdash; <time>$channel.now_end</time>
						</div>
						<div class="now-next__progress progress">
							<div class="progress-bar bg--skinned progress-bar-striped" role="progressbar" aria-valuenow="${channel.progress}" aria-valuemin="0" aria-valuemax="100" style="width:${channel.progress}%">
								<span class="now-next__progress__percent">${channel.progress}%</span>
							</div>
						</div>
					</div>
					<div class="now-next__desc">
						$channel.now_shortdesc
					</div>
				</div>
#else
				<div class="now-next__no-data">$tstrings['no_epg_data']</div>
#end if
#if (not $isProtected) and 'next_title' in $channel
		#if $channel.next_title == "<<absent>>"
				<div class="now-next__no-data">...</td>
		#else
				<div class="now-next__details now-next__details--next">
					<div class="now-next__metainfo">
						<h2 class="now-next__title">
							<a href="javascript:void(0);" onclick="loadeventepg('$channel.next_ev_id', '$channel.ref', '$channel.picon');" class="link--skinned" data-ref="$channel.ref" data-id="$channel.next_ev_id" data-toggle="modal" data-target="#EventModal" title="$tstrings['more_details']">$channel.next_title</a>
							<span class="now-next__elapsed">($channel.next_duration $tstrings['mins'])</span>
						</h2>
						<div class="now-next__time">
							<time>$channel.next_begin</time> &mdash; <time>$channel.next_end</time>
						</div>
					</div>
					<div class="now-next__desc">
						$channel.next_shortdesc
					</div>
				</div>
		#end if
## #else
				## <div class="now-next__info now-next__no-data">$tstrings['no_epg_data']</div>
#end if
	#end if
			</td>
		</tr>
#end for
	</table>
</div>
