#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings

#def select($config)

<div class="row clearfix">
	<div class="col-xs-5 align-right" style="padding-top:8px">
		<label>$config.description</label>
	</div>
	<div class="col-xs-5">
		<select class="form-control show-tick" id="$config.path" onchange="saveConfig('$config.path', this.value, '$key');">
			#for $choice in $config.data.choices
				#if $config.data.current == $choice[0]
					<option value="$choice[0]" selected="true">$choice[1]</option>
				#else
					<option value="$choice[0]">$choice[1]</option>
				#end if
			#end for
		</select>
	</div>
</div>
#end def

#def checkbox($config)
<div class="row clearfix">
	<div class="col-xs-5 align-right" style="padding-top:8px">
		<label>$config.description</label>
	</div>
	<div class="col-xs-5">
			<div class="switch switch-col-indigo">
		#if $config.data.current
				<label>
					<input type="checkbox" name="$config.path" id="$config.path" checked="checked" onclick="saveConfig('$config.path', this.checked, '$key');">
					<span class='lever switch--skinned'></span>
				</label>
		#else
				<label>
					<input type="checkbox" name="$config.path" id="$config.path" onclick="saveConfig('$config.path', this.checked, '$key');">
					<span class='lever switch--skinned'></span>
				</label>
		#end if
			</div>
		<label for="$config.path"></label>
	</div>
</div>
#end def

#def multicheckbox($config)
<div class="row clearfix">
	<div class="col-xs-5 align-right" style="padding-top:8px">
		<label>$config.description</label>
	</div>
	<div class="col-xs-5">
	#for $choice in $config.data.choices
		#if $choice in $config.data.current
			<input type="checkbox" name="$config.path" id="$config.path" class="form-control chk--skinned" onclick="saveConfig('$config.path', this.checked, '$key');" checked="checked">
		#else
			<input type="checkbox" name="$config.path" id="$config.path" class="form-control chk--skinned" onclick="saveConfig('$config.path', this.checked, '$key');">
		#end if
			<label for="$config.path">$choice</label>
	#end for
	</div>
</div>
#end def

#def number($config, $active)
<div class="row clearfix">
	<div class="col-xs-5 align-right" style="padding-top:8px">
		<label>$config.description</label>
	</div>
	<div class="col-xs-5">
		<div class="form-line">
			<input type="number" name="${config.path}" id="${config.path}" value="$config.data.current" placeholder="$config.data.current" class="form-control inactive" onchange="saveConfig('$config.path', this.value, '$key');">
		</div>
	</div>
</div>
#end def

<div id="content_main">
	#set $isactive="active"
	<div style="display:none" id="thistitleconfig">
		<i class='material-icons material-icons-centered'>settings</i>
		$tstrings['settings'] - $title
	</div>
	<div class="form-group" id="configuration">
		#for $config in $configs:
			#if $config.data.type == "select"
				$select($config)
			#elif $config.data.type == "checkbox"
				$checkbox($config)
			#elif $config.data.type == "multicheckbox"
				$multicheckbox($config)
			#elif $config.data.type == "number"
				$number($config, $isactive)
				#if $isactive == "active"
					#set $isactive = ""
				#end if
			#end if
		#end for
	</div>
</div>

<script>
	jQuery("#configtitle").html(jQuery('#thistitleconfig').html());
	jQuery.AdminBSB.input.activate();
	jQuery.AdminBSB.select.activate();
</script>
