#from six.moves.urllib.parse import quote

<!-- TODO: move style to css file -->
<style>
	.nav-tabs { 
    flex-wrap: wrap;
    justify-content: start;
	}

	.nav-tabs > li > a .material-icons { 
		top: 0; 
		margin-bottom: 3px; 
		margin-right: 6px; 
	}
</style>

<ul class="nav nav-tabs tab--skinned">
#for $provider in $providers
	<li><a href="#tab" data-toggle="tab" onclick="load_subcontent('ajax/channels?id=$quote($provider[0])&stype=$stype'); return false;"><i class="icon material-icons material-icons-centered">bubble_chart</i>$provider[1]</a></li>
#end for
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="tab">
		<div id='sub_content_container'></div>
	</div>
</div>
