#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.controllers.models.info import getInfo, getPipStatus

<div id="responsivespinnerscreenshot"></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
		<div class="header">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-6">
					<h2><i class="material-icons material-icons-centered">photo_camera</i>$tstrings['screenshot']</h2>
				</div>
			</div>
			<ul class="header-dropdown">
				<li class="dropdown"><a href="javascript:void(0);"  onclick="grabScreenshot('auto'); return false;" title="$tstrings['refresh']" class="m-r-5"><i class="material-icons">autorenew</i></a>
				<li class="dropdown">
				<a href="javascript:void(0);" id="dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
					<ul class="dropdown-menu pull-right" id="screenshotbutton">
						<li><a href="javascript:void(0);" id="screenshotbutton0" name="screenshotbutton">$tstrings['all']</a></li>
						<li><a href="javascript:void(0);" id="screenshotbutton1" name="screenshotbutton">$tstrings['video']</a></li>
						<li><a href="javascript:void(0);" id="screenshotbutton2" name="screenshotbutton">$tstrings['osd']</a></li>
						<li><a href="javascript:void(0);" id="screenshotbutton3" name="screenshotbutton" style="display: none;">$tstrings['pip']</a></li>
						<li><a href="javascript:void(0);" id="screenshotbutton4" name="screenshotbutton" style="display: none;">$tstrings['lcd']</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="body">
			<div class="row clearfix">
				<img src="" id="screenshotimage" class="img-fluid rounded" alt="$tstrings['loading'] ...">
			</div>
			<div class="row clearfix m-t-20">
				<div class="col-xs-12 col-sm-7 align-right">
					<div class="switch panel-switch-btn">
						<label>
							<span class="m-r-10 font-12">$tstrings['high_resolution']</span>
						</label>
						<label>
							#if $high_resolution
							<input type="checkbox" name="ssr_hd" id="ssr_hd" checked="checked">
							#else
							<input type="checkbox" name="ssr_hd" id="ssr_hd">
							#end if
							<span class="lever switch--skinned"></span>
						</label>
					</div>
					<div class="switch panel-switch-btn m-t-10">
						<label class="m-r-10 font-12" style="vertical-align: middle;">
							$tstrings['refresh_auto']
							<input type="number" name="ssr_i" id="ssr_i" value="$refresh_time" placeholder="30" size="2" class="form-control inactive align-right">
							$tstrings['seconds']
						</label>
						<label style="vertical-align: middle;">
							#if $refresh_auto
							<input type="checkbox" name="ssr_s" id="ssr_s" checked="checked">
							#else
							<input type="checkbox" name="ssr_s" id="ssr_s">
							#end if
							<span class="lever switch--skinned"></span>
						</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 align-left">
					<button class="btn btn--skinned waves-effect" onclick="grabScreenshot('auto'); return false;">
						<i class="material-icons" style="top: -1px; vertical-align: middle; left: -1px;">autorenew</i>
						$tstrings['refresh']
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var lcd = "$getInfo['lcd']";
	var pip = "$getPipStatus()";

	jQuery(function() {
		SSHelper.setup();
	});

	function buttonsSwitcher(pipval) {
		if (parseInt(lcd)) {
			jQuery("#screenshotbutton4, label[for=screenshotbutton4]").show();
		} else {
			jQuery("#screenshotbutton4, label[for=screenshotbutton4]").hide();
		}
		if (parseInt(pipval)) {
			jQuery("#screenshotbutton3, label[for=screenshotbutton3]").show();
		} else {
			jQuery("#screenshotbutton3, label[for=screenshotbutton3]").hide();
		}
	}

	jQuery(document).ready(function(){
		buttonsSwitcher(pip);
	});
</script>
