#filter WebSafe
#from json import dumps
#from six.moves.urllib.parse import quote
#from time import localtime, strftime
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from Plugins.Extensions.OpenWebif.vtiaddon import MinTimerList

<style>
	.body .btn--skinned {
    margin: .4ex;
	}
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="card">
		<div class="header">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-6">
					<h2><i class="material-icons material-icons-centered">alarm</i>$tstrings['timers']</h2>
				</div>
			</div>
			<ul class="header-dropdown m-r-5">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle m-l-5 m-r-5" title="$tstrings['sort']" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">sort</i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;"><i class="material-icons material-icons-centered">vertical_align_center</i>$tstrings['default']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=name'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['name']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=named'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['name']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=date'); return false;"><i class="material-icons material-icons-centered">vertical_align_bottom</i>$tstrings['date']</a></li>
						<li><a href="javascript:void(0);" onclick="lastcontenturl='';load_maincontent('ajax/timers?sort=dated'); return false;"><i class="material-icons material-icons-centered">vertical_align_top</i>$tstrings['date']</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="body">
			<div id="content_main" >

				<div id="at__page--list">
					<div class="row align-center clearfix">
						<a href="#addtimer" class="btn btn--skinned waves-effect" data-toggle="modal" data-target="#TimerModal"><i class="material-icons material-icons-centered">alarm_add</i>$tstrings['add_timer']</a>
						<a href="javascript:void(0);" class="btn btn--skinned waves-effect" onclick="lastcontenturl='';cleanupTimer(); return false"><i class="material-icons material-icons-centered">delete_forever</i>$tstrings['cleanup_timer']</a>
						<a href="javascript:void(0);" class="btn btn--skinned waves-effect" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;"><i class="material-icons material-icons-centered">autorenew</i>$tstrings['reload']</a>
					</div>

					<div id="at__bar" class="m-t-40">
						<ul class="m-0 p-l-0" id="at__list" style="list-style: none;">
						</ul>
					</div>
				</div>

				<div id="tvcontentmain">

#if $MinTimerList == 'checked'
<div class="row clearfix" id="timers">
	<div class="col-xs-12">
#else
<div id="timers">
	#if len($timers) == 0
		<p><a href="#addtimer" class="link--skinned" data-toggle="modal" data-target="#TimerModal" id="timerbutton0"><i class="material-icons material-icons-centered">alarm_add</i>$tstrings['add_timer']</a></p>
	#end if
#end if

#for $timer in $timers

#set $sref=quote($timer.serviceref, safe=' ~@#$&()*!+=:;,.?/\'')
#set $tname=quote($timer.name)
#set $metadata = $dumps({ 'sref': quote($timer.serviceref), 'begin': $timer.begin, 'end': $timer.end }, indent=None, separators=(",", ":"))

<div #if $MinTimerList == 'checked' then 'class="row row-striped clearfix pad-top-15"' else '' # id="$timer.begin-$timer.end" data-metadata='$metadata'>

#if MinTimerList == 'checked'
<div class="col-xs-12 col-md-6">
	<b>
	#if $timer.disabled
		<i class="material-icons material-icons-centered">alarm_off</i>
	#else
		<i class="material-icons material-icons-centered">alarm_on</i>
	#end if
		$timer.name - $timer.servicename
	</b>
	</div>
	<div class="col-xs-12 col-md-3">
	<b>$tstrings[("day_" + (time.strftime("%w", time.localtime($timer.begin))))]</b>
	<time>$timer.realbegin</time> - <time>$timer.realend</time>
	<b>
	#if $timer.disabled
		$tstrings['disabled']
	#elif $timer.state == 0
		$tstrings['waiting']
	#elif $timer.state == 2
		$tstrings['running']
	#elif $timer.state == 3
		$tstrings['finished']
	#end if
	</b>
#if $timer.repeated != 0
	<div>
	$tstrings['every_timer']
	#set $flags=$timer.repeated
	#set $timerDays=[]
	#for $day in [$tstrings['monday'],$tstrings['tuesday'],$tstrings['wednesday'],$tstrings['thursday'],$tstrings['friday'],$tstrings['saturday'],$tstrings['sunday']]
		#if $flags&1
			$timerDays.append($day)
		#end if
		#set $flags = $flags >> 1
	#end for
	#echo ', '.join($timerDays)
	</div>
#end if
</div>
<div class="col-xs-12 col-md-3 align-right">
	<a href="#edittimer" class="link--skinned" data-toggle="modal" data-target="#TimerModal" data-ref="$sref" data-begin="$timer.begin" data-end="$timer.end" title="$tstrings['edit_timer']">
		<i class="material-icons material-icons-mg-right">edit</i>
	</a>
#if $timer.disabled
	<a href="javascript:void(0);" class="link--skinned" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['enable_timer']">
		<i class="material-icons material-icons-mg-right">alarm_on</i>
	</a>
#else
	<a href="javascript:void(0);" class="link--skinned" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['disable_timer']">
		<i class="material-icons material-icons-mg-right">alarm_off</i>
	</a>
#end if
	<a href="javascript:void(0);" class="link--skinned" onclick="deleteTimer('$sref', '$timer.begin', '$timer.end', '$tname'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['delete_timer']">
		<i class="material-icons material-icons-mg-right">delete</i>
	</a>
</div></div>

#else
<div class="card">
	<div class="header">
		<div class="row clearfix m-b--20">
		<div class="col-xs-6">
			<h2 style="line-height: 1.4;">
	#if $timer.disabled
				<i class="material-icons material-icons-centered">alarm_off</i>
	#elif $timer.state == 0
		#if $timer.justplay == 1
				<i class="material-icons material-icons-centered">settings_remote</i>
		#else
				<i class="material-icons material-icons-centered">alarm</i>
		#end if
	#elif $timer.state == 2
				<i class="material-icons material-icons-centered">update</i>
	#elif $timer.state == 3
				<i class="material-icons material-icons-centered">done</i>
	#end if
				$timer.name
				<span style="opacity: 0.4;"> - $timer.servicename</span>
			</h2>
		</div>
		<div class="col-xs-6">
		#set $sref=quote($timer.serviceref, safe=' ~@#$&()*!+=:;,.?/\'')
		#set $tname=quote($timer.name)

		<ul class="header-dropdown" style="top: 0; right: 5px;">
			<li><span role="button"><a href="#edittimer" data-toggle="modal" data-target="#TimerModal" title="$tstrings['edit_timer']"><i class="material-icons material-icons-mg-right">edit</i></a></span></li>
			<li><span role="button"><a href="javascript:void(0);" onclick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;"
			#if $timer.disabled
				title="$tstrings['enable_timer']"><i class="material-icons material-icons-mg-right">alarm_on</i></a></span></li>
			#else
				title="$tstrings['disable_timer']"><i class="material-icons material-icons-mg-right">alarm_off</i></a></span></li>
			#end if
			<li><span role="button"><a href="javascript:void(0);" onclick="deleteTimer('$sref', '$timer.begin', '$timer.end', '$tname'); lastcontenturl=''; setTimeout(function(){load_maincontent('ajax/timers')}, 200); return false;" title="$tstrings['delete_timer']"><i class="material-icons material-icons-mg-right">delete</i></a></span></li>
		</ul>
		</div>
	</div>
</div>

	<div class="body">
		<div class="row clearfix m-b--20">
			<div class="col-sm-4">
				<time style="white-space: nowrap;">$timer.realbegin</time>
			#if $timer.justplay != 1:
				 - <time style="white-space: nowrap;">$timer.realend</time>
				 <span class="event__duration" style="opacity: 0.4; margin-left: 0.4ch;">($int($timer.duration / 60) $tstrings['mins'])</span>
			#end if
			#if $timer.repeated != 0
				<div>
				$tstrings['every_timer']
				#set $flags=$timer.repeated
				#set $timerDays=[]
				#for $day in [$tstrings['monday'],$tstrings['tuesday'],$tstrings['wednesday'],$tstrings['thursday'],$tstrings['friday'],$tstrings['saturday'],$tstrings['sunday']]
					#if $flags&1
						$timerDays.append($day)
					#end if
					#set $flags = $flags >> 1
				#end for
				#echo ', '.join($timerDays)
				</div>
			#end if

				<div class="m-t-10" style="font-weight: bold;">
				#if $timer.disabled
					$tstrings['disabled']
				#elif $timer.state == 0
					$tstrings['waiting']
				#elif $timer.state == 2
					$tstrings['running']
				#elif $timer.state == 3
					$tstrings['finished']
				#end if
				</div>
			</div>
			<div class="col-sm-8">
				$timer.description
			</div>
			</div>
		</div>
	</div>
</div>

#end if

#end for

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
	var reloadTimers = true;
	jQuery(function() {
		if (!timeredit_initialized) {
			jQuery('#editTimerForm').load('ajax/edittimer');
		}
	});
</script>
#end filter
