/* variables setup */
:root {
	--palette--red:          #f44336;
  --palette--pink:         #e91e63;
  --palette--purple:       #9c27b0;
  --palette--deep-purple:  #673ab7;
  --palette--indigo:       #3f51b5;
  --palette--blue:         #2196f3;
  --palette--light-blue:   #03a9f4;
  --palette--cyan:         #00bcd4;
  --palette--teal:         #009688;
  --palette--green:        #4caf50;
  --palette--light-green:  #8bc34a;
  --palette--lime:         #cddc39;
  --palette--yellow:       #ffeb3b; /* #ffe821? */
  --palette--amber:        #ffc107;
  --palette--orange:       #ff9800;
  --palette--deep-orange:  #ff5722;
  --palette--brown:        #795548;
  --palette--grey:         #9e9e9e;
  --palette--blue-grey:    #607d8b;
  --palette--grey-darken-4:#212121;
  --palette--black:        #000;
  --palette--white:        #fff;

  --main-text-color: var(--palette--white);
}

/*
body
odd
selected choice
picon
legal
skinswitch active
navtab active
dropdown
313443

hover
highlighted choice
side hover
navtab hover
dropdown hover
343847

dropdown
modal
swal
dropdown selected
282c37
*/

/* city-lights */
:root .theme--city-lights {
  --background-color--main:  #313443;
  --background-color-3:      #282c37;
  --background-color--hover: #343847;
}

/* :root .theme--neon-blackout { */
:root .theme--city-lights {
  --background-color--main:  #0b0b0b;
  --background-color-3:      #000;
  --background-color--hover: #121212;
}


:root .skin--red {
  --skin-color: var(--palette--red);
}

:root .skin--pink {
  --skin-color: var(--palette--pink);
}

:root .skin--purple {
  --skin-color: var(--palette--purple);
}

:root .skin--deep-purple {
  --skin-color: var(--palette--deep-purple);
}

:root .skin--indigo {
  --skin-color: var(--palette--indigo);
}

:root .skin--blue {
  --skin-color: var(--palette--blue);
}

:root .skin--light-blue {
  --skin-color: var(--palette--light-blue);
}

:root .skin--cyan {
  --skin-color: var(--palette--cyan);
}

:root .skin--teal {
  --skin-color: var(--palette--teal);
}

:root .skin--green {
  --skin-color: var(--palette--green);
}

:root .skin--light-green {
  --skin-color: var(--palette--light-green);
}

:root .skin--lime {
  --skin-color: var(--palette--lime);
}

:root .skin--yellow {
  --skin-color: var(--palette--yellow);
  --main-text-color: #333;
}

:root .skin--amber {
  --skin-color: var(--palette--amber);
}

:root .skin--orange {
  --skin-color: var(--palette--orange);
}

:root .skin--deep-orange {
  --skin-color: var(--palette--deep-orange);
}

:root .skin--brown {
  --skin-color: var(--palette--brown);
}

:root .skin--grey {
  --skin-color: var(--palette--grey);
}

:root .skin--blue-grey {
  --skin-color: var(--palette--blue-grey);
}

:root .skin--grey-darken-4 {
  --skin-color: var(--palette--grey-darken-4);
}

:root .skin--black {
  --skin-color: var(--palette--black);
}

:root .skin--white {
  --skin-color: var(--palette--white);
  --main-text-color: var(--palette--black);
}


/* skin selector */
.color-swatch {
  color: var(--main-text-color);
}

.swatch--red {
  background-color: var(--palette--red);
}

.swatch--pink {
  background-color: var(--palette--pink);
}

.swatch--purple {
  background-color: var(--palette--purple);
}

.swatch--deep-purple {
  background-color: var(--palette--deep-purple);
}

.swatch--indigo {
  background-color: var(--palette--indigo);
}

.swatch--blue {
  background-color: var(--palette--blue);
}

.swatch--light-blue {
  background-color: var(--palette--light-blue);
}

.swatch--cyan {
  background-color: var(--palette--cyan);
}

.swatch--teal {
  background-color: var(--palette--teal);
}

.swatch--green {
  background-color: var(--palette--green);
}

.swatch--light-green {
  background-color: var(--palette--light-green);
}

.swatch--lime {
  background-color: var(--palette--lime);
}

.swatch--yellow {
  background-color: var(--palette--yellow);
}

.swatch--amber {
  background-color: var(--palette--amber);
}

.swatch--orange {
  background-color: var(--palette--orange);
}

.swatch--deep-orange {
  background-color: var(--palette--deep-orange);
}

.swatch--brown {
  background-color: var(--palette--brown);
}

.swatch--grey {
  background-color: var(--palette--grey);
}

.swatch--blue-grey {
  background-color: var(--palette--blue-grey);
}

.swatch--grey-darken-4 {
  background-color: var(--palette--grey-darken-4);
}

.swatch--black {
  background-color: var(--palette--black);
}

.swatch--white {
  background-color: var(--palette--white);
}


.link--skinned {
  color: var(--skin-color);
}

.bg--skinned,
.btn--skinned,
.sweet-alert button.confirm,
.choices__list--multiple .choices__item {
  background-color: var(--skin-color) !important;
  color: var(--main-text-color);
}

.spinner-layer.pl--skinned {
  border-color: var(--skin-color);
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: var(--main-text-color);
}

.nav > li > a {
  color: var(--main-text-color);
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: transparent;
}

.navbar {
  background-color: var(--skin-color);
}

.navbar .bars {
  float: left;
  padding: 10px 20px;
  font-size: 22px;
  margin-right: 10px;
  margin-left: -10px;
  margin-top: 4px;
}

.navbar .bars:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.timetable-now {
  background-color: var(--skin-color);
}

.bars {
  color: var(--main-text-color);
}

.sidebar .menu .list li.active {
  background-color: transparent;
}

.sidebar .menu .list li.active > :first-child i,
.sidebar .menu .list li.active > :first-child span {
  color: var(--skin-color);
}

.sidebar .menu .list .toggled,
.sidebar .menu .list .ml-menu {
  background-color: transparent;
}

.sidebar .legal {
  background-color: #fff;
}

.sidebar .legal .copyright a {
  color: var(--skin-color) !important;
}

.navtab-active,
.epg__event.event--has-timer::after,
.form-group .form-line.focused::after {
  border-color: var(--skin-color);
}

.skin--grey-darken-4 .link--skinned,
.skin--grey-darken-4 .link--skinned:focus,
.skin--grey-darken-4 .link--skinned:hover {
  color: #b2b2b2;
}

.skin--grey-darken-4 .navtab-active,
.skin--grey-darken-4 .epg__event.event--has-timer::after,
.skin--grey-darken-4 .form-group .form-line.focused::after {
  border-color: #b2b2b2;
}

.skin--white .link--skinned,
.skin--white .link--skinned:focus,
.skin--white .link--skinned:hover {
  color: #000;
}

/* misc */
.sweet-alert .sa-icon::after,
.sweet-alert .sa-icon::before,
.sweet-alert .sa-icon .sa-fix {
  background-color: transparent !important;
}

.remote__button:active {
  background-color: #222;
}


/* themes */
body.theme--city-lights {
  color: #b2b2b2;
  background-color: var(--background-color--main);
}

.theme--city-lights.skin--white .link--skinned,
.theme--city-lights.skin--white .link--skinned:focus,
.theme--city-lights.skin--white .link--skinned:hover {
  color: #fff;
}

.theme--city-lights section.content {
  background-color: transparent;
}

.theme--city-lights .search-bar input[type='text'] {
  background-color: var(--background-color-3);
}

.theme--city-lights .card {
  background: var(--background-color-3);
  /* box-shadow: 0 2px 10px rgba(255,255,255,.2); */
}

.theme--city-lights .card .header {
  color: inherit;
  border-bottom-color: var(--background-color--hover);
}

.theme--city-lights .card .header h2 {
  color: #f1f1f1;
}

.theme--city-lights .card .header .header-dropdown i {
  color: #b2b2b2;
}

.theme--city-lights .card .header .header-dropdown i:hover {
  color: #f1f1f1;
}

.theme--city-lights .card .body {
  color: #b2b2b2;
}

.theme--city-lights .close {
  color: #b2b2b2;
}

.theme--city-lights .close:focus,
.close:hover {
  color: #f1f1f1;
}

.theme--city-lights .row-striped:nth-of-type(odd),
.theme--city-lights .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--background-color--main);
}

.theme--city-lights .table-striped > tbody > tr:hover {
  background-color: var(--background-color--hover);
}

.theme--city-lights .table tbody tr td,
.table tbody tr th {
  border-top: 1px solid rgba(11, 11, 11, 0.1);
  border-bottom: 1px solid rgba(11, 11, 11, 0.1);
}

.theme--city-lights .page-loader-wrapper p {
  color: #f1f1f1
}

.theme--city-lights .choices__list--dropdown {
  background-color: var(--background-color-3);
  overflow-x: scroll;
}

.theme--city-lights .choices__list--dropdown .choices__item--choice.is-selected {
  background-color: var(--background-color--main);
}

.theme--city-lights .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--background-color--hover);
}

.theme--city-lights .choices[data-type*=select-multiple] .choices__button, 
.theme--city-lights .choices[data-type*=text] .choices__button {
  border-left-color: var(--background-color--hover);
}
.theme--city-lights .now-next__channel__actions button:hover { 
  background-color: rgba(241,241,241,.3);
}

.theme--city-lights .now-next__channel__actions button:active { 
  background-color: rgba(241,241,241,.1);
}

.theme--city-lights .event-detail__title {
  color: #f1f1f1;
}

.theme--city-lights .event-detail__time,
.theme--city-lights .event-detail__description {
  color: #b2b2b2;
}

.theme--city-lights .event-detail__actions button {
  color: #f1f1f1;
  border: 1px solid rgba(241, 241, 241, 0.2);
  background-color: rgba(241, 241, 241, 0.2);
  border-radius: 2px;
}

.theme--city-lights .event-detail__actions button:hover { 
  background-color: rgba(241,241,241,.3);
}

.theme--city-lights .event-detail__actions button:active { 
  background-color: rgba(241,241,241,.1);
}

.theme--city-lights .event-detail__actions a {
  color: #f1f1f1;
}

.theme--city-lights #bqemain .selectable li {
  color: #b2b2b2;
  border-color: rgba(11, 11, 11, 0.1);
  background: var(--background-color-3);
}

.theme--city-lights #bqemain .selectable .ui-selecting,
.theme--city-lights #bqemain .selectable li:hover {
  background: var(--background-color--hover);
  color: #f1f1f1;
  font-weight: 400;
}

.theme--city-lights #bqemain .selectable .ui-selected {
  background: var(--background-color--main);
  color: #f1f1f1;
  font-weight: 700 !important;
}

.theme--city-lights .bqe__picon,
.theme--city-lights .picon--with-background {
  background-color: var(--background-color--main) !important;
  box-shadow: inset -20px 40px 60px var(--background-color-3) !important;
}

.theme--city-lights .sidebar {
  background: var(--background-color-3);
  /*box-shadow: 2px 2px 5px rgba(255,255,255,.1);*/
}

.theme--city-lights .sidebar .legal {
  background-color: var(--background-color--main) !important;
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights.link--skinned {
  color: #f1f1f1;
}

.theme--city-lights.link--skinned {
  color: #f1f1f1;
}

.theme--city-lights.skin--black .link--skinned:focus,
.theme--city-lights.skin--black .link--skinned:hover {
  color: #b2b2b2;
}

.theme--city-lights .sidebar .legal .copyright a,
.theme--city-lights.black--skinned .sidebar .legal .copyright a {
  color: #b2b2b2 !important;
}

.theme--city-lights .sidebar .menu .list a {
  color: #747474;
}

.theme--city-lights .sidebar .menu .list a:hover,
.theme--city-lights .sidebar .menu .list a:active,
.theme--city-lights .sidebar .menu .list a:focus {
  background-color: var(--background-color--hover);
}

.theme--city-lights .sidebar .menu .list a span {
  color: #f1f1f1;
  font-weight: normal;
}

.theme--city-lights .sidebar .menu .list .header,
.theme--city-lights theme-black .sidebar .menu .list .header {
  background: var(--background-color--main);
}

.theme--city-lights .right-sidebar {
  background: var(--background-color-3);
}

.theme--city-lights .modal-content,
.theme--city-lights .sweet-alert {
  background-color: var(--background-color-3);
}


.theme--city-lights .sweet-alert h2 {
  color: #f1f1f1;
}

.theme--city-lights .sweet-alert p {
  color: #b2b2b2;
}

.theme--city-lights .modal .modal-content .modal-body {
  color: #777;
}

.theme--city-lights .form-control {
  color: #eee;
  background-color: transparent;
}

.theme--city-lights label {
  font-weight: 400;
  color: #f1f1f1;
}

.theme--city-lights [type='checkbox'] + label::before,
.theme--city-lights [type='checkbox']:not(.filled-in) + label::after {
  transition: none;
  /* border: 2px solid #5a5a5a; */
  /* border-color: #b2b2b2; */
}

.theme--city-lights.skin [type='checkbox']:checked.chk--skinned + label::before {
  border-right: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
}

.theme--city-lights [type='radio']:not(:checked) + label::before,
.theme--city-lights [type='radio']:not(:checked) + label::after {
  border-color: #b2b2b2;
}

.theme--city-lights .sweet-alert button.cancel,
.theme--city-lights .btn-default {
  color: #b2b2b2;
}

.theme--city-lights .sweet-alert button.cancel:hover,
.theme--city-lights .btn-default:hover {
  color: #f1f1f1;
}

.sweet-alert button.cancel,
.theme--city-lights .btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background: transparent !important;
}

.theme--city-lights .sweet-alert button.cancel.focus,
.theme--city-lights .btn-default.focus,
.btn-default:focus {
  color: #b2b2b2;
}

.theme--city-lights .btn-default:active,
.theme--city-lights .btn-default.active,
.theme--city-lights .open > .dropdown-toggle.btn-default {
  color: #888;
}

.theme--city-lights .btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #f1f1f1;
}

.theme--city-lights .remote__group .material-icons {
  color: #707070;
}

.theme--city-lights .remote__button {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
  background-color: #707070;
  transition: ease-out 0.4s;
}

.theme--city-lights .remote__button .material-icons {
  color: #f1f1f1;
}

.theme--city-lights .remote__button--arrow {
  background-color: rgba(255, 255, 255, 0.12);
}

.theme--city-lights .progress {
  background-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights.black--skinned .nav > li > a {
  color: var(--background-color-3);
}

.theme--city-lights .nav-tabs {
  border-bottom: 2px solid var(--background-color--hover);
}

.theme--city-lights .nav-tabs > li > a {
  color: #999 !important;
}

.theme--city-lights .nav-tabs li.active a {
  color: #f1f1f1 !important;
}

.theme--city-lights .skin-switcher li.active {
  background-color: var(--background-color--main);
}

.theme--city-lights .skin-switcher li:hover {
  background-color: var(--background-color--hover);
}

.theme--city-lights .skin-switcher li {
  border-bottom-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .nav-tabs > li > a {
  color: #b2b2b2 !important;
}

.theme--city-lights .nav-tabs > li.active > a {
  color: #f1f1f1;
  background-color: var(--background-color--main);
}

.theme--city-lights .nav-tabs > li > a:focus,
.theme--city-lights .nav-tabs > li > a:hover,
.theme--city-lights .nav-tabs > li.active > a:hover {
  background-color: var(--background-color--hover) !important;
}

.theme--city-lights .nav-tabs li.active a {
  color: #f1f1f1 !important;
}

.theme--city-lights .right-sidebar .nav-tabs .active {
  font-weight: 600;
}

.theme--city-lights .right-sidebar #settings .setting-list li {
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .skin-switcher li {
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .dropdown-menu {
  background-color: var(--background-color--main);
}

.theme--city-lights .dropdown-menu > li > a {
  color: #b2b2b2;
}

.theme--city-lights .bootstrap-select .dropdown-menu li.selected a {
  background-color: var(--background-color-3) !important;
  color: #f1f1f1 !important;
}

.theme--city-lights .dropdown-menu > li > a:focus,
.theme--city-lights .dropdown-menu > li > a:hover {
  color: #b2b2b2;
  background-color: var(--background-color--hover);
}

.theme--city-lights .now-next__channel__actions button {
  color: #f1f1f1;
  border: 1px solid rgba(241, 241, 241, 0.2);
  background-color: rgba(241, 241, 241, 0.2);
  border-radius: 2px;
}

.theme--city-lights .noUi-background {
  background-color: #b2b2b2;
}

/* citation: com.aurora.store */
.theme--city-lights .leftnav > li:nth-child(7n-4) > a .material-icons {
  color: #f44236;
}

.theme--city-lights .leftnav > li:nth-child(7n-3) > a .material-icons {
  color: #45289f;
}

.theme--city-lights .leftnav > li:nth-child(7n-2) > a .material-icons {
  color: #ff6d00;
}

.theme--city-lights .leftnav > li:nth-child(7n-1) > a .material-icons {
  color: #8cc24a;
}

.theme--city-lights .leftnav > li:nth-child(7n) > a .material-icons {
  color: #00bcd5;
}

.theme--city-lights .leftnav > li:nth-child(7n-6) > a .material-icons {
  color: #d81a60;
}

.theme--city-lights .leftnav > li:nth-child(7n-5) > a .material-icons {
  color: #ffbe00;
}

body.theme--city-lights {
  color: #b2b2b2;
  background-color: var(--background-color--main);
}

.theme--city-lights.skin--white .link--skinned,
.theme--city-lights.skin--white .link--skinned:focus,
.theme--city-lights.skin--white .link--skinned:hover {
  color: #fff;
}

.theme--city-lights section.content {
  background-color: transparent;
}

.theme--city-lights .search-bar input[type='text'] {
  background-color: var(--background-color-3);
}

.theme--city-lights .card {
  background: var(--background-color-3);
  /* box-shadow: 0 2px 10px rgba(255,255,255,.2); */
}

.theme--city-lights .card .header {
  color: inherit;
  border-bottom-color: var(--background-color--hover);
}

.theme--city-lights .card .header h2 {
  color: #f1f1f1;
}

.theme--city-lights .card .header .header-dropdown i {
  color: #b2b2b2;
}

.theme--city-lights .card .header .header-dropdown i:hover {
  color: #f1f1f1;
}

.theme--city-lights .card .body {
  color: #b2b2b2;
}

.theme--city-lights .close {
  color: #b2b2b2;
}

.theme--city-lights .close:focus,
.close:hover {
  color: #f1f1f1;
}

.theme--city-lights .row-striped:nth-of-type(odd),
.theme--city-lights .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--background-color--main);
}

.theme--city-lights .table-striped > tbody > tr:hover {
  background-color: var(--background-color--hover);
}

.theme--city-lights .table tbody tr td,
.table tbody tr th {
  border-top: 1px solid rgba(11, 11, 11, 0.1);
  border-bottom: 1px solid rgba(11, 11, 11, 0.1);
}

.theme--city-lights .page-loader-wrapper p {
  color: #f1f1f1
}

.theme--city-lights .choices__list--dropdown {
  background-color: var(--background-color-3);
  overflow-x: scroll;
}

.theme--city-lights .choices__list--dropdown .choices__item--choice.is-selected {
  background-color: var(--background-color--main);
}

.theme--city-lights .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--background-color--hover);
}

.theme--city-lights .choices[data-type*=select-multiple] .choices__button, 
.theme--city-lights .choices[data-type*=text] .choices__button {
  border-left-color: var(--background-color--hover);
}
.theme--city-lights .now-next__channel__actions button:hover { 
  background-color: rgba(241,241,241,.3);
}

.theme--city-lights .now-next__channel__actions button:active { 
  background-color: rgba(241,241,241,.1);
}

.theme--city-lights .event-detail__title {
  color: #f1f1f1;
}

.theme--city-lights .event-detail__time,
.theme--city-lights .event-detail__description {
  color: #b2b2b2;
}

.theme--city-lights .event-detail__actions button {
  color: #f1f1f1;
  border: 1px solid rgba(241, 241, 241, 0.2);
  background-color: rgba(241, 241, 241, 0.2);
  border-radius: 2px;
}

.theme--city-lights .event-detail__actions button:hover { 
  background-color: rgba(241,241,241,.3);
}

.theme--city-lights .event-detail__actions button:active { 
  background-color: rgba(241,241,241,.1);
}

.theme--city-lights .event-detail__actions a {
  color: #f1f1f1;
}

.theme--city-lights #bqemain .selectable li {
  color: #b2b2b2;
  border-color: rgba(11, 11, 11, 0.1);
  background: var(--background-color-3);
}

.theme--city-lights #bqemain .selectable .ui-selecting,
.theme--city-lights #bqemain .selectable li:hover {
  background: var(--background-color--hover);
  color: #f1f1f1;
  font-weight: 400;
}

.theme--city-lights #bqemain .selectable .ui-selected {
  background: var(--background-color--main);
  color: #f1f1f1;
  font-weight: 700 !important;
}

.theme--city-lights .bqe__picon,
.theme--city-lights .picon--with-background {
  background-color: var(--background-color--main) !important;
  box-shadow: inset -20px 40px 60px var(--background-color-3) !important;
}

.theme--city-lights .sidebar {
  background: var(--background-color-3);
  /*box-shadow: 2px 2px 5px rgba(255,255,255,.1);*/
}

.theme--city-lights .sidebar .legal {
  background-color: var(--background-color--main) !important;
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights.link--skinned {
  color: #f1f1f1;
}

.theme--city-lights.link--skinned {
  color: #f1f1f1;
}

.theme--city-lights.skin--black .link--skinned:focus,
.theme--city-lights.skin--black .link--skinned:hover {
  color: #b2b2b2;
}

.theme--city-lights .sidebar .legal .copyright a,
.theme--city-lights.black--skinned .sidebar .legal .copyright a {
  color: #b2b2b2 !important;
}

.theme--city-lights .sidebar .menu .list a {
  color: #747474;
}

.theme--city-lights .sidebar .menu .list a:hover,
.theme--city-lights .sidebar .menu .list a:active,
.theme--city-lights .sidebar .menu .list a:focus {
  background-color: var(--background-color--hover);
}

.theme--city-lights .sidebar .menu .list a span {
  color: #f1f1f1;
  font-weight: normal;
}

.theme--city-lights .sidebar .menu .list .header,
.theme--city-lights theme-black .sidebar .menu .list .header {
  background: var(--background-color--main);
}

.theme--city-lights .right-sidebar {
  background: var(--background-color-3);
}

.theme--city-lights .modal-content,
.theme--city-lights .sweet-alert {
  background-color: var(--background-color-3);
}


.theme--city-lights .sweet-alert h2 {
  color: #f1f1f1;
}

.theme--city-lights .sweet-alert p {
  color: #b2b2b2;
}

.theme--city-lights .modal .modal-content .modal-body {
  color: #777;
}

.theme--city-lights .form-control {
  color: #eee;
  background-color: transparent;
}

.theme--city-lights label {
  font-weight: 400;
  color: #f1f1f1;
}

.theme--city-lights [type='checkbox'] + label::before,
.theme--city-lights [type='checkbox']:not(.filled-in) + label::after {
  transition: none;
  /* border: 2px solid #5a5a5a; */
  /* border-color: #b2b2b2; */
}

.theme--city-lights.skin [type='checkbox']:checked.chk--skinned + label::before {
  border-right: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
}

.theme--city-lights [type='radio']:not(:checked) + label::before,
.theme--city-lights [type='radio']:not(:checked) + label::after {
  border-color: #b2b2b2;
}

.theme--city-lights .sweet-alert button.cancel,
.theme--city-lights .btn-default {
  color: #b2b2b2;
}

.theme--city-lights .sweet-alert button.cancel:hover,
.theme--city-lights .btn-default:hover {
  color: #f1f1f1;
}

.sweet-alert button.cancel,
.theme--city-lights .btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background: transparent !important;
}

.theme--city-lights .sweet-alert button.cancel.focus,
.theme--city-lights .btn-default.focus,
.btn-default:focus {
  color: #b2b2b2;
}

.theme--city-lights .btn-default:active,
.theme--city-lights .btn-default.active,
.theme--city-lights .open > .dropdown-toggle.btn-default {
  color: #888;
}

.theme--city-lights .btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #f1f1f1;
}

.theme--city-lights .remote__group .material-icons {
  color: #707070;
}

.theme--city-lights .remote__button {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
  background-color: #707070;
  transition: ease-out 0.4s;
}

.theme--city-lights .remote__button .material-icons {
  color: #f1f1f1;
}

.theme--city-lights .remote__button--arrow {
  background-color: rgba(255, 255, 255, 0.12);
}

.theme--city-lights .progress {
  background-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights.black--skinned .nav > li > a {
  color: var(--background-color-3);
}

.theme--city-lights .nav-tabs {
  border-bottom: 2px solid var(--background-color--hover);
}

.theme--city-lights .nav-tabs > li > a {
  color: #999 !important;
}

.theme--city-lights .nav-tabs li.active a {
  color: #f1f1f1 !important;
}

.theme--city-lights .skin-switcher li.active {
  background-color: var(--background-color--main);
}

.theme--city-lights .skin-switcher li:hover {
  background-color: var(--background-color--hover);
}

.theme--city-lights .skin-switcher li {
  border-bottom-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .nav-tabs > li > a {
  color: #b2b2b2 !important;
}

.theme--city-lights .nav-tabs > li.active > a {
  color: #f1f1f1;
  background-color: var(--background-color--main);
}

.theme--city-lights .nav-tabs > li > a:focus,
.theme--city-lights .nav-tabs > li > a:hover,
.theme--city-lights .nav-tabs > li.active > a:hover {
  background-color: var(--background-color--hover) !important;
}

.theme--city-lights .nav-tabs li.active a {
  color: #f1f1f1 !important;
}

.theme--city-lights .right-sidebar .nav-tabs .active {
  font-weight: 600;
}

.theme--city-lights .right-sidebar #settings .setting-list li {
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .skin-switcher li {
  border-top-color: rgba(11, 11, 11, 0.1);
}

.theme--city-lights .dropdown-menu {
  background-color: var(--background-color--main);
}

.theme--city-lights .dropdown-menu > li > a {
  color: #b2b2b2;
}

.theme--city-lights .bootstrap-select .dropdown-menu li.selected a {
  background-color: var(--background-color-3) !important;
  color: #f1f1f1 !important;
}

.theme--city-lights .dropdown-menu > li > a:focus,
.theme--city-lights .dropdown-menu > li > a:hover {
  color: #b2b2b2;
  background-color: var(--background-color--hover);
}

.theme--city-lights .now-next__channel__actions button {
  color: #f1f1f1;
  border: 1px solid rgba(241, 241, 241, 0.2);
  background-color: rgba(241, 241, 241, 0.2);
  border-radius: 2px;
}

.theme--city-lights .noUi-background {
  background-color: #b2b2b2;
}

/* citation: 0U495EHE7QCYWNFJPFAK9UFZ4U */
.theme--city-lights .leftnav > li:nth-child(7n-4) > a {
  --neon: #FAE1CD;
  --neon-glow: #EE7F4B;
}

.theme--city-lights .leftnav > li:nth-child(7n-3) > a {
  --neon: #C6ECEC;
  --neon-glow: #59B2C8;
}

.theme--city-lights .leftnav > li:nth-child(7n-2) > a {
  --neon: #CAF7FE;
  --neon-glow: #3C50EB;
}

.theme--city-lights .leftnav > li:nth-child(7n-1) > a {
  --neon: #F3DCFC;
  --neon-glow: #E379ED;
}

.theme--city-lights .leftnav > li:nth-child(7n) > a {
  --neon: #F9FEF7;
  --neon-glow: #53B238;
}

.theme--city-lights .leftnav > li:nth-child(7n-6) > a {
  --neon: #F9DBD5;
  --neon-glow: #E14435;
}

.theme--city-lights .leftnav > li:nth-child(7n-5) > a {
  --neon: #FEF9E1;
  --neon-glow: #F8CB6D;
}

.theme--city-lights .leftnav > li > a .material-icons {
  color: inherit !important;
}

.theme--city-lights .leftnav > li > a {
  color: var(--neon) !important;
  text-shadow: 
    0 0 1px #000,
    0 0 2px var(--neon-glow),
    0 0 4px var(--neon-glow),
    0 0 8px var(--neon-glow),
    0 0 4px var(--neon-glow);
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 0.2;
  }
  8% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  62% {
    opacity: 1;
  }
  96% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.theme--city-lights .sidebar .menu .list a {
  animation-delay: 1s;
  padding-top: 9px;
  padding-bottom: 9px;
}

.theme--city-lights .sidebar .menu .list a:hover, .theme--city-lights .sidebar .menu .list a:active, .theme--city-lights .sidebar .menu .list a:focus {
  background: none;
}

.theme--city-lights .sidebar .menu .list a:hover {
  animation-name: pulse;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

.theme--city-lights .sidebar .menu .list i.material-icons {
  margin-top: 6px;
}

.theme--city-lights .sidebar .menu .list a span {
  /* font-family: 'Trebuchet MS', Helvetica, sans-serif; */
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  color: inherit !important;
  font-size: 16px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  letter-spacing: 1px;
}

