span.channel-tag {
  vertical-align: middle;
  font-size: 70%;
  font-style: normal;
  text-align: center;
  display: inline-block;
  min-width: 4.1rem;
  color: #666666;
  border: 1px solid #888888;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

span.NS-DVB-C {
  background-color: rgba(0, 0, 170, 0.2);
}

span.NS-DVB-S {
  background-color: rgba(0, 170, 0, 0.2);
}

span.ST-HDTV {
  background-color: rgba(0, 0, 170, 0.3);
}

span.ST-TV {
  background-color: rgba(170, 170, 170, 0.5);
}

span.ST-RADIO {
  background-color: rgba(20, 110, 120, 0.5);
}

span.UHD {
  background-color: rgba(30, 180, 0, 0.5);
}

span.SD4 {
  background-color: rgba(180, 30, 0, 0.5);
}

span.OPT {
  background-color: rgba(0, 60, 180, 0.5);
}
