#leftmenu {
  width: 180px;
  float: left;
  padding: 0 0 0 0;
  border-bottom-style: none;
  display: block;
}

#leftmenu_top {
  height: 18px;
  margin: 2px;
  padding: 4px;
}

#leftmenu_main {
  margin: 4px;
}

#leftmenu_main h3 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d7edfc;
}

#leftmenu_main ul {
  list-style: none;
  padding-left: 5px;
}

#leftmenu_main ul li {
  list-style: none;
  padding: 0px;
  text-align: left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited {
  display: block;
  list-style: none;
  padding: 0px;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
}

#leftmenu_main #help {
  font-size: 9px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 5px;
}

#leftmenu_main input {
  margin-right: 5px;
}
