#filter WebSafe
<?xml version="1.0" encoding="UTF-8"?>
<e2protection>
	<e2serviceprotection>
		<e2serviceprotectionconfigured>$ps.Configured</e2serviceprotectionconfigured>
		<e2serviceprotectiontype>$ps.Type</e2serviceprotectiontype>
		<e2serviceprotectionsetuppinactive>$ps.SetupPinActive</e2serviceprotectionsetuppinactive>
		<e2serviceprotectionsetuppin>$ps.SetupPin</e2serviceprotectionsetuppin>
	</e2serviceprotection>
</e2protection>
#end filter