{
  "presets": [
    ["@babel/preset-env",
      {
        "debug": true,
        "useBuiltIns": "usage",
        "corejs": { 
          "version": "3.8",
          "proposals": false
        }
      }
    ]
  ],
  "sourceMaps": true
}
